@charset "UTF-8";
/*css 註解*/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.resumeFontSize0 {
  font-size: 26px;
}

.resumeFontSize1 {
  font-size: 24px;
}

.resumeFontSize2 {
  font-size: 22px;
}

.resumeFontSize3 {
  font-size: 20px;
}

.resumeFontSize4 {
  font-size: 18px;
}

.resumeFontSize5 {
  font-size: 16px;
}

.resumeFontSize6 {
  font-size: 14px;
}

.resumeFontSize7 {
  font-size: 12px;
}

.resumeFontSize8 {
  font-size: 10px;
}

.resumeFontSize9 {
  font-size: 8px;
}

.resumeFontSize10 {
  font-size: 6px;
}

.R-resumeFontSize0 {
  font-size: 26px;
}

.R-resumeFontSize1 {
  font-size: 24px;
}

.R-resumeFontSize2 {
  font-size: 22px;
}

.R-resumeFontSize3 {
  font-size: 20px;
}

.R-resumeFontSize4 {
  font-size: 18px;
}

.R-resumeFontSize5 {
  font-size: 16px;
}

.R-resumeFontSize6 {
  font-size: 14px;
}

.R-resumeFontSize7 {
  font-size: 12px;
}

.btn1 {
  width: 144px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn1:hover {
  background-color: #E58C39;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn1 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn1:hover {
    background-color: #E58C39;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.card {
  width: 800px;
  background-color: #F4F1EC;
  margin: 100px auto 0;
  border-radius: 5px;
}
.card .cardUl {
  background-color: #EAA565;
  color: white;
  padding: 32px 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.card .cardUl .cardH1 {
  font-size: 30px;
  text-align: center;
}
.card .cardUl .cardXmark {
  font-size: 24px;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 8px;
}
.card .cardInner {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  color: #313131;
}

.indexBgc01 {
  background-color: #F4F1EC;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #FFFFFF;
}

.login {
  width: 100vw;
  background-color: #F4F1EC;
  padding-top: 64px;
}
.login .card {
  width: 1150px;
  height: 620px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-top: 64px;
  padding-left: 50px;
  padding-right: 50px;
}
.login .card h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.login .card h2 {
  text-align: center;
  line-height: 340px;
}
.login .card ul {
  display: flex;
}
.login .card ul h2 {
  font-size: 64px;
  margin: 0;
}
.login .card ul li {
  position: relative;
}
.login .card li:first-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
  background-color: #D25541;
}
.login .card li:last-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
  background-color: #EAA565;
  left: -45px;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */