@charset "UTF-8";
/*css 註解*/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.resumeFontSize0 {
  font-size: 26px;
}

.resumeFontSize1 {
  font-size: 24px;
}

.resumeFontSize2 {
  font-size: 22px;
}

.resumeFontSize3 {
  font-size: 20px;
}

.resumeFontSize4 {
  font-size: 18px;
}

.resumeFontSize5 {
  font-size: 16px;
}

.resumeFontSize6 {
  font-size: 14px;
}

.resumeFontSize7 {
  font-size: 12px;
}

.resumeFontSize8 {
  font-size: 10px;
}

.resumeFontSize9 {
  font-size: 8px;
}

.resumeFontSize10 {
  font-size: 6px;
}

.R-resumeFontSize0 {
  font-size: 26px;
}

.R-resumeFontSize1 {
  font-size: 24px;
}

.R-resumeFontSize2 {
  font-size: 22px;
}

.R-resumeFontSize3 {
  font-size: 20px;
}

.R-resumeFontSize4 {
  font-size: 18px;
}

.R-resumeFontSize5 {
  font-size: 16px;
}

.R-resumeFontSize6 {
  font-size: 14px;
}

.R-resumeFontSize7 {
  font-size: 12px;
}

body {
  background-color: #F4F1EC;
}

.btn1 {
  width: 144px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn1:hover {
  background-color: #E58C39;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn1 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn1:hover {
    background-color: #E58C39;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn2 {
  width: 144px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn2:hover {
  background-color: #B93520;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn2 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn2:hover {
    background-color: #B93520;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn3 {
  width: 144px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn3:hover {
  background-color: #E58C39;
  color: #FFFFFF;
}
@media screen and (max-width: 428px) {
  .btn3 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn3:hover {
    background-color: #E58C39;
    color: #FFFFFF;
  }
}

.btn4 {
  width: 144px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn4:hover {
  background-color: #B93520;
  color: #FFFFFF;
}
@media screen and (max-width: 428px) {
  .btn4 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn4:hover {
    background-color: #B93520;
    color: #FFFFFF;
  }
}

.btn5 {
  width: 104px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #D25541;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #D25541;
}
.btn5:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn5 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #EAA565;
    color: #D25541;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid #D25541;
  }
  .btn5:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn6 {
  width: 104px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #D25541;
}
.btn6:hover {
  background-color: #B93520;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn6 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #D25541;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid #D25541;
  }
  .btn6:hover {
    background-color: #B93520;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn7 {
  width: 104px;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn7:hover {
  background-color: #E58C39;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn7 {
    width: 104px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn7:hover {
    background-color: #E58C39;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn8 {
  width: 144px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #EAA565;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn8:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn8 {
    width: 144px;
    font-size: 24px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #EAA565;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn8:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn9 {
  width: 256px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn9:hover {
  background-color: #B93520;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn9 {
    width: 256px;
    font-size: 24px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #D25541;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn9:hover {
    background-color: #B93520;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn10 {
  width: 448px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 60px;
}
.btn10:hover {
  background-color: #B93520;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn10 {
    width: 256px;
    font-size: 24px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #D25541;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 60px;
  }
  .btn10:hover {
    background-color: #B93520;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn11 {
  width: 172px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #D25541;
  box-shadow: 4px 4px 4px #c1c1c1;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 60px;
}
.btn11:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn11 {
    width: 85px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #D25541;
    box-shadow: 4px 4px 4px #c1c1c1;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 37px;
  }
  .btn11:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn12 {
  width: 144px;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #D25541;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn12:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn12 {
    width: 144px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #D25541;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn12:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn13 {
  width: 70px;
  font-size: 24px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0);
  color: #313131;
  border: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 40px;
}
.btn13:hover {
  color: #EAA565;
}
@media screen and (max-width: 428px) {
  .btn13 {
    width: 36px;
    font-size: 18px;
    padding: 8px;
    background-color: transparent;
    color: #313131;
    border: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 22px;
  }
  .btn13:hover {
    background-color: #FFFFFF;
  }
}

.btn14 {
  width: 288px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #DB361B;
  color: #FFFFFF;
  border-radius: 0px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  border: 4px solid black;
  display: block;
}
.btn14:hover {
  background-color: #B93520;
  color: #FFFFFF;
}
@media screen and (max-width: 428px) {
  .btn14 {
    width: 104px;
    font-size: 24px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #DB361B;
    color: #FFFFFF;
    border-radius: 0px;
    text-align: center;
    cursor: pointer;
  }
  .btn14:hover {
    background-color: #B93520;
    color: #FFFFFF;
  }
}

.btn15 {
  width: 540px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #EAA565;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 428px) {
  .btn15 {
    width: 144px;
    font-size: 24px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #EAA565;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
}

.btn16 {
  width: auto;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 8px 0;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn16:hover {
  background-color: #EAA565;
}
@media screen and (max-width: 428px) {
  .btn16 {
    width: 36px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: 8px 0;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 22px;
  }
  .btn16:hover {
    background-color: #FFFFFF;
  }
}

.btn17 {
  width: 456px;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  padding: #EAA565 0;
  background-color: #EAA565;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border-width: 0px;
  height: 56px;
}
.btn17:hover {
  background-color: #EAA565;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 428px) {
  .btn17 {
    width: 224px;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
    padding: #EAA565 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 32px;
  }
  .btn17:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.card {
  width: 800px;
  background-color: #F4F1EC;
  margin: 100px auto 0;
  border-radius: 5px;
}
.card .cardUl {
  background-color: #EAA565;
  color: white;
  padding: 32px 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.card .cardUl .cardH1 {
  font-size: 30px;
  text-align: center;
}
.card .cardUl .cardXmark {
  font-size: 24px;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 8px;
}
.card .cardInner {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  color: #313131;
}

.logincard {
  padding-top: 48px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: none;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 0 auto;
}
.logincard .cardH1 {
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .logincard {
    padding-top: 24px;
    width: 352px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
  }
  .logincard .cardH1 {
    font-size: 26px;
    text-align: center;
  }
}

.testbox {
  margin: 16px auto;
  background-color: #FFFFFF;
  border: 6px solid #313131;
  width: 800px;
  padding: 32px 0;
}

.input01 {
  position: relative;
}
.input01 .inputText {
  height: 48px;
  width: 448px;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border-width: 0.5px;
  padding-left: 8px;
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .input01 .inputText {
    height: 36px;
    font-size: 16px;
    padding-left: 4px;
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 428px) {
  .input01 .inputText {
    height: 48px;
    width: 224px;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: 0.5px;
    padding-left: 8px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 428px) and (max-width: 428px) {
  .input01 .inputText {
    height: 36px;
    font-size: 16px;
    padding-left: 4px;
    margin-bottom: 28px;
  }
}

.inputAlert {
  display: block;
  margin-top: -32px;
  color: #EAA565;
  font-size: 18px;
  position: absolute;
  z-index: 2;
}
@media screen and (max-width: 428px) {
  .inputAlert {
    display: block;
    margin-top: -20px;
    color: #EAA565;
    font-size: 18px;
    position: absolute;
    z-index: 2;
  }
}

header {
  background-color: #F4F1EC;
}

.header_inner {
  position: relative;
  z-index: 99;
  width: 1280px;
  margin: 0 auto;
  height: 100px;
  background-color: #F4F1EC;
}
@media screen and (max-width: 428px) {
  .header_inner {
    position: relative;
    height: 60px;
    width: 100%;
  }
}

.logo_img img {
  position: absolute;
  top: 38px;
  left: 30px;
  width: 20%;
  z-index: 99;
}
@media screen and (max-width: 428px) {
  .logo_img img {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 40%;
  }
}

.fa-user {
  position: absolute;
  top: 40px;
  right: 160px;
  font-size: 30px;
  color: #313131;
}
@media screen and (max-width: 428px) {
  .fa-user {
    position: absolute;
    top: 23px;
    left: 280px;
    font-size: 20px;
  }
}

.money_icon {
  position: absolute;
  top: 38px;
  right: 260px;
  font-size: 25px;
  color: #313131;
}
@media screen and (max-width: 428px) {
  .money_icon {
    display: none;
  }
}

.nav-toggle {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 99;
}
@media screen and (max-width: 428px) {
  .nav-toggle {
    position: absolute;
    top: 20px;
    left: 345px;
    width: 30px;
    height: 30px;
  }
}

.nav-toggle span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 3px;
  background: #313131;
  border-radius: 2px;
  transition: all 300ms ease-in-out;
}

.nav-toggle span:nth-child(1) {
  top: 30%;
}

.nav-toggle span:nth-child(3) {
  top: 70%;
}

body.activeNav .nav-toggle span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

body.activeNav .nav-toggle span:nth-child(2) {
  display: none;
}

body.activeNav .nav-toggle span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header_nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 0vh;
  background: #F4F1EC;
  overflow: hidden;
  opacity: 0.8;
  transition: all 500ms ease-in-out;
}

body.activeNav .header_nav {
  opacity: 1;
  height: 100vh;
}

.header_nav .header_links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (max-width: 428px) {
  .header_nav .header_links {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    margin-top: 75px;
    height: 70%;
  }
}

.header_nav .header_links .header_link {
  position: relative;
  margin: 0px 100px;
  height: 37%;
}
@media screen and (max-width: 428px) {
  .header_nav .header_links .header_link {
    margin: 0;
    height: 50%;
  }
}

.header_nav .header_links .header_link ul {
  margin-top: 50px;
}
@media screen and (max-width: 428px) {
  .header_nav .header_links .header_link ul {
    margin-top: 0;
  }
}

.header_nav .header_links .header_link a {
  position: relative;
  top: 80px;
  opacity: 0;
  text-decoration: none;
  color: #313131;
  font-size: 30px;
  font-weight: 600;
  line-height: 60px;
}
@media screen and (max-width: 428px) {
  .header_nav .header_links .header_link a {
    font-size: 26px;
  }
}

.header_nav .header_links .header_link .header_second_a {
  font-size: 20px;
  font-weight: 500;
  top: 100px;
  opacity: 0;
}
@media screen and (max-width: 428px) {
  .header_nav .header_links .header_link .header_second_a {
    font-size: 18px;
  }
}

.header_nav .header_links .header_link a:after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background: #D25541;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
}

.header_nav .header_links .header_link a:hover:after {
  width: 100%;
}

body.activeNav .header_nav .header_links .header_link a {
  top: 0px;
  opacity: 1;
}

.header_nav .header_links > li:nth-child(1) > a {
  transition: all 300ms ease-in-out 500ms;
}

.header_nav .header_links > li:nth-child(1) > ul > li > a {
  transition: all 300ms ease-in-out 500ms;
}

.header_nav .header_links > li:nth-child(2) > a {
  transition: all 300ms ease-in-out 600ms;
}

.header_nav .header_links > li:nth-child(2) ul > li > a {
  transition: all 300ms ease-in-out 600ms;
}

.header_nav .header_links > li:nth-child(3) > a {
  transition: all 300ms ease-in-out 700ms;
}

.header_nav .header_links > li:nth-child(3) > ul > li > a {
  transition: all 300ms ease-in-out 700ms;
}

.header_nav .header_links > li:nth-child(4) > a {
  transition: all 300ms ease-in-out 800ms;
}

.header_nav .header_links > li:nth-child(4) ul > li > a {
  transition: all 300ms ease-in-out 800ms;
}

.header_nav .header_links > li:nth-child(5) > a {
  transition: all 300ms ease-in-out 900ms;
}

.header_nav .header_links > li:nth-child(5) > ul > li > a {
  transition: all 300ms ease-in-out 900ms;
}

/* --------------footer-------------- */
footer {
  width: 100%;
  height: 260px;
  background-color: #2C2F3E;
  padding-top: 64px;
}
@media screen and (max-width: 428px) {
  footer {
    height: auto;
    background-color: #2C2F3E;
    padding-top: 0px;
  }
}

.footer_inner {
  width: 100%;
  background-color: #2C2F3E;
}

.footer_inner ul {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  list-style: none;
}
@media screen and (max-width: 428px) {
  .footer_inner ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.footer_inner li {
  text-align: center;
  flex-basis: 220px;
}
@media screen and (max-width: 428px) {
  .footer_inner li {
    margin-top: 30px;
    flex-basis: auto;
    line-height: 40px;
  }
}

.footer_inner .footer_a {
  font-weight: bold;
  margin-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .footer_inner .footer_a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-bottom: 0px;
  }
}

.footer_inner a {
  display: block;
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-bottom: 32px;
}

.footer_inner h3 {
  color: white;
  text-align: center;
  margin-bottom: 32px;
  font-size: 20px;
}
@media screen and (max-width: 428px) {
  .footer_inner h3 {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 16px;
  }
}

.footer_inner p {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .footer_inner p {
    padding: 0 30px 5px;
  }
}

.footer_inner p a {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.indexBgc01 h2, h3 {
  letter-spacing: 2px;
}

.example {
  font-family: "Noto Sans TC", sans-serif;
}

.indexBgc01 {
  background-color: #F4F1EC;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3;
}

.section1 .section1_test {
  margin-left: 180px;
}

.section1_resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexBgc01 h1 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 60px;
}

@media screen and (max-width: 428px) {
  .section1 {
    flex-direction: column;
  }
  .section1 .section1_test {
    margin-left: 0px;
    text-align: center;
  }
}
.about {
  max-width: 1280px;
  width: 100%;
  margin: 64px auto;
  border-radius: 5px;
}
.about .title {
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  background-color: #EAA565;
  border-radius: 5px 5px 0 0;
  padding: 25px 0;
}
.about .main {
  font-size: 20px;
  background-color: #FFFFFF;
  color: #313131;
  padding: 64px;
  border-radius: 0 0 5px 5px;
}
.about .main div {
  margin-bottom: 50px;
  letter-spacing: 2px;
  line-height: 1.2;
}

.login {
  width: 100vw;
  background-color: #F4F1EC;
  padding-top: 64px;
  padding-bottom: 64px;
}
.login a {
  text-decoration: none;
}
@media screen and (max-width: 428px) {
  .login {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.login .card {
  width: 1152px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .login .card {
    width: 352px;
    height: 208px;
  }
}
.login .card h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .login .card h1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.login .card .choose {
  display: flex;
  margin-left: 3vw;
}
.login .card .choose h2 {
  font-size: 64px;
  text-align: center;
  line-height: 340px;
  font-size: 64px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 428px) {
  .login .card .choose h2 {
    font-size: 26px;
    line-height: 112px;
  }
}
.login .card .choose button {
  position: relative;
  margin-bottom: 32px;
  color: #FFFFFF;
}
.login .card .choose button:first-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
  border-radius: 10px 0 0 5px;
  background-color: #D25541;
}
@media screen and (max-width: 428px) {
  .login .card .choose button:first-child {
    width: 120px;
    height: 112px;
  }
}
.login .card .choose button:first-child:hover {
  background-color: #B93520;
}
.login .card .choose button:last-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
  border-radius: 0 5px 5px 0;
  background-color: #EAA565;
  left: -45px;
  z-index: 1;
}
@media screen and (max-width: 428px) {
  .login .card .choose button:last-child {
    width: 120px;
    height: 112px;
    left: -12px;
  }
}
.login .card .choose button:last-child:hover {
  background-color: #E58C39;
}
.login .card .sign {
  display: flex;
  padding-top: 0;
}
.login .card .sign h4 {
  font-size: 16px;
  line-height: 16px;
}
.login .card .sign button {
  background-color: #FFFFFF;
}
.login .card .sign .alert {
  color: #D25541;
  margin-left: 32px;
}
.login .card .sign .alert:hover {
  color: #922b1b;
}

.landing_page {
  background-color: #F4F1EC;
  padding-top: 64px;
  padding-bottom: 64px;
}
.landing_page a {
  text-decoration: none;
}
@media screen and (max-width: 428px) {
  .landing_page {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.landing_page .card {
  width: 1152px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .landing_page .card {
    width: 352px;
    height: 208px;
  }
}
.landing_page .card h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .landing_page .card h1 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.landing_page .card .choose {
  display: flex;
  margin-left: 3vw;
}
.landing_page .card .choose h2 {
  font-size: 64px;
  text-align: center;
  line-height: 340px;
  font-size: 64px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 428px) {
  .landing_page .card .choose h2 {
    font-size: 26px;
    line-height: 112px;
  }
}
.landing_page .card .choose button {
  position: relative;
  margin-bottom: 32px;
  color: #FFFFFF;
}
.landing_page .card .choose button:first-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
  border-radius: 10px 0 0 5px;
  background-color: #D25541;
}
@media screen and (max-width: 428px) {
  .landing_page .card .choose button:first-child {
    width: 120px;
    height: 112px;
  }
}
.landing_page .card .choose button:first-child:hover {
  background-color: #B93520;
}
.landing_page .card .choose button:last-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
  border-radius: 0 5px 5px 0;
  background-color: #EAA565;
  left: -45px;
  z-index: 1;
}
@media screen and (max-width: 428px) {
  .landing_page .card .choose button:last-child {
    width: 120px;
    height: 112px;
    left: -12px;
  }
}
.landing_page .card .choose button:last-child:hover {
  background-color: #E58C39;
}
.landing_page .card .sign {
  display: flex;
}
.landing_page .card .sign h4 {
  font-size: 16px;
  line-height: 16px;
}
.landing_page .card .sign button {
  background-color: #FFFFFF;
}
.landing_page .card .sign .alert {
  color: #D25541;
  margin-left: 32px;
}
.landing_page .card .sign .alert:hover {
  color: #922b1b;
}

.careertest {
  background-color: #FFA800;
  font-family: "Noto Sans TC", sans-serif;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  box-sizing: border-box;
}

.testbox img {
  display: block;
}

.testbox_logo {
  width: 232px;
  margin: 0px auto 0;
}

.testbox_pic1 {
  width: 272px;
  margin: 0 auto 32px;
  padding: 32px 0 0;
}

.testbox h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.resume_wrapper {
  width: 1280px;
  margin: 0 auto;
}

.container,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.resume_banner1 {
  background-color: #EAA565;
  color: white;
  height: 125px;
  margin-left: 0;
  margin-right: 0;
}

.resume_banner1 .h1-1 {
  line-height: 4;
  font-size: 30px;
}

.resume_banner2 {
  background-color: #EAA565;
  color: white;
  height: 230px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
  margin-top: 30px;
}

.resume_banner2 .h1-2 {
  font-size: 30px;
  margin-top: 10%;
}

.resume_banner2 .h4-1 {
  font-size: 24px;
}

.resume_banner2 img {
  margin-top: 25px;
}

.bread-crumb {
  --bs-breadcrumb-divider: ">";
  font-size: 20px;
  margin: 32px 0;
}

.btn11 {
  margin: 9% 0;
}

.resume {
  margin: 64px 0;
}

.category {
  margin: 30px 0;
}

.category .col-1 {
  padding: 0;
}

.card-body {
  outline: 2px solid rgb(64, 17, 252);
}

.fa-heart {
  font-size: 30px;
  color: red;
}

.findJobWrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin: 32px auto 0px;
}
.findJobWrapper .findJob {
  position: relative;
  background-color: #EAA565;
  border-radius: 5px;
  display: flex;
  padding: 26px 70px;
}
.findJobWrapper .findJob .findJobMain .findJobSearch {
  text-align: left;
  padding-left: 24px;
  margin-bottom: 20px;
}
.findJobWrapper .findJob .findJobMain .findJobSearch ::-moz-placeholder {
  color: #EAA565;
}
.findJobWrapper .findJob .findJobMain .findJobSearch :-ms-input-placeholder {
  color: #EAA565;
}
.findJobWrapper .findJob .findJobMain .findJobSearch ::placeholder {
  color: #EAA565;
}
.findJobWrapper .findJob .findJobMain .findJobSearch input {
  margin-left: 30px;
  outline: none;
  border: 0px;
  font-size: 20px;
  color: #EAA565;
}
.findJobWrapper .findJob .findJobMain .findJobClass {
  color: #FFFFFF;
  margin-bottom: 10px;
}
.findJobWrapper .findJob .findJobMain .findJobClass h3 {
  font-size: 20px;
}
.findJobWrapper .findJob .findJobMain .findJobClass .findJobClassMain {
  display: flex;
}
.findJobWrapper .findJob .findJobMain .findJobClass .findJobClassMain div {
  margin-right: 10px;
}
.findJobWrapper .findJob .findJobMain .findJobType {
  display: flex;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeTitle > div {
  color: #FFFFFF;
  text-align: left;
  margin-right: 40px;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeTitle > div i {
  padding-left: 15px;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeTitle > ul {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #EAA565;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeArea {
  padding: 5px;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeArea li {
  border-bottom: 0.5px solid #EAA565;
  line-height: 2;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeArea li:last-child {
  border-bottom: 0px solid #EAA565;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeSort {
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
  padding: 5px;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeSort .findJobTypeSortTitle {
  text-align: center;
  cursor: pointer;
  border-bottom: 0.5px solid #EAA565;
  border-top: 0.5px solid #EAA565;
  line-height: 1.6;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeSort .findJobTypeSortTitle i {
  margin-left: 10px;
}
.findJobWrapper .findJob .findJobMain .findJobType .findJobTypeSort ul {
  line-height: 2;
}
.findJobWrapper .findJob .findJobPicture img {
  width: 145px;
  position: absolute;
  top: 35px;
  left: 1000px;
}
.findJobWrapper .findJob input[type=checkbox] {
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 14px;
  height: 14px;
  position: relative;
}
.findJobWrapper .findJob input[type=checkbox]:after {
  position: absolute;
  width: 14px;
  height: 14px;
  content: "";
  background-color: #FFFFFF;
  display: inline-block;
  visibility: visible;
  padding: 0px 0px;
  border-radius: 0px;
  border: 1px solid #EAA565;
}
.findJobWrapper .findJob input[type=checkbox]:checked:after {
  content: "V";
  color: #FFFFFF;
  background-color: #EAA565;
  font-size: 14px;
  text-align: center;
}
.findJobWrapper .findJobFind {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 60px;
}
.findJobWrapper .findJobFind .findJobFindSort {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  border: 0.5px solid #EAA565;
  padding: 2px 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #EAA565;
  margin: 10px;
}
.findJobWrapper .findJobFind .findJobFindSort:hover {
  background-color: #EAA565;
  color: #FFFFFF;
}
.findJobWrapper .findJobFind .findJobFindSort p {
  display: block;
  margin-left: 5px;
  align-self: center;
}
.findJobWrapper .findJobFind .findJobFindSort i {
  font-size: 12px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid #EAA565;
  padding: 1px 3px;
}
.findJobWrapper .findJobVacancies {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 54px 65px;
  margin-bottom: 16px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesPicture img {
  width: 170px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesTitle {
  max-width: 700px;
  width: 100%;
  margin-left: 28px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesTitle h3 {
  font-size: 20px;
  margin-bottom: 12px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesTitle p {
  font-size: 16px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesTitle h3 + p {
  margin-bottom: 24px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesTitle p + p {
  line-height: 1.4;
}
.findJobWrapper .findJobVacancies .findJobVacanciesIcon {
  line-height: 2;
  margin-left: 70px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesIcon a {
  display: flex;
  color: #313131;
}
.findJobWrapper .findJobVacancies .findJobVacanciesIcon i {
  align-self: center;
  margin-right: 12px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesBtn {
  display: flex;
  margin-top: 55px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesBtn .btn5 {
  margin-right: 20px;
}
.findJobWrapper .findJobVacancies .findJobVacanciesItem {
  margin-left: 70px;
}

.student_login {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (max-width: 428px) {
  .student_login {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.student_login h1 {
  font-size: 30px;
}
.student_login h4 {
  font-size: 16px;
}
@media screen and (max-width: 428px) {
  .student_login h4 {
    font-size: 16px;
  }
}
.student_login .figure {
  width: 168px;
  height: 168px;
  margin-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .student_login .figure {
    width: 104px;
    height: 104px;
    margin-bottom: 16px;
  }
}
.student_login form {
  margin-top: 32px;
}
@media screen and (max-width: 428px) {
  .student_login form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}
.student_login .gosign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.student_login .gosign h4 :first-child {
  width: 100px;
}
.student_login .otherway {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 16px;
}
@media screen and (max-width: 428px) {
  .student_login .otherway {
    margin-top: 16px;
  }
}
.student_login .otherway:before {
  content: "";
  width: 148px;
  border-bottom: 1px dotted black;
  margin-right: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 428px) {
  .student_login .otherway:before {
    width: 44px;
  }
}
.student_login .otherway:after {
  content: "";
  width: 148px;
  border-bottom: 1px dotted black;
  margin-left: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 428px) {
  .student_login .otherway:after {
    width: 44px;
  }
}
.student_login .social {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .student_login .social {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.student_login .fa-brands {
  display: block;
  font-size: 72px;
  color: #313131;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 428px) {
  .student_login .fa-brands {
    font-size: 48px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.student_login .forgotpw {
  background-color: #FFFFFF;
  float: right;
}
.student_login .forgotpw a {
  color: #D25541;
}
.student_login .btn17 {
  margin-top: 16px;
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .student_login .btn17 {
    margin-bottom: 20px;
  }
}
.student_login .gosign {
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
}
.student_login .gosign h4:last-child {
  color: #D25541;
  margin-left: 16px;
}
.student_login .gosign a {
  color: #D25541;
}

.student_sign {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (max-width: 428px) {
  .student_sign {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.student_sign a {
  background-color: #FFFFFF;
}
@media screen and (max-width: 428px) {
  .student_sign {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.student_sign h1 {
  font-size: 30px;
}
.student_sign h4 {
  font-size: 16px;
}
@media screen and (max-width: 428px) {
  .student_sign h4 {
    font-size: 16px;
  }
}
.student_sign .figure {
  width: 168px;
  height: 168px;
  margin-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .student_sign .figure {
    width: 104px;
    height: 104px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 428px) {
  .student_sign .title {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.student_sign form {
  margin-top: 32px;
}
.student_sign form section:nth-child(4) {
  position: relative;
}
@media screen and (max-width: 428px) {
  .student_sign form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}
.student_sign .sendcode {
  width: 120px;
  height: 51px;
  border-radius: 0 5px 5px 0;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  background-color: #EAA565;
}
.student_sign .sendcode:hover {
  background-color: #E58C39;
}
.student_sign .sendcode h4 {
  color: #FFFFFF;
  background-color: #EAA565;
}
.student_sign .agree {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: none;
}
.student_sign .agree a {
  color: #D25541;
}
.student_sign .btn17 {
  margin-top: 16px;
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .student_sign .btn17 {
    margin-bottom: 20px;
  }
}

.student_forgotPW {
  padding-top: 64px;
  padding-bottom: 64px;
}
.student_forgotPW a {
  background-color: #FFFFFF;
}
@media screen and (max-width: 428px) {
  .student_forgotPW {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.student_forgotPW h1 {
  font-size: 30px;
}
.student_forgotPW h4 {
  font-size: 16px;
}
@media screen and (max-width: 428px) {
  .student_forgotPW h4 {
    font-size: 16px;
  }
}
.student_forgotPW .figure {
  width: 168px;
  height: 168px;
  margin-bottom: 32px;
}
@media screen and (max-width: 428px) {
  .student_forgotPW .figure {
    width: 104px;
    height: 104px;
    margin-bottom: 16px;
  }
}
.student_forgotPW form {
  margin-top: 32px;
}
@media screen and (max-width: 428px) {
  .student_forgotPW form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}
.student_forgotPW .resetpw {
  background-color: #FFFFFF;
  float: right;
}
.student_forgotPW .resetpw a {
  color: #D25541;
}
.student_forgotPW .btn17 {
  margin-top: 16px;
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .student_forgotPW .btn17 {
    margin-bottom: 20px;
  }
}

.jobMainWrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin: 32px auto 0px;
}
.jobMainWrapper .jobMainWrapperTitle {
  color: #FFFFFF;
  margin-bottom: 64px;
  padding: 30px 130px;
  border-radius: 5px;
  background-color: #EAA565;
}
.jobMainWrapper .jobMainWrapperTitle h2 {
  font-size: 24px;
  line-height: 2;
}
.jobMainWrapper .jobMainWrapperTitle div {
  display: flex;
  align-items: center;
}
.jobMainWrapper .jobMainWrapperTitle div img {
  width: 25px;
}
.jobMainWrapper .jobMainWrapperTitle div p {
  font-size: 16px;
  margin-left: 10px;
}
.jobMainWrapper .jobMainWrapperMain {
  padding: 30px 130px;
  margin-bottom: 64px;
  background-color: #FFFFFF;
  display: flex;
  border-radius: 5px;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent {
  max-width: 900px;
  width: 100%;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent .jobMain {
  margin-bottom: 25px;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent .jobMain .jobMainStatement {
  display: flex;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent .jobMain .jobMainStatement h3 {
  font-size: 20px;
  margin-bottom: 25px;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent .jobMain p {
  font-size: 16px;
  line-height: 1.6;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent .jobMainVacanciesBtn {
  display: flex;
  margin-top: 60px;
}
.jobMainWrapper .jobMainWrapperMain .jobMainContent .jobMainVacanciesBtn .btn6 {
  margin-left: 20px;
}
.jobMainWrapper .jobMainWrapperMain .jobMainItem .jobMainIcon {
  line-height: 3;
  margin-left: 40px;
}
.jobMainWrapper .jobMainWrapperMain .jobMainItem .jobMainIcon a {
  color: #313131;
  display: flex;
}
.jobMainWrapper .jobMainWrapperMain .jobMainItem .jobMainIcon i {
  align-self: center;
  margin-right: 12px;
}
.jobMainWrapper .jobMainWrapperCom {
  padding: 30px 130px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 64px;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle {
  display: flex;
  margin-bottom: 50px;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle img {
  width: 112px;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle .jobMainWrapperComIconT {
  margin-left: 35px;
  align-self: center;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle .jobMainWrapperComIconT a {
  color: #313131;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle .jobMainWrapperComIconT a h2 {
  font-size: 24px;
  line-height: 3;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle .jobMainWrapperComIconT .jobMainWrapperComIconTM {
  display: flex;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle .jobMainWrapperComIconT .jobMainWrapperComIconTM .jobMainWrapperComIcon a {
  display: flex;
  color: #313131;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComTitle .jobMainWrapperComIconT .jobMainWrapperComIconTM .jobMainWrapperComIcon a p {
  margin: 0 10px;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComMain h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.jobMainWrapper .jobMainWrapperCom .jobMainWrapperComMain p {
  font-size: 16px;
  line-height: 1.6;
}
.jobMainWrapper .jobMainWrapperOther {
  border-radius: 5px;
  margin-bottom: 64px;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthTitle {
  padding: 30px 130px;
  display: flex;
  align-items: center;
  background-color: #EAA565;
  color: #FFFFFF;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthTitle img {
  width: 50px;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthTitle h2 {
  font-size: 24px;
  margin-left: 15px;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain {
  padding: 30px 130px;
  background-color: #FFFFFF;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain p {
  line-height: 2;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain .findJobVacanciesIcTitle {
  display: flex;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain .findJobVacanciesIcTitle .findJobVacanciesIcon a {
  display: flex;
  color: #313131;
  align-items: center;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain .findJobVacanciesIcTitle .findJobVacanciesIcon a p {
  margin: 0 10px;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain .jobMainWrapperOthBtn {
  display: flex;
  justify-content: end;
  padding-bottom: 20px;
  border-bottom: 1px solid #313131;
}
.jobMainWrapper .jobMainWrapperOther .jobMainWrapperOthMain .jobMainWrapperOthBtn .btn5 {
  margin-right: 20px;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */