@charset "UTF-8";
/*css 註解*/ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: "Noto Sans TC", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.resumeFontSize0 {
  font-size: 26px;
}

.resumeFontSize1 {
  font-size: 24px;
}

.resumeFontSize2 {
  font-size: 22px;
}

.resumeFontSize3 {
  font-size: 20px;
}

.resumeFontSize4 {
  font-size: 18px;
}

.resumeFontSize5 {
  font-size: 16px;
}

.resumeFontSize6 {
  font-size: 14px;
}

.resumeFontSize7 {
  font-size: 12px;
}

.resumeFontSize8 {
  font-size: 10px;
}

.resumeFontSize9 {
  font-size: 8px;
}

.resumeFontSize10 {
  font-size: 6px;
}

.R-resumeFontSize0 {
  font-size: 26px;
}

.R-resumeFontSize1 {
  font-size: 24px;
}

.R-resumeFontSize2 {
  font-size: 22px;
}

.R-resumeFontSize3 {
  font-size: 20px;
}

.R-resumeFontSize4 {
  font-size: 18px;
}

.R-resumeFontSize5 {
  font-size: 16px;
}

.R-resumeFontSize6 {
  font-size: 14px;
}

.R-resumeFontSize7 {
  font-size: 12px;
}

.btn1 {
  width: 144px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn1:hover {
  background-color: #E58C39;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn1 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn1:hover {
    background-color: #E58C39;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn2 {
  width: 144px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn2:hover {
  background-color: #B93520;
  color: #FFFFFF;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn2 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn2:hover {
    background-color: #B93520;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn3 {
  width: 144px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn3:hover {
  background-color: #E58C39;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .btn3 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn3:hover {
    background-color: #E58C39;
    color: #FFFFFF;
  }
}

.btn4 {
  width: 144px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn4:hover {
  background-color: #B93520;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .btn4 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn4:hover {
    background-color: #B93520;
    color: #FFFFFF;
  }
}

.btn5 {
  width: 104px;
  font-size: 16px;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #D25541;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #D25541;
}
.btn5:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn5 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #D25541;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid #D25541;
  }
  .btn5:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn6 {
  width: 104px;
  font-size: 16px;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #D25541;
}
.btn6:hover {
  background-color: #B93520;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn6 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #D25541;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid #D25541;
  }
  .btn6:hover {
    background-color: #B93520;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn7 {
  width: 104px;
  font-size: 20px;
  padding: 8px 0;
  background-color: #EAA565;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn7:hover {
  background-color: #E58C39;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn7 {
    width: 104px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #EAA565;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn7:hover {
    background-color: #E58C39;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn8 {
  width: 144px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #EAA565;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn8:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn8 {
    width: 144px;
    font-size: 24px;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #EAA565;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn8:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn9 {
  width: 256px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn9:hover {
  background-color: #B93520;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn9 {
    width: 256px;
    font-size: 24px;
    padding: 8px 0;
    background-color: #D25541;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn9:hover {
    background-color: #B93520;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn10 {
  width: 448px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #D25541;
  color: #FFFFFF;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 60px;
}
.btn10:hover {
  background-color: #B93520;
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn10 {
    width: 256px;
    font-size: 24px;
    padding: 8px 0;
    background-color: #D25541;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 60px;
  }
  .btn10:hover {
    background-color: #B93520;
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn11 {
  width: 172px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #D25541;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 60px;
}
.btn11:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn11 {
    width: 85px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #D25541;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 37px;
  }
  .btn11:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn12 {
  width: 144px;
  font-size: 16px;
  padding: 8px 0;
  background-color: #FFFFFF;
  color: #D25541;
  box-shadow: 4px 4px 4px #c1c1c1;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn12:hover {
  box-shadow: 0px 0px 0px;
  transform: translateX(4px);
}
@media screen and (max-width: 375px) {
  .btn12 {
    width: 144px;
    font-size: 16px;
    padding: 8px 0;
    background-color: #FFFFFF;
    color: #D25541;
    box-shadow: 4px 4px 4px #c1c1c1;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .btn12:hover {
    box-shadow: 0px 0px 0px;
    transform: translateX(4px);
  }
}

.btn13 {
  width: 68px;
  font-size: 24px;
  padding: 8px 0;
  background-color: transparent;
  color: #313131;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 49px;
}
.btn13:hover {
  background-color: #EAA565;
}
@media screen and (max-width: 375px) {
  .btn13 {
    width: 36px;
    font-size: 18px;
    padding: 8px 0;
    background-color: transparent;
    color: #313131;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    height: 22px;
  }
  .btn13:hover {
    background-color: #FFFFFF;
  }
}

.btn14 {
  width: 288px;
  font-size: 24px;
  padding: 8px 0;
  background-color: #DB361B;
  color: #FFFFFF;
  border-radius: 0px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  border: 4px solid black;
  display: block;
}
.btn14:hover {
  background-color: #B93520;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .btn14 {
    width: 104px;
    font-size: 24px;
    padding: 8px 0;
    background-color: #DB361B;
    color: #FFFFFF;
    border-radius: 0px;
    text-align: center;
    cursor: pointer;
  }
  .btn14:hover {
    background-color: #B93520;
    color: #FFFFFF;
  }
}

.card {
  width: 800px;
  background-color: #F4F1EC;
  margin: 100px auto 0;
  border-radius: 5px;
}
.card .cardUl {
  background-color: #EAA565;
  color: white;
  padding: 32px 0;
  border-radius: 5px 5px 0 0;
  position: relative;
}
.card .cardUl .cardH1 {
  font-size: 30px;
  text-align: center;
}
.card .cardUl .cardXmark {
  font-size: 24px;
  text-align: center;
  position: absolute;
  right: 16px;
  top: 8px;
}
.card .cardInner {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  color: #313131;
}

.testbox {
  background-color: #FFFFFF;
  border: 4px solid black;
  max-width: 800px;
  margin: 100px auto;
  padding: 40px 0;
}

.indexBgc01 {
  background-color: #F4F1EC;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #FFFFFF;
}

.login .card1 {
  background-color: #ffffff;
  width: 1150px;
  height: 620px;
  display: flex;
  flex-direction: column;
}
.login .card1 h1 {
  text-align: center;
}
.login .card1 ul {
  display: flex;
}
.login .card1 ul h2 {
  font-size: 64px;
  margin: 0;
}
.login .card1 li:first-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 1%, 80% 0, 100% 100%, 0% 100%);
  background-color: #D25541;
}
.login .card1 li:first-child h2 {
  margin-left: 135px;
}
.login .card1 li:last-child {
  width: 400px;
  height: 340px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
          clip-path: polygon(0 1%, 100% 0, 100% 100%, 20% 100%);
  background-color: #EAA565;
}
.login .card1 li:last-child h2 {
  margin-right: 135px;
}

body {
  background-color: #FFA800;
  font-family: arial;
}

.testbox img {
  display: block;
}

.testbox_logo {
  width: 304px;
  margin: 32px auto 0;
}

.testbox_pic1 {
  width: 304px;
  margin: 0 auto;
}

.testbox h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 32px;
}/*# sourceMappingURL=style.css.map */