/*css 註解*/
// scss 註解
// var
@import 'base/reset';
@import 'base/font';
@import 'base/color';
@import 'base/other';
@import 'base/image';


//mixin
@import 'mixin/mixin';

//component
@import 'component/btn';
@import 'component/space';
@import 'component/card';
@import 'component/grid';
@import 'component/input';

//layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/backstage_nav';

//page
@import 'page/index';
@import 'page/about';
@import 'page/login';
@import 'page/landing_page';
@import 'page/careertest';
@import 'page/resume';
@import 'page/resume_work_space';
@import 'page/findJob';
@import 'page/popup_window';
// @import 'page/deleteform';
// @import 'page/saveform';
@import 'page/addmodelform';
// @import 'page/nomoneyform';
// @import 'page/shareresumeform';
// @import 'page/pdfform';
@import 'page/resumeform';

@import 'page/student_login';
@import 'page/student_sign';
@import 'page/student_forgotPW';
@import 'page/company_sign';
@import 'page/company_login';
@import 'page/student_addmoney';
@import 'page/student_main';
@import 'page/student_interviewinvite';
@import 'page/Announcevacanciesform';
@import 'page/interviewinviteform';

@import 'page/jobMain';
@import 'page/company';
@import 'page/careertestQA';
@import 'page/resumeReview';
@import 'page/consultant';

@import 'page/contactUs';
@import 'page/applyFor';
@import 'page/saveApply';

@import 'page/backstage';
@import 'page/backstage_login';
@import 'page/backstage_student';
@import 'page/backstage_company';
@import 'page/backstage_com_job';
@import 'page/backstage_resume';
@import 'page/backstage_template';
@import 'page/backstage_resource';
@import 'page/company_main';
@import 'page/backstage_addArticle';
@import 'page/company_check';
@import 'page/company_edit';

@import 'page/resumecheck';
