/*css 註解*/
// scss 註解
// var
@import 'base/reset';
@import 'base/font';
@import 'base/color';
@import 'base/other';
@import 'base/image';


//mixin
@import 'mixin/mixin';

//component
@import 'component/btn';
@import 'component/space';
@import 'component/card';
@import 'component/grid';
@import 'component/input';

//layout
@import 'layout/header';
@import 'layout/footer';

//page
@import 'page/index';
@import 'page/about';
@import 'page/login';
@import 'page/careertest';
@import 'page/resume';
@import 'page/findJob';

@import 'page/studentlogin';

@import 'page/jobMain';
@import 'page/company';
@import 'page/careertestQA';



@import 'page/contactUs';
@import 'page/applyFor';
a {
    text-decoration: none;
}

