/* --------------footer-------------- */

footer {
    margin-top: 64px;
    width: 100%;
    height: 260px;
    background-color: #2C2F3E;
    // padding-top: $space08;

    @include m(){
        height: auto;
        background-color: #2C2F3E;
        padding-top: 0px;
    }
}

.footer_inner {
    width: 100%;
    background-color: #2C2F3E;
}

.footer_inner ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: $space08;
    list-style: none;

    @include m(){
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

}

.footer_inner li {
    text-align: center;
    flex-basis: 220px;

    @include m(){
        margin-top: 30px;
        flex-basis: auto;
        line-height: 40px;  
    }
}

.footer_inner .footer_a {
    padding-top: 30px;
    font-weight: bold;

    @include m(){
        display: block;
        font-size: 18px;
        text-decoration: none;
        color: white;
        margin-bottom: 0px;  
    }
}

.footer_inner a {
    display: block;
    font-size: $fontSize02;
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
}

.footer_inner h3 {
    color: white;
    text-align: center;
    margin-bottom: $space04;
    font-size: $fontSize03;
    @include m(){
        padding-top: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 16px;
       
    }
}

.footer_inner p {
    color: white;
    text-align: center;
    font-size: $fontSize05;
    line-height: 1.2;
    margin-bottom: $space04;
    @include m(){
        padding: 0 30px 5px; 
      
    }
}

.footer_inner p a {
    color: white;
    text-align: center;
    font-size: $fontSize05;
    line-height: 1.2;
}







