
header {
    width: 100%;
    background-color: #F4F1EC;
    height: 100px;
    z-index: 99;
    position: relative;
    @include m(){
        position: relative;
        height: 60px;
        width: 100%;

    }
}

//header 最外層
.header_inner {
    // border: solid 1px black;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;

    @include m(){
        max-width: 375px;
        position: relative;
        height: 60px;
        width: 100%;

    }
}

//logo圖片
.logo_img img {
    position: absolute;
    top: 38px;
    left: 5px;
    // width: 20%;
    width: 256px;
    z-index: 99;
    @include m(){
        position: absolute;
        top: 20px;
        left: 10px;
        // width: 40%;
        width: 150px;

    }
    
}


//會員icon
.fa-user {
    position: absolute;
    top: 43px;
    right: 210px;
    font-size: 30px;
    color: #313131;
    cursor: pointer;
    @include m(){
        position: absolute;
        top: 23px;
        left: 280px;
        font-size: 20px;

    }
    

}

//登出鍵
#member_logout a{
    display: block;
    position: absolute;
    top: 47px;
    right: 300px;
    font-size: 24px;
    color: #313131;
    cursor: pointer;
    // display: none;
    @include m(){
        top: 24px;
        left: 215px;
        font-size: 20px;
        width: 100%;

    }

}

//登出隱藏
.hide{
    display: none;
}

  
//有登入狀態會員頭像顏色變更
.loging{
    color: #D25541 !important;
}




//錢幣icon
.money_icon {
    position: absolute;
    top: 40px;
    right: 110px;
    font-size: 25px;

    color: #313131;
    @include m(){
        display: none;
        
    }

}
//漢堡的父層
.nav-toggle {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 99;
    @include m(){
        position: absolute;
        top: 20px;
        left: 345px;
        width: 30px;
        height: 30px

    }

}

//漢堡用span 組成
.nav-toggle span {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 3px;

    background: #313131;
    border-radius: 2px;
    transition: all 300ms ease-in-out;
}

.nav-toggle span:nth-child(1) {
    top: 30%;
}

.nav-toggle span:nth-child(3) {
    top: 70%;
}

//漢堡點選後變x角度轉變(1)
body.activeNav .nav-toggle span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
//漢堡-第二個 span 消失(2)
body.activeNav .nav-toggle span:nth-child(2) {
    display: none;
}
//漢堡點選後變x角度轉變(3)
body.activeNav .nav-toggle span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


//轉場動畫螢幕
.header_nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0vh;
    background: #F4F1EC;
    overflow: hidden;
    opacity: 0.8;
    transition: all 500ms ease-in-out;
}

body.activeNav .header_nav {
    opacity: 1;
    height: 100vh;
}

//主選單ul
.header_nav .header_links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include m(){
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-around;
        margin-top: 75px;
        height: 70%;
       
    }

}
//主選單li
.header_nav .header_links .header_link {
    position: relative;
    margin: 0px 100px;
    height: 37%;
    @include m(){
        margin:0;
        height:50%;
       
    }

}

.header_nav .header_links .header_link ul {

    margin-top: 50px;
    @include m(){
        margin-top:0;
    }
}

//主選單主標題文字
.header_nav .header_links .header_link a {
    position: relative;
    top: 80px;
    opacity: 0;
    text-decoration: none;
    color: #313131;
    font-size: $fontSize01;
    font-weight: 600;
    line-height: 60px;
    @include m(){
        font-size: $R-fontSize01;
    
       
    }

}
//主選單主副標題文字
.header_nav .header_links .header_link .header_second_a {
    font-size: $fontSize03;
    font-weight: 500;
    top: 100px;
    opacity: 0;
    @include m(){
        font-size: $R-fontSize04;
    
       
    }

}
//主選單文字點選後出現底線編輯
.header_nav .header_links .header_link a:after {
    content: "";
    display: block;
    width: 0%;
    height: 4px;
    background: #D25541;
    border-radius: 4px;
    transition: all 300ms ease-in-out;
}

.header_nav .header_links .header_link a:hover:after {
    width: 100%;
}

body.activeNav .header_nav .header_links .header_link a {
    top: 0px;
    opacity: 1;
}


//主選單點擊漢堡文字轉場動畫效果編輯
.header_nav .header_links>li:nth-child(1)>a {
    transition: all 300ms ease-in-out 500ms;
}

.header_nav .header_links>li:nth-child(1)>ul>li>a {
    transition: all 300ms ease-in-out 500ms;
}

.header_nav .header_links>li:nth-child(2)>a {
    transition: all 300ms ease-in-out 600ms;
}

.header_nav .header_links>li:nth-child(2) ul>li>a {
    transition: all 300ms ease-in-out 600ms;
}

.header_nav .header_links>li:nth-child(3)>a {
    transition: all 300ms ease-in-out 700ms;
}

.header_nav .header_links>li:nth-child(3)>ul>li>a {
    transition: all 300ms ease-in-out 700ms;
}

.header_nav .header_links>li:nth-child(4)>a {
    transition: all 300ms ease-in-out 800ms;
}

.header_nav .header_links>li:nth-child(4) ul>li>a {
    transition: all 300ms ease-in-out 800ms;
}

.header_nav .header_links>li:nth-child(5)>a {
    transition: all 300ms ease-in-out 900ms;
}

.header_nav .header_links>li:nth-child(5)>ul>li>a {
    transition: all 300ms ease-in-out 900ms;
}



