<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html',{
        "title" : "職涯適應測驗"
    })
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>

<body class="bodyCareertest">

    <div id="careertestforvue">
        <main class="careertest" v-if="isshow== -1">
        
            <div class="testbox">
                <a href="index.html" target="_blank"><img src="./images/logo/interngo.png" alt="" class="testbox_logo"></a>
                
                <img src="./images/careertest/1.png" alt="" class="testbox_pic1">
        
                <h1>還想不到想做的工作嗎?</h1>
                <h1>只要3分鐘 探索未來職涯方向!</h1>
    
                <!-- <a href="careertestQA.html" class="careertestSubmit"><button class="btna14">開始測驗</button></a> -->
                <button class="btna14 careertestSubmit" @click="isshow++">開始測驗</button>
                
               
            </div>
    
        </main>

        <main class="careertestQA" v-if=" isshow > -1 && isshow <= questions.length  ">
            <!-- v-if="isshow < 5" -->
    
            <div class="testboxQA" >
                <a href="index.html" target="_blank"><img src="./images/logo/interngo.png" alt="" class="testboxQA_logo"></a>
    
                <div class="testQA" v-for="(question,key) in questions" :class="{'-show': isshow === key}"  >
                    <h1>{{key + 1}} / {{questions.length}}</h1>
                    <h1 class="testqusetion tQA1" :class="'-text-length-'+question.title.length">{{question.title}}</h1>
                    <button class="btna18 a1" v-for="(answer,index) in question.answers" @click="wholeanswer(index,key)" v-if>{{answer.content}}</button>  <!-- I -->
                </div>
    
                <!-- @click="question.answer = answer.value; isshow ++ " -->
    
                <div class="testfinish" v-if="isshow == questions.length ">
                    <h1>測驗完成 !</h1>
                    <input type="text" placeholder="你的名字是...?" v-model="username" class="testName" id="testanswerName">
                    <button class="btna14 tfBtn" id="answerSubmit"  @click="isshow++">查看結果</button>
                </div>
            </div>
        </main>
    
        <main class="careertestresult" v-if="isshow > questions.length ">
            <div class="textboxResult">
                <a href="index.html" target="_blank"><img src="./images/logo/interngo.png" alt="" class="testboxQA_logo"></a>
                <div class="testResult">
    
                    <div class="testresult_left">
                        <img :src="mbtianswer.img" alt="" class="testresultImg" id="img_mbti">
                    </div>
        
                    <div class="testresult_right">
                        <div class="txt1"><span id="txt1_name">{{username}}</span><span>是 {{mbtianswer.title}}</span><span id="txt1_mbti"></span></div>
                        <div class="txt2"><span id="txt2_mbti">{{mbtianswer.description}}</span></span></div>
                        <div class="txt3"><span>最適合做 : {{mbtianswer.job}}</span><span id="txt3_mbti"></span></div>
                        
                        <ul class="testresult_share">
                            <div class="txt4">分享讓更多人知道 !</div>
                            <ul class="iconFI">
                                <li><img src="./images/careertest/icon_facebook.svg" alt=""></li>
                                <li><img src="./images/careertest/icon_instagram.svg" alt=""></li>
                            </ul>
                       </ul>
                            
                    </div> 
    
                </div>
            </div>
    
            <a href="./index.html" class="test_backtoindex"><h3 >回首頁</h3></a>
            
        </main>


    </div>
   
    <script src="https://unpkg.com/vue@2"></script>
    <script src="./js/careertest.js"></script>
    
    
</body>
</html>