<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html',{
        "title" : "顧問"
    })
</head>
<body>

    <div id="consultanttest">

        @@include('./layout/header.html')


        <div class="wrapper_consultant">
            @@include('./layout/breadcrumb4.html',{
            'home' : "首頁",
            'nav' : "資源",
            'item1': "履歷診療室",
            'active' : "顧問",
            'nav_url' : "resumeReview.html",
            'item1_url' : "resumeReview.html",
            })


            <div class="consultant_info">

                <div class="consultant_left" >
                    <img :src="teacherinfo.img" alt="">
                    <h1>{{ teacherinfo.name }}</h1>
                    <h2>{{ teacherinfo.school }}</h2> 
                    <h2>{{ teacherinfo.jobtitle }}</h2>
                    <h2>已健診{{ teacherinfo.times }}人</h2>
                    <button class="btna10">我要健診</button>
                </div>

                <div class="consultant_right">
                    <article>
                        <h1>經歷</h1>
                        <p v-for="item in teacherinfo.jobname">{{ item }}</p>
                        
                    </article>

                    <article>
                        <h1>擅長產業</h1>
                        <p>
                            <span v-for="(item,index) in teacherinfo.industrytype">{{item}}{{ index < teacherinfo.industrytype.length - 1 ? ' / ' : '' }}</span>
                        </p>
                        
                    </article>

                    <article>
                        <h1>擅長職務</h1>
                        <p>
                            <span v-for="(item,index) in teacherinfo.jobclasstype">{{item}}{{index < teacherinfo.jobclasstype.length - 1 ? " / " : ""}}</span>                            
                        </p>
                    </article>

                    <article>
                        <h1>簡介</h1>
                        <p>
                            {{ teacherinfo.description }}
                        </p>
                    </article>
                </div>

            </div>


        </div>

        @@include('./layout/footer.html')

    </div>

    

    <script src="./js/consultanttest.js"></script>

</body>

</html>