<!DOCTYPE html>
<html lang="en">
    @@include('./layout/head.html',{
        "title" : "找實習"
    })
<body>
    <div id="app">
    @@include('./layout/header.html')


    <!-- contactUS -->
    <!-- <div class="contactUSInner" v-if="isShow" @click="close" ></div>
    <div class="card" v-if="isShow"  >
        <ul class="cardUl" >
            <li>
                <h1 class="cardH1">聯絡我們</h1>
            </li>
            <li>
                <i class="fa-solid fa-xmark cardXmark" @click="close"></i>
            </li>
        </ul>
        <div class="cardInner contact">
            <h2>謝謝您的主動聯絡，請留下要諮詢的問題，我們會用以下資訊進行回覆。</h2>
            <form action="">
            <div class="contactUSG">
                <input type="text" name="" value="" placeholder="請輸入電子郵件">
            </div>
            <div class="contactUSM">
                <textarea rows="10" maxlength="200" placeholder="請輸入您的訊息，我們會盡快聯繫您 !!" ></textarea>
            </div>
            <div class="btna3" @click="close">送出</div>
            </form>
        </div>
    </div> -->


    <div class="findJobWrapper">
        @@include('./layout/breadcrumb2.html',{
            'home' : "首頁",
            'nav' : "找實習",
        })
        <div class="findJob">
            <div class="findJobMain">
                <div class="findJobSearch btna15">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="" value="" placeholder="搜尋職稱或公司">
                </div>
                <div class="findJobClass">
                    <div>
                        <h3>熱門職務類別</h3>
                    </div>
                    <div class="findJobClassMain">
                        <div class="btna16">前端工程師</div>
                        <div class="btna16">半導體</div>
                        <div class="btna16">金融</div>
                        <div class="btna16">餐飲</div>
                        <div class="btna16">設計</div>
                        <div class="btna16">業務</div>
                    </div>
                </div>
                <ul class="findJobType">
                    <li class="findJobTypeTitle dd_btn"  data-name="dd_1"><div class="btna16" >地點<i class="fa-solid fa-chevron-down"></i></div>
                        <ul class="findJobTypeArea  dd dd_1" >
                            <li><input type="checkbox" ><label for="">北部</label></li></li>
                            <li><input type="checkbox" ><label for="">中部</label></li></li>
                            <li><input type="checkbox" ><label for="">東部</label></li></li>
                            <li><input type="checkbox" ><label for="">南部</label></li></li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle dd_btn" data-name="dd_2"><div class="btna16">職務類別<i class="fa-solid fa-chevron-down"></i></div>
                        <ul class="findJobTypeSort dd dd_2" >
                            <li><div class="findJobTypeSortTitle">軟體<i class="fa-solid fa-chevron-right"></i></div>
                                <ul>
                                    <li><input type="checkbox"><label for="">前端開發人員</label></li>
                                    <li><input type="checkbox"><label for="">後端開發人員</label></li>   
                                </ul>
                            </li>
                            <li><div class="findJobTypeSortTitle">行銷<i class="fa-solid fa-chevron-right"></i></div>
                                <ul>
                                    <li><input type="checkbox"><label for="">行銷人員</label></li>
                                    <li><input type="checkbox"><label for="">數位行銷人員</label></li> 
                                </ul>
                            </li>
                            <li><div class="findJobTypeSortTitle">金融<i class="fa-solid fa-chevron-right"></i></div>
                                <ul>
                                    <li><input type="checkbox"><label for="">企業財務</label></li>
                                    <li><input type="checkbox"><label for="">管理會計</label></li> 
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle dd_btn" data-name="dd_3"><div class="btna16" >公司規模<i class="fa-solid fa-chevron-down"></i></div>
                        <ul class="findJobTypeArea dd dd_3">
                            <li><input type="checkbox"><label for="">大</label></li>
                            <li><input type="checkbox"><label for="">中</label></li>
                            <li><input type="checkbox"><label for="">小</label></li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle dd_btn" data-name="dd_4"><div class="btna16" >薪資<i class="fa-solid fa-chevron-down"></i></div>
                        <ul class="findJobTypeArea dd dd_4" >
                            <li><input type="checkbox"><label for="">168 / h</label></li>
                            <li><input type="checkbox"><label for="">200 / h</label></li>
                            <li><input type="checkbox"><label for="">250 / h</label></li>
                            <li><input type="checkbox"><label for="">300 / h</label></li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle dd_btn" data-name="dd_5"><div class="btna16" >遠端工作<i class="fa-solid fa-chevron-down"></i></div>
                        <ul class="findJobTypeArea dd dd_5" >
                            <li><input type="checkbox" name="remote"><label for="">是</label></li>
                            <li><input type="checkbox" name="remote"><label for="">否</label></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="findJobPicture">
                <img src="./images/index/findjob.png" alt="">
            </div>
        </div>
        <div class="findJobFind" id="findJobFind">

        </div>
        <div class="findJobVacancies">
            <div class="findJobVacanciesPicture">
                <img src="./images/findJob/comLogo.jpg" alt="">
            </div>
            <div class="findJobVacanciesTitle">
                <h3>醫療客服專案實習師</h3>
                <p>Dr. Right 精準關懷</p>
                <p>化身為醫療院所業主的客服顧問，協助做好醫病關係維繫。不同於一般的傳統客服，Dr.Right 走的是高端醫療客服公關，做為院長與患者間的溝通橋樑。醫療客訴案件處理與追蹤 定期與業主檢討醫療品質問題，協助導入建。</p>
            </div>
            <div class="findJobVacanciesItem">
                <div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="職缺人數"><i class="fa-solid fa-user-tie"></i><p>6</p></a>
                    </div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="地點"><i class="fa-solid fa-location-dot"></i><p>台北</p></a>
                    </div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="薪資"><i class="fa-solid fa-dollar-sign"></i><p>200 / h</p></a>
                    </div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="瀏覽數"><i class="fa-solid fa-eye"></i><p>20</p></a>
                    </div>
                </div>
                
                <div class="findJobVacanciesBtn">
                    <div class="btna5">儲存職缺</div>
                    <div class="btna6">立即應徵</div>
                </div>
            </div>
        </div>
        <div class="findJobVacancies">
            <div class="findJobVacanciesPicture">
                <img src="./images/findJob/comLogo.jpg" alt="">
            </div>
            <div class="findJobVacanciesTitle">
                <h3>醫療客服專案實習師</h3>
                <p>Dr. Right 精準關懷</p>
                <p>化身為醫療院所業主的客服顧問，協助做好醫病關係維繫。不同於一般的傳統客服，Dr.Right 走的是高端醫療客服公關，做為院長與患者間的溝通橋樑。醫療客訴案件處理與追蹤 定期與業主檢討醫療品質問題，協助導入建。</p>
            </div>
            <div class="findJobVacanciesItem">
                <div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="職缺人數"><i class="fa-solid fa-user-tie"></i><p>6</p></a>
                    </div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="地點"><i class="fa-solid fa-location-dot"></i><p>台北</p></a>
                    </div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="薪資"><i class="fa-solid fa-dollar-sign"></i><p>200 / h</p></a>
                    </div>
                    <div class="findJobVacanciesIcon">
                        <a href="" title="瀏覽數"><i class="fa-solid fa-eye"></i><p>20</p></a>
                    </div>
                </div>
                
                <div class="findJobVacanciesBtn">
                    <div class="btna5">儲存職缺</div>
                    <div class="btna6">立即應徵</div>
                </div>
            </div>
        </div>
        <div class="findJobVacancies">
            <div class="findJobVacanciesPicture">
                <img src="./images/findJob/comLogo.jpg" alt="">
            </div>
            <div class="findJobVacanciesTitle">
                <h3>醫療客服專案實習師</h3>
                <p>Dr. Right 精準關懷</p>
                <p>化身為醫療院所業主的客服顧問，協助做好醫病關係維繫。不同於一般的傳統客服，Dr.Right 走的是高端醫療客服公關，做為院長與患者間的溝通橋樑。醫療客訴案件處理與追蹤 定期與業主檢討醫療品質問題，協助導入建。</p>
            </div>
            <div class="findJobVacanciesItem">
                <div>
                    <div>
                        <div class="findJobVacanciesIcon">
                            <a href="" title="職缺人數"><i class="fa-solid fa-user-tie"></i><p>6</p></a>
                        </div>
                        <div class="findJobVacanciesIcon">
                            <a href="" title="地點"><i class="fa-solid fa-location-dot"></i><p>台北</p></a>
                        </div>
                        <div class="findJobVacanciesIcon">
                            <a href="" title="薪資"><i class="fa-solid fa-dollar-sign"></i><p>200 / h</p></a>
                        </div>
                        <div class="findJobVacanciesIcon">
                            <a href="" title="瀏覽數"><i class="fa-solid fa-eye"></i><p>20</p></a>
                        </div>
                    </div>
                </div>
                
                <div class="findJobVacanciesBtn">
                    <div class="btna5">儲存職缺</div>
                    <div class="btna6">立即應徵</div>
                </div>
            </div>
        </div>
        @@include('./layout/pagination.html') 
    </div>
    
    @@include('./layout/footer.html')
    </div>
</body>
<script>
// const findJobTypeTitle = document.getElementsByClassName('findJobTypeTitle');

// for(let i = 0;  i < findJobTypeTitle.length ; i++){
//     findJobTypeTitle[i].firstChild.addEventListener('click',function(e){
//         console.log(this.parentNode);
//         if(!this.parentNode){
            
//         }
//         if(findJobTypeTitle[i].children[1].style.display === 'none'|| findJobTypeTitle[i].children[1].classList.contains('on')){
//             findJobTypeTitle[i].children[1].style.display = 'block'
//             findJobTypeTitle[i].children[1].classList.remove('on')
//         }else if(findJobTypeTitle[i].children[1].style.display === 'block'){
//             findJobTypeTitle[i].children[1].style.display = 'none'
//             findJobTypeTitle[i].children[1].classList.add('on')
//         }
//     })
// }
let navigate = (function() {
	$('.dd').slideToggle();
	$('.dd_btn').click(function() {
		let dataName = $(this).attr('data-name');
		$('.dd').hide();
		$('.' + dataName).slideToggle();
	});
})();
const check = document.querySelectorAll('input[type="checkbox"]')
    console.log(check);
    const findJobFind = document.getElementById('findJobFind')

    for(let i = 0; i < check.length; i++){
        check[i].addEventListener('click',function(e){
            let sortList = check[i].nextElementSibling.innerHTML
            console.log(sortList);
            let li_html = `<div class="findJobFindSort"><p>${sortList}</p><i class="fa-solid fa-xmark cancel"></i></div>`;
            if(check[i].checked == true){
                findJobFind.insertAdjacentHTML("beforeend", li_html)
            }else if(check[i].checked == false){
                
            }
            const cancel = document.getElementsByClassName('cancel')
            for(let a = 0 ; a < cancel.length; a++){
                cancel[a].addEventListener('click',function(e){
                    e.target.parentElement.remove('findJobFindSort')
                    console.log(e.target.parentElement);
                    check[i].checked = false
                })
            }
        })
}


    // new Vue({
    //     el: '#app',
    //     data:{
    //         isShow: false,
    //         // tab_1: false,
    //         // tab_2: false,
    //         // tab_3: false,
    //         // tab_4: false,
    //         // tab_5: false,
    //     },
    //     methods: {
    //         open(){
    //             this.isShow =!this.isShow
    //         },
    //         close(){
    //             this.isShow =!this.isShow
    //         },
    //         // place(){
    //         //     this.tab_1 = !this.tab_1
    //         //     this.tab_2 = false
    //         //     this.tab_3 = false
    //         //     this.tab_4 = false
    //         //     this.tab_5 = false
    //         // },
    //         // sort(){
    //         //     this.tab_2 = !this.tab_2
    //         //     this.tab_1 = false
    //         //     this.tab_3 = false
    //         //     this.tab_4 = false
    //         //     this.tab_5 = false
    //         // },
    //         // scale(){
    //         //     this.tab_3 = !this.tab_3
    //         //     this.tab_1 = false
    //         //     this.tab_2 = false
    //         //     this.tab_4 = false
    //         //     this.tab_5 = false
    //         // },
    //         // money(){
    //         //     this.tab_4 = !this.tab_4
    //         //     this.tab_1 = false
    //         //     this.tab_2 = false
    //         //     this.tab_3 = false
    //         //     this.tab_5 = false
    //         // },
    //         // distance(){
    //         //     this.tab_5 = !this.tab_5
    //         //     this.tab_1 = false
    //         //     this.tab_2 = false
    //         //     this.tab_3 = false
    //         //     this.tab_4 = false
    //         // },
    //     },
    // })

    

</script>
</html>