<!DOCTYPE html>
<html lang="en">
    @@include('./layout/head.html',{
        "title" : "找實習"
    })
<body>
    <div id="app">
    @@include('./layout/header.html')

    @@include('./layout/saveApply.html') 


    <div class="findJobWrapper">
        @@include('./layout/breadcrumb2.html',{
            'home' : "首頁",
            'nav' : "找實習",
        })
        <div class="findJob">
            <div class="findJobMain">
                <div class="findJobSearch btna15">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="" value="" placeholder="搜尋職稱或公司">
                </div>
                <div class="findJobClass">
                    <div>
                        <h3>熱門職務類別</h3>
                    </div>
                    <div class="findJobClassMain">
                        <div class="btna16" v-for="arrFindJobClassMain in findJobClassMainList" :key="arrFindJobClassMain.id">{{arrFindJobClassMain.name}}</div>
                    </div>
                </div>
                <ul class="findJobType">
                    <li class="findJobTypeTitle "><div class="btna16 dd_btn" data-name="dd_1" @click="place">地點<i class="fa-solid fa-chevron-down" data-arrow="dd_1"></i></div>
                        <ul class="findJobTypeArea dd dd_1" v-if="tab_1" >
                            <li v-for="arrPlaceList in placeList" :key="arrPlaceList.id"><input type="checkbox" data-id="1"  v-model="checkedSort" :value="arrPlaceList.name"><label for="Jack">{{arrPlaceList.name}}</label></li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle"><div class="btna16 dd_btn" data-name="dd_2"  @click="sort">職務類別<i class="fa-solid fa-chevron-down" data-arrow="dd_2"></i></div>
                        <ul class="findJobTypeSort dd dd_2" v-if="tab_2">
                            <li><div class="findJobTypeSortTitle">軟體</div>
                                <ul>
                                    <li v-for="arrSortList1 in sortList1" :key="arrSortList1.id" v-if="arrSortList1.sort=='軟體'" ><input type="checkbox" v-model="checkedSort" :value="arrSortList1.name"><label for="">{{arrSortList1.name}}</label></li>
                                </ul>
                            </li>
                            <li><div class="findJobTypeSortTitle">行銷</div>
                                <ul>
                                    <li v-for="arrSortList1 in sortList1" :key="arrSortList1.id" v-if="arrSortList1.sort=='行銷'"><input type="checkbox" v-model="checkedSort" :value="arrSortList1.name"><label for="">{{arrSortList1.name}}</label></li>
                                </ul>
                            </li>
                            <li><div class="findJobTypeSortTitle">金融</div>
                                <ul>
                                    <li v-for="arrSortList1 in sortList1" :key="arrSortList1.id"  v-if="arrSortList1.sort=='金融'"><input type="checkbox" v-model="checkedSort" :value="arrSortList1.name"><label for="">{{arrSortList1.name}}</label></li>
                                </ul>
                            </li> 
                        </ul>
                    </li>
                    <li class="findJobTypeTitle"><div class="btna16 dd_btn" data-name="dd_3"  @click="scale">公司規模<i class="fa-solid fa-chevron-down" data-arrow="dd_3"></i></div>
                        <ul class="findJobTypeArea dd dd_3" v-if="tab_3">
                            <li v-for="arrScale in scaleList" :key="arrScale.id"><input type="checkbox" v-model="checkedSort" :value="arrScale.name"><label for="">{{arrScale.name}}</label></li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle"><div class="btna16 dd_btn" data-name="dd_4" @click="money">薪資<i class="fa-solid fa-chevron-down" data-arrow="dd_4"></i></div>
                        <ul class="findJobTypeArea dd dd_4" v-if="tab_4">
                            <li v-for="arrMoney in moneyList" :key="arrMoney.id"><input type="checkbox" v-model="checkedSort" :value="arrMoney.name"><label for="">{{arrMoney.name}}</label></li>
                        </ul>
                    </li>
                    <li class="findJobTypeTitle"><div class="btna16 dd_btn"  data-name="dd_5" @click="distance">遠端工作<i class="fa-solid fa-chevron-down" data-arrow="dd_5"></i></div>
                        <ul class="findJobTypeArea dd dd_5" v-if="tab_5">
                            <li v-for="arrDistance in distanceList" :key="arrDistance.id"><input type="checkbox" name="remote"  v-model="checkedSort" :value="arrDistance.name"><label for="">{{arrDistance.name}}</label></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="findJobPicture">
                <img src="./images/index/findjob.png" alt="">
            </div>
        </div>
        <div class="findJobFind" id="findJobFind"><div class="findJobFindSort" v-for="(theSort , i) in checkedSort"><p>{{theSort}}</p><i class="fa-solid fa-xmark cancel" @click="remove"></i></div></div>
        <my-list @job-sort="sort"></my-list>
        @@include('./layout/pagination.html') 
    </div>

    </div>
    <div id="app2">
        @@include('./layout/footer.html')
    </div>
    
    
</body>
<script>
// let moveToCom = document.getElementsByClassName('moveToCom')
// console.log(moveToCom);
// for(let i = 0; i < moveToCom.length; i++){
//     moveToCom[i].addEventListener('click', function(){
//         location='./company.html'
//     })
// }

// let moveToJob = document.getElementsByClassName('moveToJob')
// console.log(moveToJob);
// for(let i = 0; i < moveToJob.length; i++){
//     moveToJob[i].addEventListener('click', function(){
//         location='./jobMain.html'
//     })
// }

// let jobMain = document.getElementsByClassName('jobMain')
// for(let i = 0; i < jobMain.length; i++){
//     jobMain[i].addEventListener('click', function(){
//         location = './jobMain.html';
//     })
// }



</script>
</html>