<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html',{
        "title" : "履歷診療室"
    })
</head>

<body>
    @@include('./layout/header.html')
    <div id="resumeReviewtest">
        

        <div class="wrapper_resumeReview">
            @@include('./layout/breadcrumb3.html',{
            'home' : "首頁",
            'nav' : "資源",
            'active' : "履歷診療室",
            'nav_url' : "resumeReview.html",
            })


            <div class="searchbar">
                <ul class="searchbarInner">
                    <div class="searchbarLeft">
                        <li class="consultantIndustrySearch"><button class="btna21" @click="open1">{{industrytype}}<i class="fa-solid fa-chevron-down"></i></button>
                            <ul class="consultantIndustry" v-if="isshow1" >
                                <li><button class="btna22" @click="industrytypeis('電子科技')">電子科技</button></li>
                                <li><button class="btna22" @click="industrytypeis('資訊')">資訊</button></li>
                                <li><button class="btna22" @click="industrytypeis('軟體')">軟體</button></li>
                                <li><buttaon class="btna22" @click="industrytypeis('金融')">金融</button></li>
                                <li><button class="btna22" @click="industrytypeis('休閒')" >休閒</button></li>
                                <li><button class="btna22" @click="industrytypeis('出版')">出版</button></li>
                                <li><button class="abtna22" @click="industrytypeis('藝文相關')">藝文相關</button></li>
                                <li><button class="btna22" @click="industrytypeis('法律')">法律</button></li>
                                <li><button class="btna22" @click="industrytypeis('顧問')">顧問</button></li>
                                <li><button class="btna22" @click="industrytypeis('研發')">研發</button></li>
                                <li><button class="btna22" @click="industrytypeis('餐飲')">餐飲</button></li>
                                <li><button class="btna22" @click="industrytypeis('旅遊')">旅遊</button></li>
                            </ul>
                        </li>

                        <li class="consultantJobSearch"><button class="btna21" @click="open2">{{jobclasstype}}<i class="fa-solid fa-chevron-down"></i></button>
                            <ul class="consultantJob" v-if="isshow2" >
                                <li><button class="btna22" @click="jobclasstypeis('管理幕僚')">管理幕僚</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('人資')" >人資</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('金融')">金融</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('財會')">財會</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('貿易')">貿易</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('客服')" >客服</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('行銷')">行銷</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('資訊')">資訊</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('專案管理')">專案管理</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('顧問')">顧問</button></li>
                                <li><button class="btna22" @click="jobclasstypeis('保險')">保險</button></li>
                            </ul>
                        </li>
                    </div>

                    <button class="btna8">搜尋</button>

                </ul>

            </div>

            <div class="resumeConsultants">

                <div class="consultant" v-for="(teacher,index) in allteachers" >
                    <a :href="teacher.tlink"><img :src="teacher.img" alt=""></a>
                    <div class="consultantSource">
                        <h3 >{{ teacher.tname }}</h3>
                        <h4>{{ teacher.tjobtitle }}</h4>
                        <h4>已經健診{{ teacher.ttimes }}人</h4>
                    </div>
                    <button class="btna9" @click="openreviewcard">我要健診</button>
                    
                </div>
            </div>
            

            @@include('./layout/resumeReviewcard.html') 

            @@include('./layout/pagination.html')
            

        </div>

        
    </div>
    
    @@include('./layout/footer.html')

    <script src="https://unpkg.com/vue@2"></script>
    <script src="./js/resumeReviewtest.js"></script>
</body>

</html>