<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html',{
    "title" : "履歷"
    })
</head>

<body>
    
        <div class="resume_wrapper">
            @@include('./layout/header.html')
            @@include('./layout/breadcrumb2.html',{
            'home' : "首頁",
            'nav' : "履歷",
            })
            <div id="resume">
                <div class="row resume_banner1">
                    <div class="col-8 align-self-center">
                        <h1 class="h1-1">線上製作一份能幫你獲得面試機會的履歷</h1>
                    </div>
                    <div class="col align-self-center">
                        <a href="resume_work_space.html" class="btna11">製作履歷</a>
                    </div>
                </div>
                <div class="row resume_banner2">
                    <div class="col-8 align-self-center">
                        <h1 class="h1-2">履歷範本</h1>
                        <h4 class="h4-1">瀏覽可用於往後設計中的履歷範本</h4>
                    </div>
                    <div class="col align-self-center">
                        <img src="images/resume/resume_banner1.png" alt="">
                    </div>
                </div>

                <main class="resume">
                    <!-- 履歷範本分類 -->
                    <my-category></my-category>

                    <!-- 履歷範本 -->
                    <my-resume_sample></my-resume_sample>                    

                    @@include('./layout/pagination.html')
                </main>
            
            </div>
    </div>
    @@include('./layout/footer.html')

    <script>
        Vue.component('my-category', {
            data() {
                return {
                    categorys: ['全部', '設計', '工程', '管理', '媒體', '銷售', '金融', '行政', '科技', '服務'],
                    current:'全部',
                }
            },
            template: `
            <div class="row category">
                    <div v-for="category in categorys" class="col-1">
                        <button class="btna13" @click="current = category" :class="{'categoryBtn':current === category}">{{category}}</button>
                    </div>
            </div>`,
        })

        Vue.component('my-resume_sample', {
            data() {
                return {
                    count: 0,
                    resume_sample: [],
                    imgURL:'',
                    isPopup: false,
                    like_count:0,
                    Student_id:0,
                }
            },
            methods: {
                open(imgurl) {
                    this.imgURL = imgurl                    
                    this.isPopup = true
                    console.log( this.imgURL)
                },
                close() {
                    this.isPopup = false
                },
                clickLike(likeCount,sId){
                    fetch(`./php/updateResume.php?Student_id=${sId}&like_count=${likeCount}`)
                    .then(rsp => rsp.json())
                    .then(resume_sample => {
                        this.resume_sample = resume_sample;
                    })
                }
            },
            mounted() {
                
                fetch('./php/getResume_sample_All.php')
                    .then(rsp => rsp.json())
                    .then(resume_sample => {
                        this.resume_sample = resume_sample;
                    })

            },
            updated() {
                
            },
            template:
                `   <div class="row resume_sample_row">         
                    <div class="col" v-for="resume in resume_sample">
                        <div class="resume_card">
                            <img :src='resume.IMG_PATH' class="" alt="resume_1">
                            <div class="card_body">
                                <div class="row">
                                    <div class="col-2"><button @click="clickLike(resume.LIKE_COUNT+=1,resume.STUDENT_ID)" class="fa-solid fa-heart"></button></div>
                                    <div class="col-1 align-self-center"><span>{{resume.LIKE_COUNT}}</span></div>
                                    <div class="offset-7 col-1">
                                        <button class="resume_zoom_btn" @click="open(resume.IMG_PATH)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-box-arrow-up-right"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                                                <path fill-rule="evenodd"
                                                    d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                                            </svg>
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="isPopup">
                        <div class="m-a-s-k" @click="close"></div>
                        <div class="resume_zoom">
                            <button class=""><i class="fa-solid fa-xmark" @click="close"></i></button>
                            <img :src="imgURL">
                        </div>
                    </div>
                </div>
            `
        })
        
        new Vue({
            el: '#resume',
            data: {
               

            },
            methods: {
               
                
            },

        })
    </script>
    
</body>

</html>

