<aside class="backstage-nav">
    <a href="../backstage.html"><img src="../images/logo/interngo.png" alt="logo" class="backstage_logo"></a>
    
    <ul>
        <li>
            <a href="../backstage_company.html"><button class="btncomapny"><h2>公司營運分析</h2></button></a>
        </li>
        <li>
            <a href="../backstage_student.html"><button><h2>會員資訊</h2></button></a>
        </li>
        <li>
            <a href="../backstage_resume.html"><button><h2>履歷專區</h2></button></a>
        </li>
        <li>
            <a href="#"><button><h2>實習職缺</h2></button></a>
        </li>
        <li>
            <a href="../backstage_resource.html"><button><h2>求職資源</h2></button></a>
        </li>
        <li>
            <a href="#"><button><h2>討論區</h2></button></a>
        </li>
    </ul>
</aside>

<aside class="backstage-nav2" style="display: none;">
    <a href="../backstage.html"><img src="../images/logo/interngo.png" alt="logo" class="backstage_logo"></a>
    
    <ul>
        <li>
            <a href="../backstage_company.html"><button class="btncomapny"><h2>公司營運分析</h2></button></a>
        </li>
        <li>
            <a href="../backstage_student.html"><button><h2>會員資訊</h2></button></a>
        </li>
        <li>
            <a href="../backstage_resume.html"><button><h2>履歷專區</h2></button></a>
        </li>
        <li>
            <a href="#"><button><h2>實習職缺</h2></button></a>
        </li>
        <li>
            <a href="../backstage_resource.html"><button><h2>求職資源</h2></button></a>
        </li>
        <li>
            <a href="#"><button><h2>討論區</h2></button></a>
        </li>
    </ul>
</aside>