<!----- footer ----->

<footer>

    <div class="footer_inner">

        <ul>
            <li>
                <a href="#" class="footer_a">聯絡我們</a>
            </li>
    
            <li>
                <a href="#" class="footer_a">關於我們</a>
                
            </li>
    
            <li>
                <a href="#" class="footer_a">隱私政策</a>    
            </li>

        </ul>

        <h3>Copyright © INTERNGO 2022</h3>
        <p>本網站為緯育TibaMe前端工程師班第78期學員專題作品，本平台僅供學習、展示之用。</p>
        <p><a href="#">參考資源</a></p>
    </div>

</footer>  