<!----- footer ----->
<div class="contactUSInner" v-if="isShow" @click="close" id="contactUSInner"></div>
<div class="card contactUSInnerCard" v-if="isShow" id="contactUSCard">
    <ul class="cardUl" >
        <li>
            <h1 class="cardH1">聯絡我們</h1>
        </li>
        <li>
            <i class="fa-solid fa-xmark cardXmark" @click="close" id="contactUsClose"></i>
        </li>
    </ul>
    <div class="cardInner contact">
        <h2>謝謝您的主動聯絡，請留下要諮詢的問題，我們會用以下資訊進行回覆。</h2>
        <form action="">
        <div class="contactUSG">
            <input type="text" name="" value="" placeholder="請輸入電子郵件">
        </div>
        <div class="contactUSM">
            <textarea rows="10" maxlength="200" placeholder="請輸入您的訊息，我們會盡快聯繫您 !"  id="talk"></textarea>
            <p id="feedback"></p>
        </div>
        <div class="btna3" @click="close" id="contactUsSubmit">送出</div>
        </form>
    </div>
</div>
<footer>

    <div class="footer_inner">

        <ul>
            <li>
                <a class="footer_a" @click="open" id="contactUsOpen">聯絡我們</a>
            </li>
    
            <li>
                <a href="./about.html" class="footer_a">關於我們</a>
                
            </li>
    
            <li>
                <a href="#" class="footer_a">隱私政策</a>    
            </li>

        </ul>

        <h3>Copyright © INTERNGO 2022</h3>
        <p>本網站為緯育TibaMe前端工程師班第78期學員專題作品，本平台僅供學習、展示之用。</p>
        <p><a href="#">參考資源</a></p>
    </div>

</footer>  

<!-- 套件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>
<script src="https://unpkg.com/vue@2"></script>
<script src="./js/main.js"></script>
<script src="./js/header.js"></script>
<script src="./js/resume.js"></script>
<script src="./js/editTool.js"></script>

<script src="./js/contactUs.js"></script>
<script src="./js/applyFor.js"></script>
<script src="./js/saveApply.js"></script>
