<div id="app2">
<my-list></my-list>
</div>
<!-- 套件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jspdf-html2canvas@latest/dist/jspdf-html2canvas.min.js"></script>
<script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> -->
<script src="https://unpkg.com/vue@2"></script>
<script src="https://unpkg.com/vuex@3"></script>
<script src="https://unpkg.com/vue-router@3"></script>
<script src="./js/main.js"></script>
<script src="./js/header.js"></script>
<script src="./js/resume.js"></script>
<script src="./js/resume_work_space.js"></script>
<script type="module" src="./js/contactUs.js"></script>
<script type="module" src="./js/applyFor.js"></script>
<script src="./js/saveApply.js"></script>
<script type="module" src="./js/findJob.js"></script>
<script type="module" src="./js/jobMain.js"></script>
<script type="module" src="./js/company.js"></script>
<script src="./js/login_logout.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
<script src="./js/buyCoin.js"></script>