<header>

    <div class="header_inner">

        <div class="logo_img">
            <a href="./index.html"  title="首頁">
                <img src="./images/logo/interngo.png" alt="">
            </a>

        </div>

        <ul class="header_icon">
            <li class="member_icon">
                <a href="login.html" title="登入/註冊">
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
            <li class="money_icon">
                <a href="#"  title="儲值">
                    <img src="./images/header_icon/money.png" alt="">
                </a>
            </li>
        </ul>


        <div class="nav-toggle" title="主選單">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="header_nav">

            <ul class="header_links">
                <li class="header_link">

                    <a href="#">履歷</a>
                    <ul>
                        <li><a class="header_second_a" href="resume.html">履歷範本</a></li>
                        <li><a class="header_second_a" href="resume_work_space.html">製作履歷</a></li>
                    </ul>
                </li>

                <li class="header_link">

                    <a href="#">資源</a>
                    <ul>
                        <li><a class="header_second_a" href="#">求職專欄</a></li>
                        <li><a class="header_second_a" href="resumeReview.html">履歷診療室</a></li>
                        <li><a class="header_second_a" href="careertest.html" target="_blank">職業適性測驗</a></li>
                    </ul>
                </li>

                <li class="header_link">

                    <a href="#">找實習</a>
                    <ul>
                        <li><a class="header_second_a" href="findJob.html">職缺列表</a></li>
                    </ul>
                </li>
                <li class="header_link">

                    <a href="#">討論趣</a>
                    <ul>
                        <li><a class="header_second_a" href="#">面試分享</a></li>
                    </ul>
                </li>

            </ul>


        </div>




    </div>
</header>



