<!-- 我要健診 橘色彈窗 -->

<div id="app2">
            
    <div class="resumeReviewCard" v-if="isShow" @click="close"></div> 
    <div class="card2" v-if="isShow">
        <ul class="card2Ul">
            <li><h1 class="card2H1">履歷健診</h1></li>
            <li><i class="fa-solid fa-xmark card2Xmark"></i></li>
        </ul>

        <div class="card2Inner">

            <div class="resumeChoose">
                <label class="resumeChooseTitle">選擇履歷:</label>
                
                <label><input type="radio" name="resume" value="resume1"><span>履歷一</span></label>
                
                <label><input type="radio" name="resume" value="resume2"><span>履歷二</span></label>
                
                <label><input type="radio" name="resume" value="resume3"><span>履歷三</span></label>
                
                <label><input type="radio" name="resume" value="resume4"><span>履歷四</span></label>
                
                <label><input type="radio" name="resume" value="resume4"><span>履歷五</span></label>
            </div>
            

            <h1 class="resumeChooseQuestion">諮詢問題</h1>
            <textarea name="" id="" cols="30" rows="6" placeholder="請輸入問題"></textarea>
            

            <h1 class="resumeChooseQuestion">回覆信箱</h1>
            <input class="mail" type="input" name="" id="" placeholder="請輸入信箱">


            <h1 class="btna3" @click="close">送出</h2>
        </div>

    </div>

</div>


<script src="https://unpkg.com/vue@2"></script>
<script>
    new Vue({
        el:'#app2',
        data:{
            isShow:true,
        },
        methods: {
            open(){
                this.isShow =!this.isShow
            },
            close(){
                this.isShow =!this.isShow
            },
        },
    })

</script>
