<!-- 我要健診 橘色彈窗 -->
          
    <div class="resumeReviewCard" v-if="resumecardshow" @click="closereviewcard" ></div> 
    <div class="card2" v-if="resumecardshow" >
        <ul class="card2Ul">
            <li><h1 class="card2H1">履歷健診</h1></li>
            <li><i class="fa-solid fa-xmark card2Xmark" @click="closereviewcard"></i></li>
        </ul>

        <div class="card2Inner">

            <div class="resumeChoose">
                <label class="resumeChooseTitle">選擇履歷:</label>
                
                <label><input type="radio" name="resume" value="resume1"><span>履歷一</span></label>
                
                <label><input type="radio" name="resume" value="resume2"><span>履歷二</span></label>
                
                <label><input type="radio" name="resume" value="resume3"><span>履歷三</span></label>
                
                <label><input type="radio" name="resume" value="resume4"><span>履歷四</span></label>
                
                <label><input type="radio" name="resume" value="resume4"><span>履歷五</span></label>
            </div>
            

            <h1 class="resumeChooseQuestion">諮詢問題</h1>
            <textarea name="" id="" cols="30" rows="6" placeholder="請輸入問題"></textarea>
            

            <h1 class="resumeChooseQuestion">回覆信箱</h1>
            <input class="mail" type="input" name="" id="" placeholder="請輸入信箱">


            <h1 class="btna3" @click="closereviewcard">送出</h2>
        </div>

    </div>




<!-- <script src="https://unpkg.com/vue@2"></script> -->
<!-- <script>
    new Vue({
        // 以下為要放的三個內容
        data:{
            resumecardshow:false,  // 履歷診療彈窗是否顯示
        },
        methods: {
           openreviewcard(){
                this.resumecardshow =!this.resumecardshow 
            },

            closereviewcard(){
                this.resumecardshow =!this.resumecardshow
            },
        },
    })

</script> -->
