<div class="contactUSInner" id="saveApplyInner"></div>
    <div class="card contactUSInnerCard" id="saveApplyCard">
        <ul class="cardUl">
            <li>
                <h1 class="cardH1">訊息</h1>
            </li>
            <li>
                <i class="fa-solid fa-xmark cardXmark" id="saveApplyClose"></i>
            </li>
        </ul>
        <div class="cardInner contact">
            <div class="title">
                <i class="fa-regular fa-circle-check"></i>
                <h2>已儲存</h2>
            </div>
            <h3>建議您也可以前往主控台查看已儲存職缺</h3>
            <a href="">前往主控台查看</a>
            <div class="btna3" id="saveApplySubmit">確定</div>
        </div>
</div>