

.applyfor{
    max-width: 405px;
    width: 100%;
    margin: 0 auto;
  

}

.applyfor .applyTitle{
    justify-content: center;
}

.applyfor .deleteTitleMain h3{
    font-size: $fontSize02;
    color: $secondary01;
    margin-bottom: $space04;
    margin-left: 10px;
    @include m(){
        font-size: $fontSize04;
    }
}

.fa-circle-check{
    color: #D25541;
}
