
.applyfor{
    max-width: 405px;
    width: 100%;
    margin: 0 auto;
    @include m(){
        max-width: 375px;
    }
    .btna3{
        margin: 0 auto;
    }
    .applyTitle{
        display: flex;
        img{
            max-width: 70px;
            width: 100%;
            @include m(){
                max-width: 32px;
            }
        }
        .applyTitleMain{
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 24px;
            h2{
                font-size: $fontSize02;
                @include m(){
                    font-size: $R-fontSize02;
                    margin-left: 0px;
                }
            }
            h3{
                font-size: $fontSize03;
                @include m(){
                    font-size: $R-fontSize03;
                }
            }   
        }
    }
    .resumeChoose{
        text-align: left;
        display: flex;
        flex-direction: column;
        margin: 24px 0;
        @include m(){
            margin: 30px 18px;
        }
        div{
            margin: 8px 0;
        }
        a{
            margin-left: 16px;
            color: $focus01;
            svg{
                width: 16px;
            }
        }
        h2{
            margin-left: 0px;
        }
    }
    h2{
        text-align: left;
        font-size: $fontSize03;
        @include m(){
            font-size: $R-fontSize03;
            margin-left: 20px;
        }
    }
    textarea{
        resize: none;
        border: 0;
        max-width: 405px;
        width: 100%;
        font-size: $fontSize05;
        padding: 8px;
        outline: none;
        margin: 8px 0 24px;
        @include m(){
            max-width: 320px;
            margin: 18px 18px;
        }
    }
    .mail{
        margin-top: 8px;
        margin-bottom: 32px;
        border: 0;
        max-width: 405px;
        width: 100%;
        font-size: $fontSize05;
        outline: none;
        padding: 8px;
        @include m(){
            max-width: 320px;
            margin: 18px 18px;
        }
    }
}
.applyfor{
    text-align: left;
}
