.backstage_student{    
    // height: 1190px;
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        // text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
        font-weight: bold;
        color: $secondary01;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        padding-bottom: 40px; //到網頁底部的距離
        display: flex;
        flex-direction: column;
        @media screen and (max-width:1850px) { //配合backstage_nav變成漢堡
            width: 100%;
        } 
        //分頁標題
        .title{
            font-weight:bold;
        }
        .wratable{
            width: 100%;
            //header 
            .block{
                width: 100%;
                height: 60px;
                background-color:$focus01;
                color:$secondary02;
                border-right: 3px solid $focus01;
            };
            table{
                width: 100%;
                .thead{
                    border: solid $primary02;
                    .theadtr{
                        display: flex;
                        // justify-content:space-between;
                        th{
                            flex-grow: 1;
                        }
                    }
                }
                th{ //表單各種欄位名稱
                    background-color:$primary02;
                    color:$secondary01;                                        
                    h3{ //統一標題
                        line-height: 60px;
                        font-weight: bold;
                        text-align: center;
                    }                
                }  
                //欄位：公司編號
                .id{
                    h3{
                        text-align: left;
                        margin-left: 16px;
                    }
                }
                //欄位：被檢舉數
                .blacklist{
                    h3{
                        font-weight: bold;
                    }                    
                }
                //欄位：加值紀錄
                .record{
                    h3{
                        font-weight: bold;
                    }                    
                }
                //欄位：詳細資料
                .detail{ 
                    // width: 300px;
                    h3{
                        text-align: right;
                        padding-right: 16px;
                        margin-right: 16px;
                    }
                }
                //"停權"
                .ban{
                    @media screen and (max-width: 1600px) {
                        padding-right: 8px;   
                    }
                }            
                //停權icon
                .fa-ban{
                    width: 30px;
                    height: 30px;
                    margin-top: 10px;
                    opacity: 10%;
                }
                //每筆資料
                .item{
                    display: flex;
                    flex-direction:column;
                    border: solid $primary02;
                    border-top: 0;
                    .itemBasic{ //會員基本資料
                        // display: flex;
                        justify-content: space-between;
                        &:hover{ 
                            background-color:$primary03;                    
                        }
                        >td{
                            flex-grow: 1;
                        }
                    }
                    .itemDetailTile{ //詳細資料欄位
                        display: none;
                        // background-color:$primary03;
                        border-top: 1px solid $primary02;
                        h3{
                            font-weight: bold;
                            color: $secondary01;
                            text-align: left;
                        }
                        //欄位：email
                        .email{
                            // max-width: 160px;
                            flex-grow: 1;
                            h3{
                                padding-left: 16px;
                            }                            
                        }
                        //欄位：電話
                        .phone{
                            // min-width: 160px;
                            flex-grow: 1;
                        }
                        //欄位：地址
                        .address{
                            // min-width: 240px;
                            flex-grow: 6;
                        }
                    }   
                    .itemDetail{ //會員詳細資料
                        display: none;
                        border-top: 1px solid $primary02;
                        // background-color:$primary03;
                        // &:hover{ 
                        //     background-color:$primary03;                    
                        // }
                        h3{
                            text-align: left;
                        }
                        //欄位：email
                        .email{
                            // max-width: 160px;
                            flex-grow: 1;
                            padding-left: 16px;
                        }
                        //欄位：電話
                        .phone{
                            // min-width: 160px;
                            flex-grow: 1;
                        }
                        //欄位：地址
                        .address{
                            // min-width: 240px;
                            flex-grow: 6;
                            text-align: left;
                        }
                    }
                    h3{
                        padding:12px 0; //控制item上下位置
                        text-align: center;
                    }
                    //公司編號
                    .id{
                        h3{
                            text-align: left;
                        }                    
                    }
                    //按鈕：詳細資料
                    .detail{
                        h3{
                            text-align: right;
                        }
                    }
                }                   
            }
        }
        
        
        
        //按鈕：詳細資料
        .btna3{
            height: 40px;
            line-height: 40px;
            &:hover{
                background-color:$secondary02;
            }
            a{
                color:$secondary01;
                font-weight: bold;
            }            
            @media screen and (max-width: 1300px) {
                width:112px; 
            }
        }
    }
}