.backstage_template{    
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    $editHeight:48px; //編輯區塊的高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:1850px) { //配合backstage_nav變成漢堡
            width: 100%;
        }
        //分頁標題
        .title{
            font-weight:bold;
        }
        //header 
        .block{
            width: 100%;
            height: 60px;
            background-color:$focus01;
            color:$secondary02;
            display: flex;
            justify-content: space-between;
            >ul{
                display: flex;
                li{
                    width: 120px;
                    &:hover{
                        background-color:$focus01H;
                    }
                    h3{ //"模板總覽 範本總覽"
                        color:$secondary02;
                        line-height: 60px;
                        font-weight: 600;
                    }
                }
                //範本總覽
                .model{
                    opacity: 50%;
                }
            }
            
        };
        //模板種類
        .category{
            height: 60px;            
            background-color: $primary02;     
            display: flex;    
            //各種分類
            li{
                width: 80px;
                &:hover{
                    background-color: $primary02H;
                }
                h3{
                    font-weight: bold;
                    line-height: 60px;
                }
            }
            .all{
                background-color: $primary02H;
            }
        };
        .content{
            border: 3px solid $primary02;
            border-top: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 30px;
            >li{
                width: 20%;
                margin-right: 20px;
                margin-left: 20px;
                margin-top: 40px;
                box-shadow: 5px 5px 20px $secondary01;
                display: flex;
                flex-direction: column;
                //履歷
                img{
                    display: block;
                    width: 100%;
                }
                //編輯
                .edit{
                    height:$editHeight;                    
                    display: flex;
                    justify-content: space-between;
                    background-color:white;
                    //建立日期
                    h3{
                        line-height: $editHeight;
                        padding-left: 16px;
                        @media screen and (max-width:1500px) {
                            padding-left: 8px;
                            font-size:$fontSize04;
                        }
                        @media screen and (max-width:1280px) {
                            font-size:17px;
                        }
                    }
                    
                    .fa-ban{
                        font-size: 20px;
                        margin-top: 14px;
                        margin-right: 16px;
                        opacity: 10%;
                    } 
                }                    
            }
        }
    }
}
