.backstage_resource{    
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    $editHeight:48px; //編輯區塊的高度
    $block2LineHeight:60px; //統一line-height高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        padding-bottom: 40px; //到網頁底部的距離
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @media screen and (max-width:1850px) { //配合backstage_nav變成漢堡
            width: 100%;
        } 
        //分頁標題
        .title{
            font-weight:bold;
        }
        //header 
        .block{
            width: 100%;
            height: 60px;
            background-color:$focus01;
            border-right: 3px solid #D25541;
            color:$secondary02;
            display: flex;
            justify-content: space-between;    
            //"履歷健檢導師群"
            h3{
                line-height: 60px;      
                font-weight: bold;
                padding-left: 18px;  
            }     
            >li:last-child{
                display: flex;
                //"新增導師"
                .addTeacher{
                    display: flex;
                    line-height:$block2LineHeight;
                    a{
                        color: $secondary02;
                    }
                    h4{
                        line-height:$block2LineHeight;
                    }
                    .fa-solid{
                        font-size: 20px;
                        color: $secondary02;
                        line-height:$block2LineHeight;
                        margin-left: 8px;
                        margin-right: 24px; //與搜尋欄的距離
                    }
                }
            }                  
        };     
        
        //履歷健檢導師群。swiper套件
        .swiper{
            // width: 1500px;
            width: 100%;
            height: 100%;
            overflow: hidden;

            margin-top: 16px;
            margin-bottom: 32px;
            margin-left: auto;
            margin-right: auto;
            .swiper-button-next{ //下一張
                display: block;
                color: $secondary01;
                background-color: white;
                padding: 50px 12px;
                border-radius: 20px 0px 0px 20px;
                right: 0;                
                opacity: 0.6;
                z-index: 1;
            }
            .swiper-button-prev{ //前一張
                display: block;
                color:$secondary01;                
                background-color: white;
                padding: 50px 12px;
                border-radius: 0 20px 20px 0;
                left: 0;
                opacity: 0.6;
                z-index: 1;
            }
            .swiper-wrapper{ //導師群container
                width:100%;
                display: flex;            
                .swiper-slide{ //一張導師card
                    display: block;
                    width: 232px;
                    border-radius: 5px 5px 0 0;
                    margin-right: 32px;
                    img{ //導師照片
                        display: block;
                        width: 100%;               
                        object-fit:cover;
                    }              
                }
                //該導師資訊
                .teacherInform{
                    width: 100%;
                    // height: 215px;
                    background-color: $secondary01;
                    color: $secondary02;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    //導師姓名
                    .tname{
                        font-size: $fontSize02;
                        margin-top: 18px;
                        margin-bottom: 18px;
                    }
                    //擅長領域
                    .major{
                        margin-bottom: 8px;
                    }
                    //已健診人數
                    .match{
                        margin-bottom: 16px;
                    }
                    //"詳細資料"
                    .btna21{
                        width: 120px;
                        font-weight: bold;
                        color:$secondary01;
                        margin-bottom: 24px;
                        
                    }
                }
            }
        }
        
        //文章總覽
        .block2{            
            position: relative;     
            .articleTitle{
                display: flex;
            }
            //文章分類
            .consultantIndustrySearch{
                margin-top: auto;
                margin-bottom: auto;
                .fa-chevron-down{
                    margin-left: 48px;
                }
                .consultantIndustry{
                    display: none;
                    width: 192px; //子選單的寬度                    
                    background-color: white;
                    position: absolute;
                    z-index: 2;
                }
            }            
            //"新增文章"
            .addContent{
                display: flex;
                line-height:$block2LineHeight;
                a{
                    color: $secondary02;
                }
                h4{
                    line-height:$block2LineHeight;
                }
                .fa-solid{
                    font-size: 20px;
                    color: $secondary02;
                    line-height:$block2LineHeight;
                    margin-left: 8px;
                    margin-right: 24px; //與搜尋欄的距離
                }
            }
        }
        //table
        table{
            width: 100%;
            thead{
                border: solid $primary02;
                //欄位標題：文章標題
                .name{
                    h3{
                        text-align: left;
                    }
                }
            }
            th{ //表單各種欄位名稱
                background-color:$primary02;
                color:$secondary01;                        
                h3{ //統一標題
                    // line-height: 60px;
                    font-weight: bold;
                    padding: 20px 0;
                }                
            } 
            //每筆資料
            .item{
                border: solid $primary02;
                border-top: 0;
                &:hover{ //hover時，該筆資料和按鈕都變色
                    background-color:$primary03;                    
                }
                h3{
                    // line-height:  $trheight; //每筆資料垂直置中
                    padding: 25px 0;
                }
                //文章標題
                .name{                    
                    max-width: ˋ00px;
                    h3{
                        text-align: left;
                        line-height: 1.6;
                    }                    
                }
                //"詳細資訊"
                .detail{
                    text-align: right;
                }
                //按鈕：詳細資料
                .btna3{
                    height: 40px;
                    line-height: 40px;
                    &:hover{
                        background-color:$secondary02;
                    }
                    a{
                        color:$secondary01;
                        font-weight: bold;
                    }
                    @media screen and (max-width: 1460px) {
                        width:85px; 
                    }
                }
                //編輯
                .edit{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    .fa-trash{
                        margin-left: 4px;
                    }
                }
            }                
        }
        //彈窗：新增導師
        .backstage_addTeacher{
            $inputWidth:405px; //統一表單寬度
            z-index: 99;
            a{
                color: $secondary02;
            }
            h1{
                margin-top: 0; //清除原本設定
                margin-bottom: 0; //清除原本設定
            }
            h2{
                font-size: $fontSize01;
                font-weight: bold;
            }
            .card3{
                position: absolute; //消除原本設定
                top: 60%; //調整彈窗與上方的距離
            }
            .cardInner{
                max-width: 405px;
                text-align: left;
                h2{
                    text-align: left;
                }
                .question{ //表單標題
                    margin-bottom: 16px;
                }
                .inputText{ //表單欄位
                    width: $inputWidth;
                    border: 0.5px solid $secondary01;
                    margin-bottom: 16px; //消除原本設定
                    
                } 
                textarea{ 
                    width: $inputWidth;
                    max-width: 405px;
                    height: 200px;
                    font-size: $fontSize05;
                    border-radius: 5px;
                    border: 0.5px solid $secondary01;

                    padding: 8px;
                    outline: none;
                    margin-top: 0;
                    margin-bottom: 16px;

                    resize: none;
                }
            }
            .teacherPhoto{
                display: flex;
                margin-bottom: 16px;
                img{
                    height: 100px;
                }
            }
            //欄位：導師擅長產業
            .industry{
                .industrywra{
                    display: flex;
                    flex-wrap: wrap;
                    input{
                        width: 20px;
                        height: 20px;
                    }
                    label{
                        display: flex;
                        margin-bottom: 8px;
                    }
                    h4{
                        margin-left: 8px;
                        margin-right: 16px;
                    }
                }
            }
            //欄位：導師擅長職務
            .skill{
                margin-top: 16px;
                .skillwra{
                    display: flex;
                    flex-wrap: wrap;
                    input{
                        width: 20px;
                        height: 20px;
                    }
                    label{
                        display: flex;
                        margin-bottom: 8px;
                    }
                    h4{
                        margin-left: 8px;
                        margin-right: 16px;
                    }
                }                
            }
            //按鈕
            .edit{
                width:$inputWidth; //暫時。配合text寬度
                display: flex;
                justify-content: flex-end;
                margin-top: 32px;
                .btna3{ //"取消"按鈕
                    margin: 0; //清除原本設定
                    margin-right: 18px;
                    text-align: center;
                }
                .btna4{ //"儲存"按鈕
                    margin: 0; //清除原本設定
                    text-align: center;
                }              
            }
        }
        //彈窗：新增文章
        .backstage_addArticle{
            $inputWidth:405px; //統一表單寬度
            z-index: 99;
            a{
                color: $secondary02;
            }
            h1{
                margin-top: 0; //清除原本設定
                margin-bottom: 0; //清除原本設定
            }
            h2{
                font-size: $fontSize01;
                font-weight: bold;
            }
            .cardInner{
                .question{ //表單標題
                    margin-bottom: 16px;
                }
                .inputText{ //表單欄位
                    width: $inputWidth;
                    border: 0.5px solid $secondary01;
                    margin-bottom: 32px; //消除原本設定
                } 
            }
            .applyfor{
                textarea{ //修改原本設定
                    height: 320px;
                    border-radius: 5px;
                    border: 0.5px solid $secondary01;
                    width: $inputWidth;
                    margin-top: 0;
                }
            }  
            //按鈕
            .edit{
                width:$inputWidth; //暫時。配合text寬度
                display: flex;
                justify-content: flex-end;
                
                .btna3{ //"取消"按鈕
                    margin: 0; //清除原本設定
                    margin-right: 18px;
                    text-align: center;
                }
                .btna4{ //"儲存"按鈕
                    margin: 0; //清除原本設定
                    text-align: center;
                }              
            }
        }
    }

}
