.backstage_student{    
    // height: 1190px;
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        padding-bottom: 40px; //到網頁底部的距離
        display: flex;
        flex-direction: column;
        //分頁標題
        .title{
            font-weight:bold;
        }
        form{
            width: 100%;
        }
        //header 
        .block{
            width: 100%;
            height: 60px;
            background-color:$focus01;
            color:$secondary02;
        };
        table{
            width: 100%;
            thead{
                border: solid $primary02;
            }
            th{ //表單各種欄位名稱
                background-color:$primary02;
                color:$secondary01;                        
                h3{ //統一標題
                    line-height: 60px;
                    font-weight: bold;
                }                
            }  
            //欄位：被檢舉數
            .blacklist{
                h3{
                    font-weight: bold;
                }                    
            }
            //欄位：加值紀錄
            .record{
                h3{
                    font-weight: bold;
                }                    
            }
            //欄位：詳細資料
            .detail{ 
                // width: 300px;
                h3{
                    text-align: right;
                    padding-right: 16px;
                }
            }
            //"停權"
            .ban{
                @media screen and (max-width: 1600px) {
                    padding-right: 8px;   
                }
            }            
            //停權icon
            .fa-ban{
                width: 30px;
                height: 30px;
                margin-top: 10px;
                opacity: 10%;
            }
            //每筆資料
            .item{
                border: solid $primary02;
                border-top: 0;
                &:hover{ //hover時，該筆資料和按鈕都變色
                    background-color:$primary02;
                    .btna3{
                        background-color:$secondary02;
                    }
                }
                h3{
                    line-height:  $trheight; //每筆資料垂直置中
                }
            }                
        }
        
        //按鈕：詳細資料
        .btna3{
            height: 50px;
            line-height: 40px;
            a{
                color:$secondary01;
                font-weight: bold;
            }
            @media screen and (max-width: 1300px) {
                width:112px; 
            }
        }
    }
}