.backstage_student{    
    height: 100rem;
    background-color:$secondary02;
    display: flex;
    $tableWidth:1500px; //table最大寬度
    $trheight:80px; //每筆資料高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
    }
    .wrapper{
        margin-left: 36px; //與左側nav的距離
        .block{
            width:$tableWidth;
            height: 60px;
            background-color:$focus01;
            color:$secondary02;
            input{
                height: 40px;
                float: right;
                margin-top: 10px;
                margin-right: 20px;
                padding-left: 10px;
                z-index: 2;
            }
        };
        table{
            width:$tableWidth;
            th{ //表單各種欄位名稱
                flex-direction: row;
                justify-content:start;
                background-color:$primary02;
                color:$secondary01;                        
                h3{ //統一標題
                    line-height: 60px;
                    font-weight: bold;
                }                
            }
            //欄位：會員編號
            .id{ 
                width:200px;
            }
            //欄位：會員姓名
            .name{ 
                width:100px;
            }
            //欄位：性別
            .gender{ 
                width:100px;
            }
            //欄位：會員生日
            .birthday{ 
                width: 100px;
            }
            //欄位：點數
            .coin{ 
                width: 100px;
            }
            //欄位：被檢舉數
            .blacklist{ 
                width: 100px;
            }
            //欄位：加值紀錄
            .record{ 
                width: 100px;
            }
            //欄位：詳細資料
            .detail{ 
                width: 300px;
                h3{
                    text-align: right;
                    padding-right: 16px;
                }
            }    
            //欄位：建立日期
            .create-date{ 
                width: 120px;
            }            
            //欄位：是否停權
            .ban{
                width: $trheight;
            }
        }
        //每筆資料
        .item{
            width:$tableWidth;
            h3{
                line-height:  $trheight; //每筆資料垂直置中
            }
            //停權icon
            .fa-ban{
                width: 30px;
                height: 30px;
                margin-top: 10px;

            }
        }
        //按鈕：詳細資料
        .btna3{
            height: 50px;
            line-height: 40px;
            a{
                color:$secondary01;
                font-weight: bold;
            }
        }
    }
}