.backstage_resume{    
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    $editHeight:48px; //編輯區塊的高度
    $block2LineHeight:60px;
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:1850px) { //配合backstage_nav變成漢堡
            width: 100%;
        }
        //分頁標題
        .title{
            font-weight:bold;
        }
        //header 
        .block{
            width: 100%;
            height: 60px;
            background-color:$focus01;
            color:$secondary02;
            display: flex;
            justify-content: space-between;
            .block-left{
                display: flex;
                li{
                    width: 120px;
                    &:hover{
                        background-color:$focus01H;
                    }
                    h3{ //"模板總覽 範本總覽"
                        color:$secondary02;
                        line-height: 60px;
                    }
                }
                //範本總覽
                .template{
                    opacity: 50%;
                }
            }
            .block-right{
                display: flex;
                //新增模板
                .add{
                    display: flex;
                    line-height: $block2LineHeight;
                    h4{
                        line-height: $block2LineHeight;
                    }
                    .fa-solid{
                        font-size: 20px;
                        color: $secondary02;
                        margin-left: 8px;
                        margin-right: 24px;
                    }
                }
            }
            
        };
        //模板種類
        .category{
            height: 60px;            
            background-color: $primary02;     
            display: flex;    
        };
        .content{
            border: 3px solid $primary02;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-around;
            justify-content: start;
            padding: 32px 0;
            li{ //一張履歷模板
                width: 20%;
                margin: auto 35px 48px 35px;
                box-shadow: 2px 2px 10px $secondary01;
                border-radius:5px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                @media screen and (max-width:1850px) {
                    margin-right: 32px;
                }
                // @media screen and (min-width:1850px) { //配合backstage_nav變成漢堡
                //     padding-right: 30px;
                //     padding-left: 30px;
                // }
                //履歷
                img{
                    display: block;
                    width: 100%;
                }
                //編輯
                .edit{
                    height:$editHeight;                    
                    display: flex;
                    justify-content: space-between;
                    background-color:white;
                    //建立日期
                    h3{
                        line-height: $editHeight;
                        padding-left: 16px;
                        @media screen and (max-width:1500px) {
                            padding-left: 8px;
                            font-size:$fontSize04;
                        }
                        @media screen and (max-width:1280px) {
                            font-size:17px;
                        }
                    }
                    //icon 編輯 刪除 
                    .editIcon{
                        display: flex;
                        margin-right: 16px;
                        @media screen and (max-width:1500px) {
                            margin-right: 8px;
                        }
                        .fa-solid{
                            display: block;
                            font-size: 20px;
                            margin-left: 16px;
                            line-height:$editHeight;
                            @media screen and (max-width:1500px) {
                                margin-left: 8px;
                            }           
                                          
                        }          
                    }
                }                    
            }
        }
    }
}
