.backstage_template{    
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    $editHeight:48px; //編輯區塊的高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:1850px) { //配合backstage_nav變成漢堡
            width: 100%;
        }
        //分頁標題
        .title{
            font-weight:bold;
        }
        //header 
        .block{
            width: 100%;
            height: 60px;
            background-color:$focus01;
            color:$secondary02;
            display: flex;
            justify-content: space-between;
            >ul{
                display: flex;
                li{
                    width: 120px;
                    &:hover{
                        background-color:$focus01H;
                    }
                    h3{ //"模板總覽 範本總覽"
                        color:$secondary02;
                        line-height: 60px;
                        font-weight: 600;
                    }
                }
                //範本總覽
                .model{
                    opacity: 50%;
                }
            }
            
        };
        //模板種類
        .category{
            height: 60px;            
            background-color: $primary02;     
            display: flex;    
            //各種分類
            // li{
            //     width: 80px;
            //     &:hover{
            //         background-color: $primary02H;
            //     }
            //     h3{
            //         font-weight: bold;
            //         line-height: 60px;
            //     }
            // }
            //欄位 全部
            // .all{
            //     background-color: $primary02H;
            // }

            //欄位按鈕
            .btna13{
                &:hover{
                    color:$secondary02; //更改原本btna13設定
                    background-color:$primary02H;
                }
            }
            //欄位按鈕
            .category-mid{
                text-align: center;
                .categoryBtn{ //修改btna13設定
                    width: 100%;
                    font-weight: bold;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            
        };
        //履歷模板 容器
        .resumeWra{
            border: 3px solid $primary02;
            border-top: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content:start;
            padding: 32px;
            overflow: hidden;
            .resumeCard{ //一張履歷
                margin-right: 24px; //履歷的間距
                margin-bottom: 24px;
                border-radius:20px;
                box-shadow: 2px 2px 10px $secondary01;
                @media screen and (max-width:1850px) {
                    margin-right: 32px;
                }
                img{ //履歷
                    display: block; //消除奇怪的空白
                    height: 450px; //調整到適合大小
                }
            }
            .toggleResume{ //Vue data。被停權時，履歷屬性改變
                opacity: 0.6;
            }

            //履歷模板 資訊
            .data{
                height: 60px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                background-color:$primary03;
                border-top: 0;
                
                padding-left: 16px;
                padding-right: 16px;
                
                h3{
                    line-height: 60px;
                    font-weight: bold;
                }
                //停權icon
                .fa-ban{
                    font-size: 20px;
                }
                .toggleBan{ //Vue 開關停權icon使用
                    opacity: 10%;
                }
            }
        }
    }
}
