.backstage_resource{    
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度
    $editHeight:48px; //編輯區塊的高度
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1200px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        padding-bottom: 40px; //到網頁底部的距離
        display: flex;
        flex-direction: column;
        //分頁標題
        .title{
            font-weight:bold;
        }
        //header 
        .block{
            width: 100%;
            height: 60px;
            background-color:$focus01;
            color:$secondary02;
            display: flex;
            justify-content: space-between;    
            //"履歷健檢導師群"
            h3{
                line-height: 60px;      
                font-weight: bold;
                padding-left: 18px;  
            }            
        };     
        //swiper套件
        // .swiper-container {
        //     width: 100%;
        //     height: 100%;
        //     margin-left: auto;
        //     margin-right: auto;
        //   }
      
        //   .swiper-slide {
        //     text-align: center;
        //     font-size: 18px;
        //     background: #fff;
        //     height: calc((100% - 30px) / 2);
      
        //     /* Center slide text vertically */
        //     display: -webkit-box;
        //     display: -ms-flexbox;
        //     display: -webkit-flex;
        //     display: flex;
        //     -webkit-box-pack: center;
        //     -ms-flex-pack: center;
        //     -webkit-justify-content: center;
        //     justify-content: center;
        //     -webkit-box-align: center;
        //     -ms-flex-align: center;
        //     -webkit-align-items: center;
        //     align-items: center;
        //   }           
        //導師群slide
        .containTeacher{
            overflow: hidden;         
            .conSliTeacher{            
                display: flex;
                justify-content: space-between;
                padding-left: 0; //清除原設
                padding-right: 0; //清除原設
                overflow: hidden;
                .slideTeacher{
                    width: 232px;
                    border-radius: 5px;
                    display: flex;
                    // flex-grow: 1;
                    flex-direction: column;
                    margin-top: 24px;
                    margin-left: 9px;
                    margin-right: 9px;
                    img{ //導師照片
                        display: block;
                        width: 100%;
                        
                    }
                    .btna21{
                        width: 120px;
                    }
                }
                //導師詳細資料
                .inform{
                    width: 100%;
                    height: 215px;
                    background-color: $secondary01;
                    color: $secondary02;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    li{
                        text-align: center;
                    }
                    //導師名稱
                    .name{
                        font-size: $fontSize03;
                        margin-top: 18px;
                        margin-bottom: 18px;
                    }
                    .major{
                        margin-bottom: 8px;
                        float: left;
                    }
                    .match{
                        margin-bottom: 53px; //和按鈕的距離
                        float: left;
                    }
                }
            }   
        }
        
        
        //文章總覽
        .block2{            
            position: relative;
            margin-top: 48px;
            $block2LineHeight:60px; //統一line-height高度
            >li{
                display: flex;
            }
            //文章分類
            .consultantIndustrySearch{
                margin-top: auto;
                margin-bottom: auto;
                .fa-chevron-down{
                    margin-left: 48px;
                }
                .consultantIndustry{
                    background-color: white;
                    position: absolute;
                    z-index: 2;
                }
            }            
            //"新增導師"
            .add{
                display: flex;
                line-height:$block2LineHeight;
                a{
                    color: $secondary02;
                }
                h4{
                    line-height:$block2LineHeight;
                }
                .fa-solid{
                    font-size: 20px;
                    color: $secondary02;
                    margin-left: 8px;
                    margin-right: 24px; //與搜尋欄的距離
                }
            }
        }
        //table
        table{
            width: 100%;
            thead{
                border: solid $primary02;
                //欄位標題：文章標題
                .name{
                    h3{
                        text-align: left;
                    }
                }
            }
            th{ //表單各種欄位名稱
                background-color:$primary02;
                color:$secondary01;                        
                h3{ //統一標題
                    // line-height: 60px;
                    font-weight: bold;
                    padding: 20px 0;
                }                
            } 
            //每筆資料
            .item{
                border: solid $primary02;
                border-top: 0;
                &:hover{ //hover時，該筆資料和按鈕都變色
                    background-color:$primary02;
                    .btna3{
                        background-color:$secondary02;
                    }
                }
                h3{
                    // line-height:  $trheight; //每筆資料垂直置中
                    padding: 25px 0;
                }
                //文章標題
                .name{                    
                    max-width: ˋ00px;
                    h3{
                        text-align: left;
                        line-height: 1.6;
                    }                    
                }
                //"詳細資訊"
                .detail{
                    text-align: right;
                }
                //按鈕：詳細資料
                .btna3{
                    height: 40px;
                    line-height: 40px;
                    a{
                        color:$secondary01;
                        font-weight: bold;
                    }
                    @media screen and (max-width: 1460px) {
                        width:85px; 
                    }
                }
                //編輯
                .edit{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    .fa-trash{
                        margin-left: 4px;
                    }
                }
            }                
        }
    }
}
