.backstage_company_job_detail{    
    height: 100%;
    background-color:$secondary02;
    display: flex;
    $trheight:80px; //每筆資料高度
    $winheight:1190px; //網頁高度   
    h1{
        font-size:$fontSize01;
        margin-top:44px;
        margin-bottom:28px;
    }
    h2{
        font-size:$fontSize02;
    }
    h3{ //統一h3
        font-size:$fontSize03;
        text-align:center;
        @media screen and (max-width: 1400px) {
            font-size:$fontSize04;  
        }
        @media screen and (max-width: 1280px) {
            font-size:$fontSize05;  
        }
    }
    h4{
        font-size: $fontSize04;
    }
    a{
        color:$secondary01;
    }
    .wrapper{
        width: calc(100% - 250px);
        padding-right:36px; //與左側nav的距離
        padding-left:36px;
        padding-bottom: 40px; //到網頁底部的距離
        display: flex;
        flex-direction: column;
        @media screen and (max-width:1850px) { //配合backstage_nav變成漢堡
            width: 100%;
        }        
        //分頁標題
        .title{
            font-weight:bold;
        }
        .wratable{
            width: 100%;
            //header 
            .block{
                width: 100%;
                height: 60px;
                background-color:$focus01;
                color:$secondary02;
                border-right: 3px solid $focus01;
            };            
            table{
                width: 100%;
                thead{
                    border: solid $primary02;
                    h3{
                        @media screen and (max-width: 1820px) {
                            font-size:$fontSize04;                    
                        }
                    }   

                }
                th{ //表單各種欄位名稱
                    height: 60px;
                    background-color:$primary02;
                    color:$secondary01;                        
                    h3{ //統一標題
                        padding-top: 20px;
                        font-weight: bold;
                    }                      
                }  
                
                //每筆資料
                .item{
                    vertical-align: middle;
                    border: solid $primary02;
                    border-top: 0;
                    
                    h3{
                        // height:$trheight;
                        line-height: 1.6;
                        padding: 12px 0;
                        vertical-align: middle; //垂直置中
                        // text-align: left;
                        // padding-left: 16px;
                        @media screen and (max-width: 1850px) {
                            font-size:$fontSize04;                 
                        }
                        @media screen and (max-width: 1600px) {
                            text-align: left;
                            padding-left: 16px;              
                        }
                    }                    
                }                
            }
        }
    }
}