.careertest{
    background-color: #FFA800;
    font-family: $fontFamily;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    box-sizing: border-box;
    
}



.testbox img{
    display: block;
}

.testbox_logo{
    width: 232px;
    margin: 0px auto 0;    
}

.testbox_pic1{
    width: 280px;
    margin: 0 auto 24px;
    padding: 40px 0 40px;
}

.testbox h1{
    font-family: $fontFamily;
    font-size: $fontSize01;
    text-align: center;
    font-weight: bold;
    margin-bottom: 32px;
}

.testbox a{
    display: block;
    margin-top: 64px;
}

