.testboxQA{

    // display: none;

    .testboxQA_logo{
        width: 232px;
        margin: 0 auto;
        display: block;    
    
        @include m(){
            width: 164px;
        }
    }

    h1{
        font-family: $fontFamily;
        font-size: $fontSize01;
        text-align: center;
        font-weight: bold;
        margin-bottom: 28px;
    
        @include m(){
            font-size: $R-fontSize03;
            margin-bottom: 28px;
        }
    }

    .btna18{
        margin-bottom: 104px;

        @include m(){
            margin-bottom: 72px;
    
        }
        line-height: 1.5;
    }

    .btna14{
      
        line-height: 1.5;
    }

}

//職涯測驗問題
.testboxQA{
    @include testbox();
    // max-height: 740px;
    margin: 80px auto;
    width: 800px;
    height: 740px;

    @include m(){
        margin: 0px auto 0;
    
        width: 325px;
        height: 80vh;

    }
}


.testQA{
    margin-top: 56px;
    text-align: center;

    .testqusetion{
        // margin-bottom: 96px;
        margin: 0 auto 96px;
        

        @include m(){
            margin-bottom: 64px;
    
        }

    }

    .tQA1{
        width: 14ch;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        overflow:hidden;
        border-right: .05em solid;
        animation: typing 1s steps(15),caret 1s steps(1) infinite;
    }

    .tQA2{
        width: 24ch;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        overflow:hidden;
        border-right: .05em solid;
        animation: typing 1.2s steps(15),caret 1s steps(1) infinite;
    }

    .tQA3{
        width: 24ch;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        overflow:hidden;
        border-right: .05em solid;
        animation: typing 1.2s steps(15),caret 1s steps(1) infinite;
    }

    .tQA4{
        width: 18ch;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        overflow:hidden;
        border-right: .05em solid;
        animation: typing 1.2s steps(15),caret 1s steps(1) infinite;
    }


}

//職涯測驗答案
.textboxResult{
    @include testbox();
    max-width: 1504px;
    padding: 32px 40px;
    height: 960px;
    box-sizing: border-box;

    @include m(){
        margin: 0px auto 0;
    
        width: 325px;
        height: auto;
        padding: 32px 0;

    }


    
}


.question1{
    // display: none;
}

.question2{
    display: none;
}

.question3{
    display: none;
}

.question4{
    display: none;
}

.testfinish{
    display: none;
}


.testfinish{
    margin-top: 56px;
    text-align: center;

    h1{
        margin-bottom: 72px;
        width: 10ch;
        white-space: nowrap;
        display: inline-block;
        text-align: center;
        overflow:hidden;
        border-right: .05em solid;
        animation: typing 0.9s steps(15),caret 1s steps(1) infinite;
    }
    input{
        font-size: 24px;
        text-align: center;
        width: 440px;
        padding: 8px 0;
        display: block;
        margin: 32px auto 104px;
        line-height: 1.5;

        @include m(){
           
            font-size: 20px;
            width: 264px;

    
        }


    }
}


.textboxResult{
    display: none;
    
    .testboxQA_logo{
        width: 232px;
        margin: 0 auto;
        display: block;    
    
        @include m(){
            width: 164px;
        }
    }
}

.testResult{

    display: flex;
    max-width: 1200px;
    margin: 64px auto 0;

    @include m(){
        flex-direction: column;
        margin: 20px auto 0;
        // width: 264px;
    }
    
}

.testResult .testresult_left img{
    width: 480px;

    @include m(){
        width: 172px;
        margin: 0 auto;
        display: block;

    }
}

.testresult_right{
    max-width: 600px;
    font-family: $fontFamily;
    font-weight: bold;
    margin-top: 64px;
    margin-left: 72px;

    @include m(){
       
        width: 256px;
        margin:0 auto;
        margin-top: 40px;
    }

    .txt1{
        
        font-size: 48px;
        margin-bottom: 72px;
        @include m(){
           
            margin-bottom: 40px;
            text-align: center;
            font-size: 24px;
        }
    }

    .txt2{
        font-size: 32px;
        margin-bottom: 72px;
        line-height: 1.6;
        @include m(){
            margin-bottom: 40px;
            font-size: 16px;
        }
    }

    .txt3{
        font-size: 32px;
        margin-bottom: 72px;
        @include m(){
            margin-bottom: 40px;
            font-size: 16px;
        }
    }

    .testresult_share{
        display: flex;
        
    }

    .txt4{
        font-size: 32px;
        margin-right: 32px;
        line-height: 40px;
        @include m(){

            font-size: 16px;
            line-height: 24px;
        }
    }

    .iconFI{
        display: flex;
        width: 120px;
        justify-content: space-between;
        @include m(){
            width: 60px;
        }

        img{
            display: block;
            width: 40px;
            @include m(){
                width: 24px;
            }
        }
    }

}

@keyframes typing {
    from { width: 0; }
}

@keyframes caret {
    50% { border-color: transparent; }
}
