.bodyCareertest{
    background-color: #FFA800;
    @include m(){
        // background-color: black;
        background-color: #FFA800;
    }
   
}


.careertest{
    background-color: #FFA800;
    font-family: $fontFamily;
    width: 100vw;
    // height: 100vh;
    padding: 48px 0 24px;
    box-sizing: border-box;
    

    @include m(){
        height: auto;
        padding: 24px 0;
    }
}

// 職涯測驗白底黑框
.testbox{
    @include testbox();
    width: 800px;
    // height: 880px;
    // margin: 0 auto;
    
    @include m(){
        margin: 0px auto 0;
    
        width: 325px;
        height: 80vh;

    }
}


.testbox img{
    display: block;
}

.testbox_logo{
    width: 232px;
    margin: 0px auto 0;    

    @include m(){
        width: 164px;
    }
}

.testbox_pic1{
    width: 280px;
    margin: 0 auto 24px;
    padding: 40px 0 40px;

    @include m(){
        width: 160px;
        padding: 40px 0 32px;
    }
}

.testbox h1{
    font-family: $fontFamily;
    font-size: $fontSize01;
    text-align: center;
    font-weight: bold;
    margin-bottom: 28px;

    @include m(){
        font-size: $R-fontSize03;
    }
}

.testbox .careertestSubmit{
    display: block;
    margin-top: 64px;
    line-height: 1.5;
    @include m(){
        margin-top: 48px;
    }
}

