.companyWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 400px;
        margin: 0px auto 0px;
       
       
    }
    .companyHeader{
        display: flex;
        background-color: $primary02;
        border-radius: 5px;
        padding:26px 70px;
        @include m(){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 15px;
            
           

        }
        .companyHeaderLogo {
            display: flex;
            align-items: center;
            @include m(){
                
            }
            img{
                width: 196px;
                height: 196px;
                @include m(){
                    width: 85px;
                    height: 85px;
                    margin-right: 4px;
                    position: relative;
                    top: 0;
                    right: -26px;
       
                }
                
            }
            
            
            
        }
            
        .companyHeaderMain{
            margin-left: 85px;
            padding-top: 24px;
            @include m(){
                margin-left: 0;
                padding-TOP:0;
            
           

            }
            form{
                margin-left: 57px;
                @include m(){
                    margin-left: 36px;
                }
                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 32px;
                    @include m(){
                        width: 219PX;
                        align-items: center;
                        margin-bottom: 0;
                       
                    
                    }
                    label{
                        color: $secondary02;
                        font-size: $fontSize03;
                        @include m(){
                            font-size: $fontSize05;
                        
                        }
                    }
                    input{
                        border: 0px;
                        outline: none;
                        background-color: $primary02;
                        color: $secondary02;
                        font-size: $fontSize03;
                        @include m(){
                            width: 130px;
                            font-size: 16px;
                        
                        }
                    }
                }
                
            }
            
        }
        .companyHeaderBtn{
            align-self: center;
            padding-left: 230px;
            @include m(){
                display: flex;
                width: 100%;
                padding-left: 0;
                margin-top: 10px;
            
            }
            .btna11{
                margin: 30px 0;
                height: auto;
                font-size: $fontSize03;
                @include m(){
                   width: 100%;
                   height: 30px;
                   margin: 10px;
                
                }
                a{
                    color: $focus01;
                }
            }
        }
    }


    .companyFooter{
        margin-top: 32px;
        .block{
            display: flex;
            align-items: center;
            padding: 16px 50px;
            justify-content: space-between;
            color: $secondary02;
            background-color: $focus01;
            border-radius: 5px 5px 0 0;
            @include m(){
                color: #FFFFFF;
                flex-direction: column;
                
             
             }
            h3{
                font-size: $fontSize03;
                @include m(){
                    margin-bottom: 15px;
                    font-size: $fontSize01;
                    
                 
                }
            }
            .inputsearch{
                margin-top: 0;
                @include m(){
                    float: right;
                    margin-top: 10px;
                    margin-right: 10px;
                    position: relative;
                    
                }
                
            }   

            
        }

        table{
            background-color: transparent;
            width: 100%;
            border-left: 2px solid $focus01;
            border-right: 2px solid $focus01;
            border-bottom: 2px solid $focus01;
           
            
            td{
                padding: 0 0px;
                i{
                    margin-left: 20px;
                    cursor: pointer;
                }
            }
            .item{
                padding: 20px 0px;
                border-bottom: 2px solid $focus01;
                @include m(){
                    padding: 0px 0px;
                    display: flex;
                    border-bottom: 2px solid #D25541;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                    
                 
            }
                h3{
                    font-size: $fontSize03;
                    line-height: 80px;
                    margin-left: 30px;
                    @include m(){
                        margin-left: 0;
                    }
                }
                .b{
                    margin-left: 24px;
                    a{ //"查看求職者"
                        color: $secondary02;
                    }
                }
                .id{
                    padding: 0 50px;
                    @include m(){
                        padding: 0px 0px;
                    }
                }
                .detail{
                    width: 26%;
                    @include m(){
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                .fa-trash{
                    margin-left: 32px;
                    @include m(){
                        margin-left: 0;
                    }
                }
                .edit{
                    width: 12%;
                    @include m(){
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    
                }
        }       
            .btna20{
                font-size: 16px;
                @include m(){
                    font-size: 20px;
                    width: 170px;
                    margin: 28px 0;
                }
            }
        
    }


    //switch
    .state{
        .appleSwitch{
            width: 60px;
            height: 30px;
            border-radius: 20px;
            background-color:gray;
            margin: 5px auto;
            position: relative;
            top: 12px;
            left: 0;
            z-index: 5;  
            @include m(){
                display: none;
            }             
                
            @keyframes openColor{ //open時的開關背景色
                0% {background-color:gray;}
                75%{ background-color: #30BD00;}
                100%{ background-color: #30BD00;}
            }
            @keyframes switch{ //開關位移
                0% { left:2px;}
                100% { left: 34px;}
            }   
            .appleCircle{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: white;
                transform: translate(0, o);
                box-shadow: 1px 1px 5px $secondary01;
                position: absolute;
                top: 2px;
                left: 2px;
                z-index: 6;                            
                
            }                        
        }                                        
    }
    //持續應徵中
    .openSwitch{
        .appleSwitch{
            animation: openColor 1s 1 ease-in-out forwards;
            .appleCircle{
                animation: switch 1s 1 ease-in-out forwards;
            }
        }
    }








       
}

.companyWrapper .companyFooter table .item .b{
    @include m(){
        margin-left: 24px;
    }
}
.companyWrapper .companyFooter table td i{
    @include m(){
        font-size: 35px;
        padding: 0 70px;
        margin-left: 0;
    }

}
.companyWrapper .companyFooter table .item .id{
    padding: 0px 15px;
    @include m(){
        padding: 0px 15px;
    }
}
.companyWrapper .pagination-div{
    display: block;
}

.inputsearch .inputText{
    @include m(){
        padding-left: 35px;
        width: 355px;
    }
    
}




