.companyCheckWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 350px;
        margin: 0px auto 0px;
    }
    .companyHeader{
        display: flex;
        background-color: $primary02;
        border-radius: 5px;
        padding:26px 70px;
        .companyHeaderLogo {
            display: flex;
            align-items: center;
            img{
                width: 196px;
                height: 196px;
                @include m(){
                    width: 85px;
                    height: 85px;
                    margin-right: 4px;
                    position: relative;
                    top: 0;
                    right: -26px;
                }
            }
        }
            
        .companyHeaderMain{
            margin-left: 85px;
            padding-top: 24px;
            form{
                >div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    label{
                        color: $secondary02;
                        font-size: $fontSize03;
                    }
                    input{
                        border: 0px;
                        outline: none;
                        background-color: $primary02;
                        color: $secondary02;
                        font-size: $fontSize03;
                    }
                }
                
            }
            
        }
        .companyHeaderBtn{
            align-self: center;
            padding-left: 230px;
            .btna11{
                margin: 30px 0;
                height: auto;
                font-size: $fontSize03;
                a{
                    color: $focus01;
                }
            }
        }
    }


    .companyFooter{
        margin-top: 32px;
        .block{
            display: flex;
            align-items: center;
            padding: 16px 52px;
            justify-content: space-between;
            color: $secondary02;
            background-color: $focus01;
            border-radius: 5px 5px 0 0;
            a{
                color: $secondary02;
            }
            h3{
                font-size: $fontSize03;
            }
            .inputsearch{
                margin-top: 0;
            }
        }
        table{
            background-color: transparent;
            width: 100%;
            border-left: 2px solid $focus01;
            border-right: 2px solid $focus01;
            border-bottom: 2px solid $focus01;
            
            td{
                padding: 0px;
            }
            .item{
                padding: 20px 0;
                border-bottom: 2px solid $focus01;
                h3{
                    font-size: $fontSize03;
                    line-height: 80px;
                }
            }
            .btna20{
                font-size: 16px;
                margin-left: 32px;
                a{ //按鈕的a連結顏色
                    color: $secondary02;
                }
            }
            .detail{
                text-align: right;
                padding: 0 50px 0 0;
            }
            .id{
                padding: 0 0 0 50px;
            }
            
        }
    }
    
    
}