.company_login{    
    padding-top: $space08; //main到header
    padding-bottom: $space08; //main到footer
    @include m(){
        padding-top: $R-space08; //main到header
        padding-bottom: $R-space08; //main到footer
    }
    h1{
        font-size: $fontSize01;
        font-weight: bold;
    }
    h4{
        font-size: $fontSize05;
        font-weight: bold;
        @include m(){
            font-size: $R-fontSize05;
        }
    }
    .figure{
        width: 168px;
        height: 168px;
        margin-bottom:$space04;
        @include m(){
            width: 104px;
            height: 104px;
            margin-bottom:$R-space04;
        }
    }
    //input表單區
    .wrapper{
        margin-top:$space04;
        @include m(){
            margin-top:$R-space04;
            @include disflex(column, center, none);
        }
    }
    //去註冊
    .gosign{
        @include disflex(column, center, center);
        h4{
            :first-child{
                width: 100px;
            };
        }
    }
    //"或" 
    .otherway{
        @include disflex(row, none, center);
        width: 100%;
        text-align: center;
        position: relative;
        margin-top:$space02;
        @include m(){
            margin-top:$R-space04;
        }
        &:before{
            content: "";
            width: 148px;
            border-bottom: 1px dotted black;  
            margin-right: 8px;
            margin-bottom: 8px;
            @include m(){
                width: 44px;
            }
        }
        &:after{
            content: "";
            width: 148px;
            border-bottom: 1px dotted black;  
            margin-left: 8px;          
            margin-bottom: 8px;
            @include m(){
                width: 44px;
            } 
        }
    }
    
    //社群媒體登入
    .social{
        @include disflex(row, none, center);
        display:flex;
        margin-top:$space04;
        margin-bottom:$space04;
        @include m(){
            margin-top:$R-space04;
            margin-bottom:$R-space04;
        }
    }    
    .fa-brands{
        display: block;
        font-size:72px;
        color: $secondary01;
        margin-left:20px;
        margin-right:20px;
        @include m(){
            font-size:48px;
            margin-left:16px;
            margin-right:16px;
        }
    }
    //忘記密碼
    .forgotpw{
        background-color:$secondary02;
        float: right;        
        a{            
            color: $focus01;
            font-weight: bold;
        }
    }
    .btna17{        
        margin-top:$space02;
        margin-bottom:$space05;
        @include m(){
            margin-bottom:$R-space05;
        }
    }
    //前往註冊
    .gosign{
        @include disflex(row, none, center);
        h4{
            &:last-child{
                color: $focus01;
                margin-left:$space02;
            }
        }
        a{
            color: $focus01;
        }
    }
}