.company_sign{    
    padding-top: $space08; //main到header
    padding-bottom: $space08; //main到footer
    $inputwidth:544px; //統一input最大寬度
    $inputml:10px;
    @include m(){
        padding-top: $R-space08; //main到header
        padding-bottom: $R-space08; //main到footer
    }
    a{
        background-color:$secondary02;
    }
    @include m(){
        padding-top: $R-space08; //main到header
        padding-bottom: $R-space08; //main到footer
    }
    h1{
        font-size: $fontSize01;
    }
    h4{
        font-size: $fontSize05;
        @include m(){
            font-size: $R-fontSize05;
        }
    }
    .figure{
        width: 168px;
        height: 168px;
        margin-bottom:$space04;
        @include m(){
            width: 104px;
            height: 104px;
            margin-bottom:$R-space04;
        }
    }
    //主標題
    .title{        
        @include m(){
            margin-top:$R-space04;
            margin-bottom:$R-space04;
        }
    }    
    //input表單區
    form{
        margin-top:$space04;
        section{
            &:nth-child(4){ //輸入手機號碼
                position: relative;            
        }
        }
        @include m(){
            margin-top:$R-space04;
            @include disflex(column, center, none);
        }
        
    }   
    .inputText{
        margin-bottom: 24px;
    } 
    //每列表單的容器
    .inputwra{
        @include disflex(row, none, space-between);
        width: 656px;
        @include m(){
            flex-direction: column;
            width: 250px;
        };
        &:first-child{ //公司名稱
            @include m(){
                flex-direction: column;
                
            }
            ul{
                display: flex;
                @include m(){
                    flex-wrap: wrap;
                    max-width: 250px;
                };
            }
        }        
    }
    //欄位標題
    .ctitle{
        height:$space06;
        line-height:$space05;
    }    
    //按鈕：公司列表
    .clist{
        width: 112px;
        height: 44px;
        color:$primary01;
        background-color:$primary02;
        border-radius: 5px;
        margin-left: 8px;
        &:hover{
            background-color:$primary02H;
        }
        @include m(){
            height: 40px;
           width: 40%;
           margin-left: 0;
        }
    }
    
    //section：註冊
    .submitsec{
        text-align: center;
        margin-top: $space03;
    }
    //--------------------------

    .wrapper1{
        display: flex;
        @include m(){
            width: 250px;
            flex-direction: column; 
        }
        //公司負責人列
        .principle{
            width: 50%;
            justify-content:start;
            
        }
        //資本額列
        .property{
            width: 50%;
            justify-content:end;
            h4{
                //"萬"
                &:last-child{ padding-left:8px;}
            }
            @include m(){
                width: 250px;
                /* justify-content: end; */
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                
            }
        }

      
    } 
    //容器：公司地址
    .wrapper2{
        display: flex;
        flex-wrap: wrap;
        max-width: 555px;
        @include m(){
            width: 250px;
            flex-direction: column; 
        }
    }   
    //容器：公司電話
    .wrapper3{
        display: flex;
        @include m(){
            display: flex;
            width: 250px;
            flex-direction: row;
            flex-wrap: wrap;

        }
        .inputwra{
            &:first-child{
                width:65%;
                justify-content: start;
                @include m(){
                    display: flex;
                    width: 250px;
                    flex-direction: row;
                    flex-wrap: wrap;

                }
            }
            &:last-child{ //手機表單
                width:40%;
                justify-content: flex-end;
            }
            .ext{ //分機
                margin-left:15px;
                @include m(){
                    margin-left:0;
        
                }
            }
        }        
    }
    //容器：年費
    .wrapper4{
        margin-left:16px;
        @include m(){
            margin-left:0;

        }
        @include disflex(column, none, start);
        li{
            display: flex;
        }
        input{
            width: 20px; //checkbox大小
            height: 20px;
            margin-bottom: 8px;
        }
        h4{
            margin-left:4px;
            line-height:25px;
        }
    }

    //--------------------------

    //表單：公司名稱
    .inputA{
        width:248px;
        @include m(){
            width: 245px;
           
         }
    }
    //表單：公司統一編號
    .inputB{
        width: 152px;
        margin-left: 8px;
        @include m(){
            width: 130px;
            margin-left: 12px;
         }
    }
    //表單：公司介紹
    .inputC{
        width:$inputwidth;
        height:96px;
        padding-top:11px;
        resize: none;
        @include m(){
            width: 240px;
           
         }
    }
    //表單：公司負責人
    .inputD{
        width:192px;
        margin-left: 5px;
    }
    //表單：資本額
    .inputE{
        width:104px;
    }
    //表單：縣市區
    .inputF{
        width:168px;
        margin-bottom: 8px; 
        @include m(){
            width: 115px;
        }
    }

    //表單：鄉鎮市區
    .inputG{
        width:168px;
        margin-left:4px;
        margin-bottom:8px;
        @include m(){
            width: 115px;
        }
    }
    //表單：地址
    .inputH{
        width:$inputwidth;
        @include m(){
                width: 250px;
        }
    }
    //表單：服務項目
    .inputI{
        width:$inputwidth;
        height:96px;
        padding-top:11px;
        resize: none;
        @include m(){
            width: 250px;
        }
    }
    //表單：公司聯絡人
    .inputJ{
        width:192px;
        margin-left:5px;
        @include m(){
            width: 245px;
            margin-left:0;

        }
    }
    //表單：區碼
    .inputK1{
        width: 24px;
        margin-left: 20px;
        margin-right: 4px;
        @include m(){
            width: 40px;
            margin-left: 0;


        }
       
    }
    //表單：市話
    .inputK2{
        width: 100px;
        margin-left: 4px;
        @include m(){
            width: 100px;

        }
    }
    //表單：分機
    .inputK3{
        width:70px;
    }
    //表單：手機
    .inputK4{
        width: 125px;
        @include m(){
            margin-left:0;
            width: 250px;

        }
    }
    //section：年費
    .fee{
        justify-content: start;
        .ctitle{            
            line-height:28px;
        }
    }
    //聯絡信箱
    .inputL{
        width:$inputwidth;
        @include m(){
            width: 250px;

        }
    }
    //------------------------------

    //驗證碼
    .sendcode{
        width: 120px;
        height:51px;        
        border-radius: 0 5px 5px 0;
        color:$secondary02;
        position: absolute;
        right: 0;
        background-color:$primary02;
        &:hover{
            background-color:$primary02H;
        }
        h4{
            color:$secondary02;
            background-color:$primary02;
        }
    }
    //公司聯絡人
    .contacter{
        justify-content: start;
    }
    //section：同意條款
    .agree{
        margin-top:$space04;
        @include disflex(row, none, center);
        a{
            color: $focus01;            
        }
    }

    .btn17{        
        margin-top:$space02;
        margin-bottom:$space05;
        @include m(){
            margin-bottom:$R-space05;
        }
    }    
}