.companyWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin: 32px auto 0px;
    .companyWrapperTitle{
        border-radius: 5px;
        position: relative;
        margin-bottom: 64px;
        .companyWrapperTitImg{
            background-image: url("../../images/company/companyTitle.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 10px;
            width: 100%;
            height: 300px;
        }
        .companyWrapperTitMain{
            padding: 75px 40px;
            background-color: $secondary02;
            .companyWrapperTitMainImg{
                img{
                    position: absolute;
                    top: 218px;
                    left: 98px;
                    width: 195px;
                }
            }
            .companyWrapperTitMainIcon{
                align-items: center;
                position: absolute;
                top: 305px;
                left: 345px;
                h2{
                    font-size: $fontSize02;
                    color: $secondary01;
                    line-height: 3;
                }
                .companyIcon{
                    display: flex;
                    a{
                        display: flex;
                        color: $secondary01;
                    }
                    i{
                        align-self: center;
                        margin-right: 12px;
                    }
                    p{
                        margin-right: 12px;
                    }
                }
                
            }
            
            
        }
    }
    .companyWrapperMain{
        display: flex;
        border-radius: 5px;
        padding: 30px 130px;
        background-color: $secondary02;
        margin-bottom: 64px;
        .companyWrapperContent{
            flex: 4;
            .company{
                margin-bottom: 25px;
                h3{
                    font-size: $fontSize03;
                    margin-bottom: 25px;
                }
                p{
                    line-height: 1.6;
                }
                img{
                    width: 175px;
                }
            }
            
        }
        .companySide{
            flex: 1;
            position:sticky;
            top:100px; /*看你要設定黏在螢幕上離頂端多少距離的位置*/
            line-height: 1.6;
            height: 100%;
            padding-left: 60px;
            padding-top: 60px;
            h2{
                font-size: $fontSize02;
            }
            h3{
                font-size: $fontSize03;
            }
            
        }
    }
    .jobMainWrapperOther{
        margin-bottom: 64px;
        .jobMainWrapperOthSec{
            width: 100%;
            border-radius: 5px;
            background-color: $secondary02;
        }
        .jobMainWrapperOthTitle{
            padding: 30px 130px;
            background-color: $primary02;
            color: $secondary02;
            border-radius: 5px 5px 0 0;
            h2{
                font-size: $fontSize02;
            }
        }
        .jobMainWrapperOthMain{
            padding: 30px 130px;
            p{
                line-height: 2;
            }
            .findJobVacanciesIcTitle{
                display: flex;
                .findJobVacanciesIcon{
                    a{
                        display: flex;
                        color: $secondary01;
                        align-items: center;
                        p{
                            margin: 0 10px;
                        }
                    }
                }
            }
            .jobMainWrapperOthBtn{
                display: flex;
                justify-content: end;
                padding-bottom: 20px;
                border-bottom: 1px solid $secondary01;
                .btna5{
                    margin-right: 20px;
                }
            }
            .btna19{
                margin: 0 auto;
            }
        }
        
    }
}