.companyWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin: 32px auto 0px;
    @include m(){
        max-width: 375px;
        margin: 0px;
    }
    .companyWrapperTitle{
        border-radius: 5px;
        position: relative;
        margin-bottom: 64px;
        @include m(){
            
            margin: 0 8px 16px;
        }
        .companyWrapperTitImg{
            background-image: url("../../images/company/companyTitle.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 10px;
            width: 100%;
            height: 300px;
            @include m(){
                background-position: 0px;
                height: 100px;
            }
        }
        .companyWrapperTitMain{
            padding: 75px 40px;
            background-color: $secondary02;
            @include m(){
                padding: 0px;
                background-color: transparent;
            }
            .companyWrapperTitMainImg{
                @include m(){
                    background-color: $secondary02;
                    padding: 16px;
                }
                img{
                    position: absolute;
                    top: 218px;
                    left: 98px;
                    width: 195px;
                    @include m(){
                        position: static;
                        width: 45px;
                        margin-left: 20px;
                    }
                }
            }
            .companyWrapperTitMainIcon{
                align-items: center;
                position: absolute;
                top: 305px;
                left: 345px;
                @include m(){
                    position: static;
                    margin-top: 16px;
                }
                h2{
                    font-size: $fontSize02;
                    color: $secondary01;
                    line-height: 3;
                    @include m(){
                        font-size: $fontSize03;
                        line-height: 2;
                        position: absolute;
                        top: 118px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .companyIcon{
                    display: flex;
                    @include m(){
                        display: block;
                        background-color: $secondary02;
                        padding: 16px;
                    }
                    div{
                        @include m(){
                            margin: 16px 0;
                        }
                    }
                    a{
                        display: flex;
                        color: $secondary01;
                    }
                    i{
                        align-self: center;
                        margin-right: 12px;
                    }
                    p{
                        margin-right: 12px;
                        @include m(){
                            margin-right: 0px;
                        }
                    }
                }
                
            }
            
            
        }
    }
    .companyWrapperMain{
        display: flex;
        border-radius: 5px;
        padding: 30px 130px;
        background-color: $secondary02;
        margin-bottom: 64px;
        @include m(){
            padding: 24px 16px;
            margin: 0 8px 16px;
        }
        .companyWrapperContent{
            flex: 4;
            .company{
                margin-bottom: 25px;
                h3{
                    font-size: $fontSize03;
                    margin-bottom: 25px;
                    @include m(){
                        margin-bottom: 16px;
                    }
                }
                p{
                    line-height: 1.6;
                }
                img{
                    width: 175px;
                    @include m(){
                        margin-bottom: 16px;
                    }
                }
            }
            
        }
        .companySide{
            flex: 1;
            position:sticky;
            top:100px; /*看你要設定黏在螢幕上離頂端多少距離的位置*/
            line-height: 1.6;
            height: 100%;
            padding-left: 60px;
            padding-top: 60px;
            @include m(){
                display: none;
            }
            h2{
                font-size: $fontSize02;
            }
            h3{
                font-size: $fontSize03;
            }
            
        }
    }
    .jobMainWrapperOther{
        margin-bottom: 64px;
        .jobMainWrapperOthSec{
            width: 100%;
            border-radius: 5px;
            background-color: $secondary02;
        }
        .jobMainWrapperOthTitle{
            padding: 30px 130px;
            background-color: $primary02;
            color: $secondary02;
            border-radius: 5px 5px 0 0;
            @include m(){
                padding: 24px 16px;
            }
            h2{
                font-size: $fontSize02;
                @include m(){
                    text-align: center;
                }
            }
        }
        .jobMainWrapperOthMain{
            padding: 30px 130px;
            @include m(){
                padding: 24px 16px;
            }
            p{
                line-height: 2;
            }
            .findJobVacanciesIcTitle{
                display: flex;
                .findJobVacanciesIcon{
                    a{
                        display: flex;
                        color: $secondary01;
                        align-items: center;
                        p{
                            margin: 0 10px;
                        }
                    }
                }
            }
            .jobMainWrapperOthBtn{
                display: flex;
                justify-content: end;
                padding-bottom: 20px;
                border-bottom: 1px solid $secondary01;
                @include m(){
                    margin-top: 20px;
                    padding-bottom: 20px;
                }
                .btna5{
                    margin-right: 20px;
                }
            }
            .btna19{
                margin: 0 auto;
                background-color: $secondary02;
                margin-bottom: 8px;
            }
        }
        
    }
}