.companyCheckWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 375px;
        margin: 0px auto 0px;
    }
    .companyHeader{
        display: flex;
        background-color: $primary02;
        border-radius: 5px;
        padding:26px 70px;
        @include m(){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 15px;
        }
        .companyHeaderLogo {
            display: flex;
            align-items: center;
            img{
                width: 196px;
                height: 196px;
                @include m(){
                    width: 85px;
                    height: 85px;
                    margin-right: 4px;
                    position: relative;
                    top: 0;
                    right: -26px;
                }
            }
        }
            
        .companyHeaderMain{
            margin-left: 85px;
            padding-top: 24px;
            @include m(){
                margin-left: 0;
                padding-TOP:0;
            }
            form{
                @include m(){
                    margin-left: 36px;
                }
                >div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    @include m(){
                        width: 219PX;
                        align-items: center;
                        margin-bottom: 0;
                       
                    
                    }
                    label{
                        color: $secondary02;
                        font-size: $fontSize03;
                        @include m(){
                            font-size: $fontSize05;
                        
                        }
                    }
                    input{
                        border: 0px;
                        outline: none;
                        background-color: $primary02;
                        color: $secondary02;
                        font-size: $fontSize03;
                        @include m(){
                            width: 130px;
                            font-size: 16px;
                        
                        }
                    }
                }
                
            }
            
        }
        .companyHeaderBtn{
            align-self: center;
            padding-left: 230px;
            @include m(){
                display: flex;
                width: 100%;
                padding-left: 0;
                margin-top: 10px;
            
            }
            .btna11{
                margin: 30px 0;
                height: auto;
                font-size: $fontSize03;
                @include m(){
                    width: 100%;
                    height: 30px;
                    margin: 10px;
                 
                 }
                a{
                    color: $focus01;
                }
            }
        }
    }


    .companyFooter{
        margin-top: 32px;
        .block{
            display: flex;
            align-items: center;
            padding: 16px 52px;
            justify-content: space-between;
            color: $secondary02;
            background-color: $focus01;
            border-radius: 5px 5px 0 0;
            @include m(){
                flex-direction: column;
                align-items: flex-start;
                padding: 0 15px;
            
            }


            a{
                color: $secondary02;
            }
            h3{
                font-size: $fontSize03;
                @include m(){
                  margin-bottom: 15px;
                  margin-top: 15px;
                
                }
            }
            .inputsearch{
                margin-top: 0;

                .inputText{
                    @include m(){
                        padding-left: 35px;
                        width: 350px;
                        margin-bottom: 15px;
                    }    
                }
            }
        }

        table{
            background-color: transparent;
            width: 100%;
            border-left: 2px solid $focus01;
            border-right: 2px solid $focus01;
            border-bottom: 2px solid $focus01;
            @include m(){
               border: none;
              
            }
         
            
            td{
                padding: 0px;
            }
            .item{
                padding: 20px 0;
                border-bottom: 2px solid $focus01;
                @include m(){
                    padding: 0px 0px;
                    display: flex;
                    border-bottom: 2px solid #D25541;
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                h3{
                    font-size: $fontSize03;
                    line-height: 80px;
                }
                       
            }

            .btna20{
                font-size: 16px;
                margin-left: 32px;
                @include m(){
                    font-size: 20px;
                    width: 164px;   
                    margin-left: 15px;                 
                }
               
                a{ //按鈕的a連結顏色
                    color: $secondary02;
                }
            }
            .detail{
                text-align: right;
                padding: 0 50px 0 0;
                @include m(){
                    padding: 0px 0px 22px 0px;
                } 
            }
            .id{
                padding: 0 0 0 50px;
                @include m(){
                    padding: 0 0 0 30px;
                } 
            }
            
        }
    }
    
    
}