.companyWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 375px;
        margin: 0px auto 0px;
    }
    .companyHeader{
        display: flex;
        background-color: $primary02;
        border-radius: 5px;
        padding:26px 70px;
        @include m(){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 15px;
        }
        .companyHeaderLogo {
            display: flex;
            align-items: center;

            .upload{
                width: 196px;
                // outline: 1px solid red;
                position: relative;
                cursor: pointer;
                @include m(){
                    width: 85px;
                } 

                input {
                    display: none;

                }

            }
            img{
                width: 196px;
                height: 196px;
                @include m(){
                    width: 85px;
                    height: 85px;
                    margin-right: 4px;
                    position: relative;
                    top: 0;
                    right: -26px;       
                }                
            }
        }
            
        .companyHeaderMain{
            margin-left: 85px;
            padding-top: 24px;
            @include m(){
                margin-left: 0;
                padding-TOP:0;
            }
            form{
                margin-left: 57px;
                @include m(){
                    margin-left: 36px;
                }
                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    @include m(){
                        width: 219PX;
                        align-items: center;
                        margin-bottom: 0;
                       
                    
                    }
                    label{
                        color: $secondary02;
                        font-size: $fontSize03;
                        @include m(){
                            font-size: $fontSize05;
                        
                        }
                    }
                    input{
                        border: 0px;
                        outline: none;
                        background-color: $primary02;
                        color: $secondary02;
                        font-size: $fontSize03;
                        @include m(){
                            width: 130px;
                            font-size: 16px;
                        
                        }
                    }
                }
                
            }
            
        }
        .companyHeaderBtn{
            align-self: center;
            padding-left: 230px;
            @include m(){
                display: flex;
                width: 100%;
                padding-left: 0;
                margin-top: 10px;
            
            }
            .btna11{
                margin: 30px 0;
                height: auto;
                font-size: $fontSize03;
                @include m(){
                   width: 100%;
                   height: 30px;
                   margin: 10px;
                
                }
                a{
                    color: $focus01;
                }
            }
        }
    }


    .companyFooter{
        margin-top: 32px;
        .block{
            display: flex;
            align-items: center;
            padding: 16px 50px;
            justify-content: space-between;
            color: $secondary02;
            background-color: $focus01;
            border-radius: 5px 5px 0 0;
            margin-top: 32px;
            @include m(){
                color: #FFFFFF;
                flex-direction: column;
                padding: 0 50px;
             }
            h3{ //"職缺列表"
                font-size: $fontSize03;
                @include m(){
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: $R-fontSize02;
                }
            }
            .inputsearch{
                margin-top: 0;
                @include m(){
                    float: right;
                    margin-top: 10px;
                    margin-right: 10px;
                    position: relative;
                    
                }
                .inputText{
                    @include m(){
                        padding-left: 35px;
                        width: 355px;
                        margin-bottom: 15px;
                    }    
                }
            }   
        }

        table{
            background-color: transparent;
            width: 100%;
            border-left: 2px solid $focus01;
            border-right: 2px solid $focus01;
            border-bottom: 2px solid $focus01;
            @include m(){
                border: none;
               
            }
                       
            td{
                padding: 0 0px;
                .fa-solid{ //icon 編輯、刪除
                    margin-left: 20px;
                    cursor: pointer;
                    @include m(){
                        font-size: 24px;
                        padding: 0 66px;
                        margin-left: -28px;
                    }
                }                
            }
            .item{
                padding: 20px 0px;
                border-bottom: 2px solid $focus01;
                @include m(){
                    padding: 0px 0px;
                    display: flex;
                    border-bottom: 2px solid #D25541;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                h3{ //職缺的名稱
                    font-size: $fontSize03;
                    line-height: 80px;
                    @include m(){
                        margin-left: 0;
                        line-height: normal;
                    }
                }
                .btncheck{
                    margin-left: 24px;
                    @include m(){
                        margin-left: 24px;
                    }
                    a{ //"查看求職者"
                        color: $secondary02;
                    }
                }
                .id{ //職缺名稱
                    padding: 0 50px;
                    @include m(){
                        padding: 15px 10px;
                        margin-bottom: 15px;
                        h3{ 
                            font-weight: bold;
                            padding: 16px auto;
                            padding-left: 18px;
                            margin: 8px auto;
                           
                        }
                    }

                    // input裡面的字型大小調整
                    input{
                        @include m(){
                            font-size: 20px;
                        }
                    }
                    
                }
                .detail{ //詳細資料
                    width: 26%;                    
                    @include m(){
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        order: 1;
                        margin-top: 1px;
                    }
                    button{ //按鈕：詳細資料、查看求職者
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }
                }
                .fa-trash{
                    margin-left: 32px;
                    @include m(){
                        margin-left: 0;
                    }
                }
                .edit{ //編輯
                    // width: 12%;
                    order: 0;
                    display: flex;
                        justify-content: center;
                    @include m(){
                        width: 100%;
                        display: flex;
                        // flex-direction: column;
                        flex-direction: row;
                        justify-content: space-between;
                        h3{                            
                            button{ //編輯 刪除 按鈕
                                width: 40%;
                                padding-top: 8px;
                                padding-bottom: 8px;
                                
                            }
                        }
                    }                
                }
            }                
        }       
            .btna20{
                font-size: 16px;
                @include m(){
                    font-size: 20px;
                    width: 170px;                    
                }
            }
        
    }

    //switch
    .state{
        .appleSwitch{
            width: 60px;
            height: 30px;
            border-radius: 20px;
            background-color:gray;
            margin: 5px auto;
            position: relative;
            top: 20px;
            left: 35px;
            z-index: 5;  
            @include m(){ //是否要打開switch開關
                // display: none;
                top: 2px;
                left: -18px
                
            }             
                
            @keyframes openColor{ //open時的開關背景色
                0% {background-color:gray;}
                75%{ background-color: #30BD00;}
                100%{ background-color: #30BD00;}
            }
            @keyframes switch{ //開關位移
                0% { left:2px;}
                100% { left: 34px;}
            }   
            .appleCircle{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: white;
                transform: translate(0, o);
                box-shadow: 1px 1px 5px $secondary01;
                position: absolute;
                top: 2px;
                left: 2px;
                z-index: 6;                            
                
            }                        
        }                                        
    }
    //按鈕：持續應徵中
    .openSwitch{

        .appleSwitch{
            animation: openColor 1s 1 ease-in-out forwards;

            .appleCircle{
                animation: switch 1s 1 ease-in-out forwards;

            }
        }
    }


    .closeSwitch{
        .appleSwitch{
            animation: none;

            .appleCircle{
                animation: none;
            }
        }
    }
    
    .pagination-div{ //分頁頁碼
        display: block; 
    }
}
