.wrapper_consultant{
    max-width: 1280px;
    margin: 0 auto;
    // padding: 0 40px;

    @include m(){
        max-width: 350px;
        margin: 0 auto;
        padding: 0;
    }  
}


.consultant_info{
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    justify-content: space-between;

    @include m(){
        max-width: 350px;
        flex-direction: column;
        margin:  0 auto;
    }

}

.consultant_left{
    color: $secondary01;

    @include m (){
        max-width: 350px;
        margin-bottom: $R-space05;
    }

    
    img{
        width: 520px;
        margin-bottom: 24px;

        @include m(){
            width: 350px;
        }
    }
    
    h1{
        font-size: $fontSize01;
        margin-bottom: 24px;

        @include m (){
            font-size: $R-fontSize02;
            margin-bottom: $R-space04;
        }
    }

    h2{
        font-size: $fontSize02;
        margin-bottom: 24px;

        @include m (){
            font-size: $R-fontSize02;
            margin-bottom: $R-space04;
        }
    }

}

.consultant_right{

    width: 520px;

    @include m (){
        max-width: 350px;
       
    }

    article{
        
        border-bottom: 4px solid $primary02;
        margin-bottom: 48px;
        padding-bottom: 24px;

        @include m(){
            margin-bottom: $R-space06;
            padding-bottom:  $R-space02;
        }
        

        h1{
            font-size: $fontSize01;
            color: $primary02;
            font-weight: bold;
            margin-bottom: 24px;

            @include m(){
                font-size: $R-fontSize02;
                margin-bottom: $R-space04;
            }
        }

 
        
        p{
            font-size: $fontSize03;
            color: $secondary01;
            line-height: 1.6;
            padding-bottom: 8px;

            @include m(){
                font-size: $R-fontSize05;
            }
        }
    
    }




}


.resumeReviewCard{
    
    display: none;
}