.contactUSInner{
    display: none;
    z-index: 120;
    position: fixed;
    background-color: $secondary01;
    opacity: 0.8;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
#contactUSCard{
    z-index: 123;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.contact{
    text-align: center;
    h2{
        font-size: $fontSize03;
        @include m(){
            font-size: $R-fontSize04;
            display: block;
            width: 320px;
            margin: 0 auto;
            line-height: 1.6;
        }
    }
    .contactUSG{
        margin: 30px 0;
        @include m(){
            margin: 16px;
        }
        input{
            border: 0;
            max-width: 620px;
            width: 100%;
            font-size: $fontSize05;
            padding: 8px;
            outline: none;
            @include m(){
                max-width: 320px;
            }
        }
    }
    .contactUSM{
        textarea{
            resize: none;
            border: 0;
            max-width: 624px;
            width: 100%;
            font-size: $fontSize05;
            padding: 8px;
            outline: none;
            margin-bottom: 32px;
            @include m(){
                max-width: 320px;
            }
        }
    }
    .btna3{
        margin: 0 auto;
    }
}
