.contactUSInner{
    z-index: 7;
    position: fixed;
    background-color: $secondary01;
    opacity: 0.8;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.card{
    
    z-index: 9;
    position: relative;
}
.contact{
    text-align: center;
    h2{
        font-size: $fontSize03;
    }
    .contactUSG{
        margin: 30px 0 30px;
        input{
            border: 0;
            max-width: 620px;
            width: 100%;
            font-size: $fontSize05;
            padding: 8px;
            outline: none;
        }
    }
    .contactUSM{
        textarea{
            resize: none;
            border: 0;
            max-width: 624px;
            width: 100%;
            font-size: $fontSize05;
            padding: 8px;
            outline: none;
            margin-bottom: 32px;
        }
    }
    .btna3{
        margin: 0 auto;
    }
}
