.sumEdit{
    margin: auto 0;
    // outline: 1px solid red;
    @include m(){
        position:fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

#summernote1+.note-editor {
    width: 350px;
    margin: 0 auto;
    // outline: 1px solid rgb(0, 255, 85);
    background-color: white;
    @include m(){
        width: 100%;
        height: 300px;
    }
  }

  #summernote2+.note-editor {
    // width: 350px;
    margin: 0 auto;
    // outline: 1px solid rgb(0, 255, 85);
    background-color: #FDEDE9;
    @include m(){
        // width: 100%;
        // height: 300px;
    }
  }


.note-editable {
    overflow-x: hidden;
    
}
