.findJobWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 375px;
        margin: 16px auto 0px;
    }
    .findJob{
        
        position: relative;
        background-color: $primary02;
        border-radius: 5px;
        display: flex;
        padding: 26px 70px;
        @include m(){
            // display: none;
            padding: 8px;
            
        }
        .findJobMain{
            .btna15{
                @include m(){
                    width: 100%;
                }
                i{
                    @include m(){
                        margin-left: 8px;
                    }
                }
            }
            .findJobSearch{
                text-align: left;
                padding-left: 24px ;
                margin-bottom: 20px;
                ::placeholder { 
                    color: $primary02;
                }
                @include m(){
                    padding-left: 0px ;
                    margin-bottom: 8px;
                }
                input{
                    margin-left: 30px;
                    outline: none;
                    border: 0px;
                    font-size: $fontSize03;
                    color: $primary02;
                    @include m(){
                        margin-left: 0px;
                        font-size: $fontSize05;
                        color: $primary02;
                    }
                }
            }
            .findJobClass{
                color: $secondary02;
                margin-bottom: 10px;
                @include m(){
                    margin-bottom: 0px;
                }
                h3{
                    font-size: $fontSize03;
                }
                .findJobClassMain{
                    display: flex;
                    @include m(){
                        margin-bottom: 8px;
                    }
                    .btna16{
                        width: auto;
                    }
                    .btna16:hover{
                        background-color: transparent;
                    }
                    div{
                        margin-right: 10px;
                        @include m(){
                            margin-right: 15px;
                        }
                    }
                }
            }
            
            .findJobType{
                display: flex;
                @include m(){
                    flex-wrap: wrap;
                    
                }
                .findJobTypeTitle .btna16{
                    width: auto;
                    margin-bottom: 8px;
                }
                .findJobTypeTitle .btna16:hover{
                    background-color: transparent;
                }
                .findJobTypeTitle > div{
                    color: $secondary02;
                    text-align: left;
                    margin-right: 40px;
                    @include m(){
                        margin-right: 36px;
                        
                    }
                    i{
                        padding-left: 15px;
                        @include m(){
                            padding-left: 8px;
                        }
                    }
                }
                .findJobTypeTitle > ul{
                    background-color: $secondary02;
                    border-radius: 5px;
                    color: $primary02;
                    
                }
                .findJobTypeArea{
                    width: 90px;
                    padding: 8px;
                    z-index: 40;
                    position: absolute;
                    box-shadow:2px 2px 2px $shadow01;
                    li{
                        border-bottom: 0.5px solid $primary02;
                        line-height: 2;
                        text-align: center;
                        &:last-child{
                            border-bottom: 0px solid $primary02;
                        }
                    }
                    
                }
                .findJobTypeSort{
                    overflow: scroll;
                    overflow-x: hidden;
                    height: 200px;
                    padding: 5px;
                    z-index: 40;
                    position: absolute;
                    box-shadow:2px 2px 2px $shadow01;
                    .findJobTypeSortTitle{
                        text-align: center;
                        cursor: pointer;
                        border-bottom: 0.5px solid $primary02;
                        border-top: 0.5px solid $primary02;
                        line-height: 1.6;
                        i{
                            margin-left: 10px;
                        }
                    }
                    ul{
                        line-height: 2;
                    }
                }
                
            }
            
        }
        .findJobPicture img{
            width: 145px;
            position: absolute;
            top: 35px;
            left:1000px;
            @include m(){
                display: none;
            }
        }
        input[type=checkbox] {
            margin-right: 10px;
            cursor: pointer;
            font-size: $fontSize05;
            width: 14px;
            height: 14px;
            position: relative;
        }
        
        input[type=checkbox]:after {
        position: absolute;
        width: 14px;
        height: 14px;
        content: "";
        background-color: #FFFFFF;
        display: inline-block;
        visibility: visible;
        padding: 0px 0px;
        border-radius: 0px;
        border: 1px solid $primary02;
        }

        input[type=checkbox]:checked:after {
        content: "";
        color: #FFFFFF;
        background-color: $primary02;
        font-size: $R-fontSize06;
        text-align:center;
        }
    }
    .findJobFind{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 60px;
        @include m(){
            margin-bottom: 48px;
        }
        .findJobFindSort{
            cursor: pointer;
            display: flex;
            font-size: $fontSize05;
            border: 0.5px solid $primary02;
            padding: 2px 10px;
            border-radius: 10px;
            background-color: $secondary02;
            color: $primary02;
            margin: 10px;
            &:hover{
                background-color: $primary02;
                color:$secondary02;
            }
            p{
                display: block;
                margin-left: 5px;
                align-self: center;
                
            }
            i{
                display: block;
                font-size: 12px;
                margin-left: 10px;
                border-radius: 50%;
                border: 1px solid $primary02;
                padding: 1px 3px;
            }
        }
    }
    .findJobVacancies{
        display: flex;
        background-color: $secondary02;
        border-radius: 5px;
        padding: 54px 65px;
        margin-bottom: 16px;
        @include m(){
            flex-direction: column;
            padding: 24px 8px;
            margin: 0 8px 16px;
        }
        .findJobVacanciesPicture img{
            width: 170px;
            @include m(){
                width: 38px;
                position: absolute;
                left: 28px;
            }
        }
        .findJobVacanciesTitle{
            max-width: 700px;
            width: 100%;
            margin-left: 28px;
            @include m(){
                max-width: 270px;
                width: 100%;
                margin-left: 72px;
            }
            h3{
                font-size: $fontSize03;
                margin-bottom: 12px;
            }
            p{
                font-size: $fontSize05;
            }
            h3 + p{
                margin-bottom: 24px;
            }
            p + p{
                line-height: 1.4;
            }
            
        }
        .findJobVacanciesIcon{
            line-height: 2;
            margin-left: 70px;
            @include m(){
                margin-left: 0px;
                margin-top: 8px;
            }
            a{
                display: flex;
                color: $secondary01;
            }
            i{
                align-self: center;
                margin-right: 12px;
            }
        }
        .findJobVacanciesBtn{
            display: flex;
            margin-top: 55px;
            @include m(){
                margin: 16px 0 ;
            }
            .btna5{
                margin-right: 20px;
            }
        }
        .findJobVacanciesItem{
            margin-left: 70px;
        }
    }

}



