body{
    font-family: $fontFamily;
}
.indexBgc01 h2,h3{
    letter-spacing: 2px;
    
}
.example{
    font-family: $fontFamily;
}
.indexBgc01{
    background-color: $primary01;
}
.step1{
    position: relative;
    width: 100%;
    img{
        display: block;
        margin: 0 auto;
    }
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3;
    .test img{
        max-width: 290px;
        width: 100%;
    }
    .step2{
        // position: absolute;
        // top: 0px;
        // left: 0px;
        img{
            max-width: 310px;
            width: 100%;
        }
    } 
    .step3{
        position: absolute;
        top: 0;
        left: 0;
        img{
            max-width: 325px;
            width: 100%;
        }
    } 
    .step4{
        position: absolute;
        top: 0;
        left: 0;
        img{
            max-width: 325px;
            width: 100%;
        }
    } 
    .step5{
        position: absolute;
        top: 0;
        left: 0;
        img{
            max-width: 325px;
            width: 100%;
        }
    } 
    
    
}
.section1 .section1_test{
    margin-left: 180px;
}
.discuss{
    img{
        max-width: 500px;
        width: 100%;
    }
}
.findJob{
    img{
        max-width: 300px;
        width: 100%;
    }
}
.section2{
    margin: 0 auto;
}
.section1_resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        max-width: 325px;
        width: 100%;
        margin-bottom: 24px;
    }
    
}

.section1_resume:nth-child(2){
    margin: 0 130px;
}

.indexBgc01 h1{
    font-size: $fontSize01;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 72px;
}

#fp-nav ul li a span{
    background-color: $focus01 !important; 
}

.stepTotal h1{
    margin-bottom: 40px;
}
@include m(){
    .section1{
        flex-direction: column;
    }
    .section1 .section1_test{
        margin-left: 0px;
        text-align: center;
    }
}