body{
    font-family: $fontFamily;
}
.section{
    h1{
        color: $secondary01;
    }
    h2{
        color: $secondary01;
    }
    h3{
        color: $secondary01;
    }
}
.indexBgc01 h2,h3{
    letter-spacing: 2px;
    
}
.example{
    font-family: $fontFamily;
}
.indexBgc01{
    background-color: $primary01;
}
.step1{
    position: relative;
    width: 100%;
    img{
        display: block;
        margin: 0 auto;
    }
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3;
    .test img{
        max-width: 290px;
        width: 100%;
    }
    .step2{
        img{
            max-width: 310px;
            width: 100%;
        }
    } 
    .step3{
        img{
            max-width: 325px;
            width: 100%;
        }
    } 
    .step4{
        img{
            max-width: 325px;
            width: 100%;
        }
    } 
    .step5{
        img{
            max-width: 325px;
            width: 100%;
        }
    } 
}
.section1 .section1_test{
    margin-left: 180px;
}
.discuss{
    img{
        max-width: 500px;
        width: 100%;
    }
}
.findJob{
    img{
        max-width: 300px;
        width: 100%;
    }
}
.section2{
    margin: 0 auto;
    i{
        margin: 0 20px;
        font-size: 50px;
        color: $secondary01;
    }
    .resume{
        margin: 0 130px;
    }
    .resumeMain{
        display: flex;
        align-items: center;
    }
    .resumeStepOneTwo{
        display: flex;
    }
}
.resumeAll{
    display: flex;
    flex-direction: column;
    .upHead{
        margin-top: 20px;
        img{
            display: block;
            max-width: 200px;
            width: 100%;
            margin-top: 32px;
        }
        
    }
    .section1_resume{
        margin: 0 50px;
    }
}
.section1_resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        max-width: 325px;
        width: 100%;
        margin-bottom: 48px;
    }
}

.indexBgc01 h1{
    font-size: $fontSize01;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 110px;
}


#fp-nav ul li a span{
    background-color: $focus01 !important; 
}

.discussBtn{
    margin: 24px 0;
}
.dicussToImg{
    display: none;
}
.dicussToDiv{
    display: none;
}
.findJobToDiv{
    display: none;
}
.findJobToImg{
    display: none;
}

@include m(){
    .section1 .section1_test{
        margin-left: 0px;
        text-align: center;
    }
    
    .section1{
        margin: 0 auto;
        flex-direction: column;
        line-height: 2;
        text-align: center;
        display: flex;
        .InternGoDiscuss{
            order: 2;
        }
        .test {
            margin-bottom: 16px;
            img{
                max-width: 200px;
                width: 100%;
            }
        }
        
        .step2{
            // position: absolute;
            // top: 0px;
            // left: 0px;
            img{
                max-width: 310px;
                width: 100%;
            }
        } 
        .step3{
            position: absolute;
            top: 0;
            left: 0;
            img{
                max-width: 325px;
                width: 100%;
            }
        } 
        .step4{
            position: absolute;
            top: 0;
            left: 0;
            img{
                max-width: 325px;
                width: 100%;
            }
        } 
        .step5{
            position: absolute;
            top: 0;
            left: 0;
            img{
                max-width: 325px;
                width: 100%;
            }
        }
        
        
        
    }
    .resumeAll{
        .section1_resume{
            margin-bottom: 24px;
            img{
                max-width: 150px;
                width: 100%;
                margin: 16px;
                
            }
        }
    }
    .resumeStep{
        // .section1_resume{
        //     margin-bottom: 16px;
        // }
        img{
            display: block;
            max-width: 140px;
            width: 100%;
            margin-bottom: 8px;
        }
    }
    .resumeStep > div{
        margin-bottom: 16px;
    }
    .resumeStep > div:nth-child(2){
        margin-bottom: 16px;
    }
    .indexBgc01 h1{
        font-size: $fontSize02;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 8px;
    }
    .indexBgc01 #howResume{
        display: none;
    }
    // .fp-tableCell{
    //     height: 700px !important;
    // }
    .section2{
        .resume{
            margin: 0 0px;
        }
        .resumeMain{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .resumeAll .section1_resume{
        margin: 0;
    }
    .resumeStep .rS{
        margin: 0;
    }
    .resumeFontSize1{
        font-size: $fontSize04;
    }
    .resumeFontSize3{
        font-size: $fontSize04;
    }
    .discuss{
        img{
            display: block;
            max-width: 320px;
            width: 100%;
            margin-bottom: 32px;
        }
    }
    .discussBtn{
        margin: 24px 0;
    }
    .btna20{
        margin: 0px 0;
        
    }
    .dicussToImg{
        display: none;
        max-width: 320px;
        width: 100%;
        margin-bottom: 16px;
    }
    .dicussToDiv{
        display:block;
        // margin-bottom: 16px;
    }
    .findJobToDiv{
        display: block;
        
    }
    .findJobToImg{
        display: block;
        max-width: 250px;
        width: 100%;
        margin-bottom: 16px;
    }
    .findJob img{
        display: none;
    }
    
    
}