.example{
    font-family: $fontFamily;
    letter-spacing: 2px;
}
.indexBgc01{
    background-color: $primary01;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3;
    
}
.section1 .section1_test{
    margin-left: 180px;
}

.section1_resume{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: $fontSize01;
    text-align: center;
    margin-bottom: 60px;
}

@include m(){
    .section1{
        flex-direction: column;
    }
    .section1 .section1_test{
        margin-left: 0px;
        text-align: center;
    }
}