.jobMainWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin: 32px auto 0px;
    @include m(){
        max-width: 375px;
        margin: 16px auto 0px;
    }
    .jobMainWrapperTitle{
        color: $secondary02;
        margin-bottom: 64px;
        padding: 30px 124px;
        border-radius: 5px;
        background-color: $primary02;
        @include m(){
            margin: 0 8px;
            margin-bottom: 16px;
            padding: 8px 0;
            padding-left: 32px;
            text-align: left;
        }
        h2{
            font-size: $fontSize02;
            line-height: 2;
            @include m(){
                font-size: $fontSize03;
            }
        }
        div{
            display: flex;
            align-items: center;
            cursor: pointer;
            img{
                width: 40px;
                @include m(){
                    width: 25px;
                }
            }
            p{
                font-size: $fontSize04;
                margin-left: 10px;
                @include m(){
                    font-size: $fontSize05;
                }
            }
        }
        
    }
    .jobMainWrapperMain{
        padding: 30px 124px;
        margin-bottom: 64px;
        background-color: $secondary02;
        display: flex;
        border-radius: 5px;
        @include m(){
            padding: 24px 16px;
            margin: 0 8px 16px;
            display: block;
            position: relative;
        }
        .jobMainContent{
            max-width: 900px;
            width: 100%;
            color: $secondary01;
            @include m(){
                max-width: 100%;
                
            }
            .jobMain{
                margin-bottom: 32px;
                .jobMainStatement{
                    display: flex;
                    h3{
                        font-size: $fontSize03;
                        margin-bottom: 16px;
                        font-weight: bold;
                    }
                }
                p{
                    font-size: $fontSize05;
                    line-height: 1.6;
                }
            }
            .jobMainVacanciesBtn{
                display: flex;
                margin-top: 60px;
                @include m(){
                    margin-top: 0px;
                    position: absolute;
                    top: 93%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .btna6{
                    margin-left: 20px;
                }
            }
        }
        .jobMainItem{
            @include m(){
                margin-bottom: 80px;
          
            }
            .jobMainIcon{
                line-height: 3;
                margin-left: 40px;
                @include m(){
                    margin-left: 0px;
                }
                a{
                    color: $secondary01;
                    display: flex;
                }
                i{
                    align-self: center;
                    margin-right: 12px;
                }
            } 
        }
    }
    .jobMainWrapperCom{
        padding: 30px 124px;
        background-color: $secondary02;
        border-radius: 5px;
        margin-bottom: 64px;
        color: $secondary01;
        @include m(){
            padding: 24px 16px;
            margin: 0 8px 16px;
        }
        .jobMainWrapperComTitle{
            display: flex;
            margin-bottom: 50px;
            @include m(){
                display: block;
                position: relative;
            }
            img{
                width: 112px;
                cursor: pointer;
                @include m(){
                    width: 44px;
                    position: absolute;
                    top:8px;
                    left: 0px;
                }
            }
            .jobMainWrapperComIconT{
                margin-left: 35px;
                // align-self: center;
                @include m(){
                    margin-left: 0px;
                }
                a{
                    color: $secondary01;
                    h2{
                        cursor: pointer;
                        font-size: $fontSize02;
                        line-height: 3;
                        @include m(){
                            font-size: $fontSize03;
                            margin-left: 60px;
                        }
                    }
                }
                    
                .jobMainWrapperComIconTM{
                    display: flex;
                    @include m(){
                        display: block;
                    }
                    .jobMainWrapperComIcon{
                        @include m(){
                            margin: 16px 0;
                        }
                        a{
                            display: flex;
                            color: $secondary01;
                            p{
                                margin: 0 10px;
                            }
                        }
                    }
                }
                
            }
           
        }
        .jobMainWrapperComMain{
            h3{
                font-size: $fontSize03;
                margin-bottom: 24px;
                font-weight: bold;
                @include m(){
                    margin-bottom: 16px;
                }
            }
            
            p{
                font-size: $fontSize05;
                line-height: 1.6;
            }
        }
    }
    .jobMainWrapperOther{
        margin-bottom: 64px;
        @include m(){
            margin-bottom: 0px;
            margin: 0 8px;
        }
        .jobMainWrapperOthSec{
            width: 100%;
            border-radius: 5px;
            background-color: $secondary02;
        }
            .jobMainWrapperOthTitle{
                padding: 20px 124px;
                display: flex;
                align-items: center;
                background-color: $primary02;
                color: $secondary02;
                border-radius: 5px 5px 0 0;
                @include m(){
                    padding: 16px 16px;
                }
                img{
                    width: 50px;
                    @include m(){
                        width: 30px;
                    }
                };
                h2{
                    font-size: $fontSize02;
                    margin-left: 15px;
                    @include m(){
                        font-size: $fontSize04;
                        margin-left: 8px;
                    }
                }
            }
            .jobMainWrapperOthMain{
                padding: 30px 124px;
                background-color: $secondary02;
                color: $secondary01;
                @include m(){
                    padding: 24px 16px;
                }
                p{
                    line-height: 2;
                }
                .findJobVacanciesIcTitle{
                    display: flex;
                    .findJobVacanciesIcon{
                        a{
                            display: flex;
                            color: $secondary01;
                            align-items: center;
                            p{
                                margin: 0 10px;
                            }
                        }
                    }
                }
                .jobMainWrapperOthBtn{
                    display: flex;
                    justify-content: end;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.308);
                    
                    @include m(){
                        margin-top: 24px;
                        padding-bottom: 20px;
                        justify-content: center;
                    }
                    .btna5{
                        margin-right: 20px;
                    }
                }
                .btna19{
                    margin: 0 auto;
                    background-color: $secondary02;
                    margin-bottom: 8px;
                }
                
            
        }
        
    }
}
#m-a-s-k_applyFor{
    // display: none;
    z-index: 150;
    position: fixed;
    background-color: #313131;
    opacity: 0.8;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#m-a-s-k_applyForIn{
    // display: none;
    width: 400px;
    height: 563px;
    position: fixed;
    z-index: 151;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
