// 遮罩
.m-a-s-k {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: $maskcolor;
    // display: none;

}

// 打勾圈圈圖
.fa-circle-check{
    color: #D25541;
}
// 圖片放大
.resume_zoom{
    width: 400px;
    height: 563px;
    position: fixed;
    z-index: 151;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    button {
        background-color: rgba(255, 255, 255, 0);
        margin-left: 97%;
        .fa-xmark{
            color:white
        }
    }

}

// x圖案鼠標變手指頭
.fa-xmark {
    cursor: pointer;
}

// 彈窗高度跟置中
.resume_wrapper .resume_window{
    position: fixed;
    z-index: 151;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    // transform: translate(-50%, -50%);
    // transform: none;
    // 儲存、刪除、付費內容
.applyfor{
    max-width: 405px;
    width: 100%;
    margin: 0 auto;
  
    .applyTitle{
        justify-content: center;
        text-align: center;
        div {
            .fa-file-circle-plus{
                font-size: 25px;
                @include m(){
                    font-size: 18px;
                }
               
            }
            
        }
    }
    a{
        color: #FFFFFF;
    }
}

}


.messageTitleMain h3{
    font-size: $fontSize02;
    color: $secondary01;
    // padding:$space04;
    margin-bottom: $space04;
   
}

.fa-circle-check{
    color: #D25541;
    margin-right: 5px;
    margin-top: 5px;
}

// 分享
.shareresumeform{
    max-width: 405px;

    .applyTitle{
        width:fit-content;
        margin-left:13%;
        @include m(){
            margin-left:10%;
        }
        #shareresumeform_select{
            width: 160px;
            height: 40px;
            font-size: $fontSize05;
            margin: 0 auto;
        }
    }
    
    .shareresumeform_1{
        width:fit-content;
        margin: 0 auto;
        .fa-earth-asia{
            padding: 30px 0;
        }
        span{
            font-size: $fontSize05;
        }
        .share_ig_fb{
            display: flex;
            align-items: center;
            margin-bottom: 32px;
            h3{
                font-size: $fontSize05;
                margin-right: 20px;
            }
        
            img{
                display: block;
                width: 50px;
                height: 50px;
                margin-right: 20px;
                
            }
        
        }
        .btna3{
            margin: 0 auto;
        }
        
    }

   
}


// 加值
.payplan .btna3{
    margin: 0 auto;
}
    .applyTitle {
        .applyTitle_main{
            display: flex;
            justify-content: space-evenly;
            &:nth-child(3){

                margin-left: 8px;
            }
            input{
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
            h2{
                font-size: $fontSize02;
                color: $secondary01;
                // padding:$space04;
                margin-bottom: $space04;
            
            }
            img{
                width: 30px;
                height: 30px;
                margin: 0 30px;
            }
        }
    }









