// .container-fluid {
//     // outline: 1px solid red;
//     padding-left: 0;
//     padding-right: 0;

// }
.resume_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    // outline: 2px solid red;
}

.resume_banner1 {
    background-color: #EAA565;
    color: white;
    // outline: 2px solid rgb(111, 17, 252);
    height: 125px;
    margin-left: 0;
    margin-right: 0;
    @include m() {
        height: 77px;
    }

}

.resume_banner1 .h1-1 {
    margin-left: 70px;
    font-size: $fontSize01;

    @include m() {
        line-height: 1.6;
        font-size: $R-fontSize04;
        margin-left: 0;
    }

}

.resume_banner2 {
    background-color: #EAA565;
    color: white;
    // outline: 2px solid rgb(64, 17, 252);
    height: 230px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    @include m() {
        height: 119px;
        margin-top: 15px;
    }

}

.resume_banner2 .h1-2 {
    font-size: $fontSize01;
    margin-left: 70px;
    @include m() {
        font-size: $R-fontSize02;
        // margin-top: 35px;
        margin-left: 0;
    }
}

.resume_banner2 .h4-1 {
    margin-top: 3%;
    font-size: $fontSize02;
    margin-left: 70px;
    @include m() {
        margin-top: 5%;
        line-height: 1.3;
        font-size: $R-fontSize04;
        margin-left: 0;
    }
}

.resume_banner2 img {
    @include m() {
        width: 72px;
        height: 92px;
        
    }
}

//  麵包屑
.bread-crumb {
    // outline: 2px solid rgb(64, 17, 252);
    --bs-breadcrumb-divider: '>';
    font-size: 20px;
    margin: 32px 0;
    @include m(){         
        margin: 16px 0;
        margin-left: 10px;
    }
}


.resume {
    margin: 64px 0;
    @include m(){       
        margin: 32px 0;
    }
}

.category{
    // outline: 2px solid rgb(3, 3, 3);
    margin-left: 0;
    margin-right: 0;
    @include m(){       
        margin: 0 10px;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}
.category .col-1 {
    // outline: 2px solid rgb(241, 0, 0);
    padding: 0;
    @include m(){       
        margin: 0 15px;
    }

}

.resume .resume_sample_row{
    margin: 0 auto;
    
}

.resume .resume_sample_row .col{
    padding: 0 12px;
    margin-top: 30px;
    @include m(){   
        // margin: 15px auto 15px auto;
       
    }
}

.resume .resume_card {
    // outline: 2px solid rgb(64, 17, 252);
    width: 18rem;
    @include m(){   
        width: 22rem;    
        margin: 0 auto;
        // outline: 2px solid rgb(64, 17, 252);
    }
}

.resume .resume_card > img {
    width: 100%;
    display: block;
   
}

.resume .card_body {  
    background-color: rgb(255, 255, 255);
    height: 48px;

}

.resume .card_body .row{
    margin-right: 0;
    margin-left: 0;
    padding: 8px 0;
    // outline: 2px solid rgb(64, 17, 252);
}

.resume .card_body span {
    font-size: $fontSize05;
}

.resume .card_body button{
    background-color: rgba(255, 255, 255,0);
}

.fa-heart:before {
    content: "\f004";
    font-size: 30px;
    color: red;   
}

.resume .card_body .resume_zoom_btn {
    
    @include m(){   
        display: none;
    }
}

.resume .pagination-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 60px;
    @include m(){   
        display: none;
    }
}

.resume .pagination-div .pagination-ul{
    display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1 /8;
	grid-row: 1/2;

}

.resume .pagination-div .pagination-ul li{
    margin: 10px 20px;
}

.resume .pagination-div .pagination-ul li a{
    color: #313131;
}