.wrapper_resumeReview{
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

.resumeConsultants{
    
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;
}