.wrapper_resumeReview{
    max-width: 1280px;
    margin: 0 auto;
    // padding: 0 40px;
    

    @include m(){
        max-width: 375px;
        margin: 0 auto;
        padding: 0;
    } 

}

.resumeConsultants{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1280px;

    @include m(){
        width: 350px;
        margin:  0 auto;
    } 
}

// 履歷診療室 搜尋欄
.searchbar{
    background-color: $primary02;
    border-radius: 5px;
    @include m(){
        background-color: transparent;
        border-radius: 0px;
    } 
}

.searchbar{
    display: flex;
    padding: 16px;

    @include m(){
        padding: 0px;
        margin: 0 auto;
        width: 350px;
    } 

    .searchbarInner{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        // background-color: red;
        width: 1200px;
        margin: 0 32px;

        @include m(){
            max-width: 350px;
            padding: 0;
            flex-direction: column;
            margin: 0;
        } 


        .searchbarLeft{
            display: flex;
            width: 500px;
            // background-color: green;
            justify-content: space-between;
            @include m(){
                max-width: 350px;
                justify-content: 0;
                margin-bottom: 8px;
            } 
        }

        .fa-solid{
            margin-left: 32px;
            @include m(){
                margin-left: 0 px;
            } 
        }

        li{
            margin: auto 0 ; 
        }

        .btna8{
            margin-right: 24px;
            @include m(){
                margin-right: 0px;
              
            } 
        }


        .consultantIndustry{
            display: none;
            background-color: white;
            position: absolute;
            z-index: 2;
        }

        .consultantJob{
            display: none;
            background-color: white;
            position:  absolute;
            z-index: 2;
        }

    }
    
}



//履歷診療室 顧問老師
.consultant{

    margin-top: 64px;

    @include m(){
        margin-top: 24px;
    } 

    a{
        transition: all 1s 0 ease;
        overflow: hidden;
        display: block;
        border-radius: 5px 5px 0 0;
    }

    img{
        width: 272px;
        display: block;
        border-radius: 5px 5px 0 0;

        @include m(){
            width: 165px;
        } 
    }

    .consultantSource{
        background: $secondary01;
        color: $secondary02;
        width: 272px;
        margin-bottom: 16px;
        border-radius: 0 0 5px 5px;
        padding-bottom: 16px;

        @include m(){
            width: 165px;
            margin-bottom: 12px;
        } 
        

        h3{
            font-size: $fontSize03;
            margin-left: 16px;
            margin-bottom: 8px;
            padding-top: 16px;
        }
    
        h4{
            font-size: $fontSize05;
            margin-left: 16px;
            margin-bottom: 8px;
        }
        
    }
    

    // hover

    img:hover{
        transform: scale(1.1);
        
        
    }
    
    
}


// 我要健診 橘色彈窗

.resumeReviewCard{
    background-color: $maskcolor;
    z-index: 200;
    height: 100 vh;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;

    @include m(){
       position: absolute;
       background-size: contain;
       height: 2348px;  // 怎麼滿版?
       margin: 0;
    }
}

.card2Inner{
    .resumeChoose{
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;

    }

    .resumeChooseTitle{
        font-size: 30px;
        margin-bottom: 16px;

        @include m(){
          font-size: $R-fontSize04;
          
        }
        
    }

    label{
        margin-bottom: 16px;
    }

    input{
        width: 16px;
        height: 16px;
   
    }

    span{
        font-size: 24px;
        margin-left: 16px;

        @include m(){
            font-size: $R-fontSize05;
        }
    }


    .resumeChooseQuestion{
        font-size: 30px;
        margin-bottom: 16px;

        @include m(){
            font-size: $R-fontSize04;
        }
    }

    textarea{
        width: 504px;
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 1.6;
        font-family: $fontFamily ;
        padding-top: 8px;
        padding-left: 8px;

        @include m(){
           width: 310px;

        }

        
    }

    .mail{
        font-family: arial ;
        width: 504px;
        height: 40px;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 32px;
        font-family: arial;
        padding-left: 8px;

        @include m(){
            width: 310px;

        } 
    }

    .btna3{
        margin: 0 auto;
    }

}

