$editOutline : 2px solid black;

.work_space {
    width: 100%;
    height: 870px;
    background-color: #ffff;

    .work_space_header {
        height: 60px;
        background-color: $primary02;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: 60px;
        align-items: center;
        justify-items: center;

        @include m() {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 60px;

        }

        div {
            font-size: 20px;

            button {
                background-color: rgba(1, 1, 1, 0);
                color: #ffff;

                &:hover {
                    color: $focus01;
                }

                .fa-file-pdf {
                    font-size: 30px;
                }

                .fa-trash-can {
                    font-size: 30px;

                }
            }
        }

        .box_5 {
            grid-column: 17;

            @include m() {
                grid-column: 5;
            }
        }

    }

    .work_space_make {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .resume_model-border {
            padding: 10px;
            background-color: $primary01;
            width: 13rem;
            height: 465px;
            overflow-y: scroll;
            overflow-x: hidden;
            box-shadow: 0px 0px 3px rgba(57, 57, 57, 0.5);
            display: none;

            @include m() {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                width: 100%;
                height: 100%;

            }

            .xmark_btn {
                display: none;

                @include m() {
                    display: block;
                    width: 100%;
                    font-size: 25px;
                }

                .fa-xmark {
                    margin-left: 85%;
                }
            }

            .resume_model {

                width: 166px;
                height: 218px;
                margin: 0 auto 15px auto;
                // margin-bottom: 15px;
                cursor: pointer;

                @include m() {
                    float: left;
                    margin: 10px 14px;

                }

                &:hover {
                    box-shadow: 0px 0px 5px rgba(57, 57, 57, 0.5);
                }

                img {
                    // display: block;
                    width: 166px;
                    height: 218px;
                    // margin: 0 auto;
                    // margin-bottom: 15px;
                    // // outline: 1px solid rgb(43, 0, 255);
                    display: block;

                    @include m() {
                        // margin-bottom: 0;

                    }
                }


            }

            .resume_pay {
                position: relative;

                .resume_model_mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    background-color: $maskcolor;
                }

                .fa-crown {
                    position: absolute;
                    top: 2%;
                    left: 86%;
                    z-index: 15;
                    color: #F0DC21;
                }
            }


        }

        .resume_make {
            grid-column: 2;

            .resume_name_div {
                display: flex;
                // justify-content: center;
                align-items: center;
                margin-top: 20px;
                font-size: 20px;

                label {
                    margin-right: 10px;
                }

                input {
                    width: 13em;
                }

            }

            .work_space_a4 {
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                margin-top: 20px;
                width: 470px;
                height: 670px;
                background-color: #FDEDE9;
                line-height: 1.6;
                padding: 25px;

                @include m() {
                    width: 400px;
                    padding: 15px;
                    line-height: 1.5;
                    height: 650px;
                }

                .work_space_a4_1 {

                    h3 {
                        font-size: 20px;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 16px;
                        }
                    }

                    h4 {
                        font-size: 16px;
                        margin-top: 6px;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 14px;
                            margin-top: 4px;
                        }
                    }

                    h5 {
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-weight: bold;

                        @include m() {
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }

                    p {
                        font-size: 12px;
                        line-height: 1.3;

                    }

                    span {
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                    }

                }

                .work_space_a4_2 {
                    margin-left: 85px;
                    width: 145px;
                    height: 145px;
                    background-color: #ffff;

                    &:hover {
                        outline: $editOutline;
                    }

                    @include m() {
                        width: 125px;
                        height: 125px;
                        margin-left: 51px;
                    }

                    .upload {
                        background-color: rgba(1, 1, 1, 0);
                        width: 100%;
                        height: 100%;
                        // outline: 1px solid red;
                        position: relative;
                        cursor: pointer;

                        input {
                            display: none;

                        }

                        .fa-file-circle-plus {
                            // outline: 1px solid #6f00ff;
                            font-size: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            
                            img {
                                display: block;
                                // margin: auto;
                            }
                        }
                    }

                    .Avatar {
                        // outline: 1px solid rgb(157, 255, 0);
                        width: 100%;
                        height: 100%;
                        position: relative;
                        left: 0px;
                        top: -152px;
                        z-index: 1;
                        cursor: pointer;
                        overflow: hidden;
                        @include m() {
                            top: -132px;
                            
                        }
                        img {
                            display: none;
                            // position: absolute;
                            // top: 50%; left: 50%;
                            // transform: translate(-50%, -50%);
                            /* 取代postion、top、transform 寫法，
                             預設值即為 center center，此行可省 */
                            // object-position: center center;
                            
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            // outline: 1px solid red;

                           
                        }
                        
                    }
                }

                .work_space_a4_3 {
                    margin: 20px auto 0 auto;
                    width: 421px;
                    height: 456px;
                    background-color: #ffff;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 10px;
                    padding: 10px;
                    overflow: hidden;

                    @include m() {
                        width: 367px;
                        height: 475px;
                        margin-top: 15px;
                        gap: 4px;
                    }


                    .work_space_a4_3_3 {
                        margin-top: 10px;
                    }

                    .work_space_a4_3_4 {
                        margin-top: 10px;
                    }

                    h4 {
                        font-size: 18px;
                        margin-bottom: 5px;
                        font-weight: bold;

                        @include m() {
                            font-size: 16px;
                        }
                    }

                    h5 {

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 14px;
                        }
                    }

                    h6 {
                        font-size: 14px;
                        margin: 5px 0;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 12px;
                        }
                    }

                    span {
                        font-size: 14px;
                        margin-right: 5px;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                    }

                    li,
                    p {
                        font-size: 12px;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                    }
                    textarea{
                        font-size: 12px;
                        overflow: hidden;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                    }

                }
            }

        }

    }
}