$editOutline : 2px solid black;

// 這個class 是 model1 要加在resume_make的後面
.work_space .work_space_make .resume_make.model1  {
    
    //背景色
    .work_space_a4{
        background-color: #4973b2;
        padding: 25px 0;

         //個人資料
        .work_space_a4_1{
            order:2;
            width: 50%;
            color: white;
        }

        //大頭照
        .work_space_a4_2 {
            order: 1;
            margin-left: 30px; 
            border-radius: 50%;
                
        }


        //履歷主要內容
        .work_space_a4_3{
            order:3;
            padding-top: 10px;
            // background-color: #4973b2;


            // textarea{
            //     background-color: #e8f0f3;
            // }
        }

        //履歷學歷
        .work_space_a4_3_1{
            order:4;
            // background-color: #e8f0f3;
        }

        // 履歷自傳
        .work_space_a4_3_2{
            order:9;
            // background-color:#FFFFFF;


        }

        // 履歷就學期間自傳
        .work_space_a4_3_3{
            order:8;
            // background-color: #e8f0f3;

        }

        // 履歷工作經歷
        .work_space_a4_3_4{
            order:7;
            // background-color:#FFFFFF;

        }

        // 履歷工作技能
        .work_space_a4_3_5{
            order:6;
            // background-color: #e8f0f3;

        }

        // 履歷語文能力
        .work_space_a4_3_6{
            order:5;
            // background-color:#FFFFFF;
        }

    }   

   
}

// 以上為套用範本

.work_space {
    width: 100%;
    height: 870px;
    background-color: #ffff;

    .work_space_header {
        height: 60px;
        background-color: $primary02;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: 60px;
        align-items: center;
        justify-items: center;

        @include m() {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 60px;

        }

        div {
            font-size: 20px;

            button {
                background-color: rgba(1, 1, 1, 0);
                color: #ffff;

                &:hover {
                    color: $focus01;
                }

                .fa-file-pdf {
                    font-size: 30px;
                }

                .fa-trash-can {
                    font-size: 30px;

                }
            }
        }

        .box_5 {
            grid-column: 17;

            @include m() {
                grid-column: 5;
            }
        }

    }

    .work_space_make {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .resume_model-border {
            padding-top: 15px;
            background-color: $primary01;
            width: 13rem;
            height: 465px;
            overflow-y: scroll;
            overflow-x: hidden;
            box-shadow: 0px 0px 3px rgba(57, 57, 57, 0.5);
            // display: none;
            display: flex;
            flex-wrap: wrap;
            @include m() {
                justify-content: flex-start;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                
            }
            @include m() {
                &::after{
                    content: '';
                    width: 10rem;
                    height: 13rem;
                    margin: 0 auto 0 auto;
                    
                }
    
            }

            .xmark_btn {
                display: none;

                @include m() {
                    display: block;
                    width: 100%;
                    font-size: 25px;
                }

                .fa-xmark {
                    margin-left: 85%;
                }
            }

            .resume_model {

                width: 10rem;
                height: 13rem;
                margin: 0 auto 15px auto;
                // margin-bottom: 15px;
                cursor: pointer;

                @include m() {
                    
                   

                }

                &:hover {
                    box-shadow: 0px 0px 5px rgba(57, 57, 57, 0.5);
                }

                img {
                    // display: block;
                    width: 10rem;
                    height: 13rem;
                    display: block;

                }


            }

            .resume_pay {
                position: relative;

                .resume_model_mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    background-color: $maskcolor;
                }

                .fa-crown {
                    position: absolute;
                    top: 2%;
                    left: 86%;
                    z-index: 15;
                    color: #F0DC21;
                }
            }

            

        }
        
        

        .resume_make {
            grid-column: 2;

            .resume_name_div {
                display: flex;
                align-items: center;
                margin-top: 20px;
                font-size: 20px;
               
                label {
                    margin-right: 10px;
                }

                input {
                    width: 13em;
                    @include m() {
                        width: 10em;

                    }
                }

            }

            .work_space_a4 {
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                margin-top: 20px;
                width: 470px;
                height: 660px;
                // background-color: #c14f33;
                background-color: #FDEDE9;
                line-height: 1.6;
                padding: 25px;
                justify-content: space-between;
                align-items: center;
                @include m() {
                    width: 360px;
                    padding: 15px;
                    line-height: 1.5;
                    height: 572px;
                }

                .work_space_a4_1 {

                    h3 {
                        font-size: 20px;
                        min-height: 20px;
                        // max-width:;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 16px;
                            min-height: 18px;
                        }
                    }

                    h4 {
                        font-size: 16px;
                        margin-top: 6px;
                        min-height: 18px;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 14px;
                            margin-top: 4px;
                            min-height: 14px;
                        }
                    }

                    h5 {
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-weight: bold;
                        min-height: 18px;

                        @include m() {
                            font-size: 12px;
                            margin-top: 5px;
                            min-height: 12px;
                        }
                    }

                    p {
                        font-size: 12px;
                        line-height: 1.3;
                        min-height: 18px;
                        // min-width: 200px;
                    }

                    span {
                        display: inline-block; 
                        min-height: 18px;
                        min-width: 200px;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                        @include m() {
                            min-width: 150px;
                        }
                    }

                }
                .work_space_a4_2 {
                    // margin-left: 85px;
                    width: 145px;
                    height: 145px;
                    background-color: #ffff;

                    &:hover {
                        outline: $editOutline;
                    }

                    @include m() {
                        width: 125px;
                        height: 125px;
                        margin-left: 15px;
                    }

                    .upload {
                        background-color: rgba(1, 1, 1, 0);
                        width: 100%;
                        height: 100%;
                        // outline: 1px solid red;
                        position: relative;
                        cursor: pointer;

                        // input {
                        //     // display: none;

                        // }

                        .fa-file-circle-plus {
                            // outline: 1px solid #6f00ff;
                            font-size: 30px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            
                            img {
                                display: block;
                                // margin: auto;
                            }
                        }
                    }

                    .Avatar {
                        // outline: 1px solid rgb(157, 255, 0);
                        width: 100%;
                        height: 100%;
                        position: relative;
                        left: 0px;
                        top: -152px;
                        z-index: 1;
                        cursor: pointer;
                        overflow: hidden;
                        @include m() {
                            top: -132px;
                            
                        }
                        img {
                            // display: none;
                            // position: absolute;
                            // top: 50%; left: 50%;
                            // transform: translate(-50%, -50%);
                            /* 取代postion、top、transform 寫法，
                             預設值即為 center center，此行可省 */
                            // object-position: center center;
                            
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            // outline: 1px solid red;

                           
                        }
                        
                    }
                }
                
                .work_space_a4_3 {
                    margin: 20px auto 0 auto;
                    width: 421px;
                    height: 440px;
                    background-color: #ffff;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    gap: 10px;
                    padding: 10px;
                    overflow: hidden;

                    @include m() {
                        width: 22rem;
                        height: 23.5rem;
                        margin-top: 15px;
                        grid-template-rows: 7rem 9.5rem 6rem;
                        gap: 4px;
                        
                    }

                    h4 {
                        font-size: 18px;
                        margin-bottom: 5px;
                        font-weight: bold;
                        min-height: 18px;

                        @include m() {
                            font-size: 14px;
                        }
                    }

                    h5 {
                        min-height: 19.19px;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 14px;
                            min-height: 18px;
                            max-width: 135px;
                        }
                    }

                    h6 {
                        font-size: 14px;
                        margin: 5px 0;
                        min-height: 18px;

                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }

                        @include m() {
                            font-size: 12px;
                            min-height: 12px;
                            max-width: 135px;
                        }
                    }

                    span {
                        font-size: 14px;
                        margin-right: 5px;
                        min-height: 18px;
                        // max-width: 135px;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                        @include m() {
                            min-width: 100px;
                        }

                    }

                    li,
                    p {
                        font-size: 12px;
                        min-height: 12px;
                        max-width: 185px;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                        @include m() {
                            min-width: 120px;
                        }

                    }
                    textarea{
                        font-size: 12px;
                        overflow: hidden;
                        resize: none;
                        border: none;
                        background-color: white;
                        &:hover {
                            outline: $editOutline;
                            cursor: pointer;
                        }
                        // &:valid{

                        // }
                        @include m() {
                            width: 9rem;
                        }
                    }

                }
            }

        }

    }
}

.sumEdit{
    margin: auto 0;
    background-color: white;
    // outline: 1px solid red;
    @include m(){
        position:fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    .note-editable {
        overflow-x: hidden;
       
        @include m(){
            height: 120px !important; 
        }
    }
}

#summernote1+.note-editor {
    width: 350px;
    margin: 0 auto;
    // outline: 1px solid rgb(0, 255, 85);
    background-color: white;
    @include m(){
        width: 100%;
        height: 250px;
    }
  }

.sumerbtn{
    margin: 10px auto;
    @include m(){
        margin: 0 auto;
    }
}

.borderStyle{
    outline: $editOutline;
}