.wrapper_resumeReview{
    max-width: 1280px;
    margin: 0 auto;
    // padding: 0 40px;
    

    @include m(){
        max-width: 375px;
        margin: 0 auto;
        padding: 0;
    } 


    .pagination-ul{
        margin: 0 auto;
    }

}



// 履歷診療室 搜尋欄
.searchbar{
    background-color: $primary02;
    border-radius: 5px;
    @include m(){
        background-color: transparent;
        border-radius: 0px;
    } 
}

.searchbar{
    display: flex;
    padding: 16px;

    @include m(){
        padding: 0px;
        margin: 0 auto;
        width: 350px;
    } 

    .searchbarInner{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        // background-color: red;
        width: 1200px;
        margin: 0 32px;

        @include m(){
            max-width: 350px;
            padding: 0;
            flex-direction: column;
            margin: 0;
        } 


        .searchbarLeft{
            display: flex;
            width: 500px;
            // background-color: green;
            justify-content: space-between;
            @include m(){
                max-width: 350px;
                justify-content: 0;
                margin-bottom: 8px;
            } 
        }

        .fa-solid{
            margin-left: 32px;
            @include m(){
                margin-left: 0 px;
            } 
        }

        li{
            margin: auto 0 ; 
        }

        .btna8{
            margin-right: 24px;
            @include m(){
                margin-right: 0px;
              
            } 
        }


        .consultantIndustry{
            
            background-color: white;
            position: absolute;
            z-index: 2;
            height: 310px;
            overflow-y: auto;
            width: 192px;

            @include m(){
                width: 165px;
            }

            
        } 

        .consultantJob{
            
            background-color: white;
            position:  absolute;
            z-index: 2;
            height: 310px;
            overflow-y: auto;
            width: 192px;

            @include m(){
                width: 165px;
            }
        }

    }
    
}





//履歷診療室 顧問老師
// .resumeConsultants{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     max-width: 1280px;

//     @include m(){
//         width: 350px;
//         margin:  0 auto;
//     } 
// }

.resumeConsultants{
    display: grid;
    justify-content: space-between;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fill, 272px);

    @include m(){
        width: 350px;
        margin:  0 auto;
        grid-template-columns: repeat(auto-fill, 165px);
    } 
}




.consultant{

    width: 272px;
    margin-top: 64px;

    @include m(){
        margin-top: 24px;
        margin-bottom: 12px;
        width: 165px;
    } 

    a{
        transition: all 1s 0 ease;
        overflow: hidden;
        display: block;
        border-radius: 5px 5px 0 0;
    }

    img{
        width: 272px;
        display: block;
        border-radius: 5px 5px 0 0;

        @include m(){
            width: 165px;
        } 
    }

    .consultantSource{
        background: $secondary01;
        color: $secondary02;
        width: 272px;
        margin-bottom: 16px;
        border-radius: 0 0 5px 5px;
        padding-bottom: 16px;

        @include m(){
            width: 165px;
            margin-bottom: 12px;
        } 
        

        h3{
            font-size: $fontSize03;
            margin-left: 16px;
            margin-bottom: 8px;
            padding-top: 16px;
        }
    
        h4{
            font-size: $fontSize05;
            margin-left: 16px;
            margin-bottom: 8px;
        }
        
    }
    

    // hover

    img:hover{
        transform: scale(1.1);
        
        
    }
    
    
}

