.student_main{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 350px;
        margin: 0px auto 0px;
    }
    h2{ //"我的履歷"
        font-size: $fontSize01;
        font-weight: bold;
        margin: 40px 0;
        margin-left: 16px;
        @include m(){
            font-size: $R-fontSize01;
            text-align: center;
            margin: 20px 0;
        }
    }
    h3{
        font-size:$fontSize03;
        @include m(){
                font-size:$R-fontSize04;
        }
    }
    h4{
        font-size: $fontSize04;
        @include m(){
            font-size: $R-fontSize04;
        }
    }
    a{
        color: $secondary01;
    }
    .studenMainWrapperTitle{
        position: relative;
        background-color: $primary02;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 26px 70px;
        @include m(){
            flex-wrap: wrap;
            height: 505px;
            padding: 0;           
        }
        img{
            width: 230px;
            border-radius: 11px;
            @include m(){
                width: 110px;
                margin-left: 22px;
            }          
        }
        ul{
            margin-left: 40px;
            @include m(){
                width: 180px;
                margin-left:10px;
                margin-right: 10px;
            }        
        }
        h3{
            font-size: $fontSize03;
            color: white;
            line-height: 1.8;
            @include m(){
                font-size: $R-fontSize05;
            }        
        }
    }
    
    .studenMainWrapperTitle_left{        
        display: flex;
        @include m(){
          padding: 30px 0 0 0;
        }
        .student_photo{ //大頭貼
                .upload{
                    width: 230px;
                    // outline: 1px solid red;
                    // position: relative;
                    cursor: pointer;
                    @include m(){
                        width: 120px;
                    } 
                    input {
                        display: none;
                    }
                    img{ //限制大頭貼的長寬
                        width: 230px;
                        height: 230px;
                    }
                }
        }
        
        //點數
        .coin{
            button{
                padding-right: 16px;
                color: $secondary02;
                background-color: $primary02;
                &:hover{
                    color: $secondary01;
                }
                @include m(){
                    margin-right: 70px; //讓"歷史加值紀錄"換行
                }
            }            
            a{ //歷史加值紀錄
                color:$secondary02;
                margin-right: 16px;
                &:hover{
                    color:#202020;
                }
            }
            @include m(){
                h3{
                    a:first-child{
                        margin-right: 77px;
                    }
                }
            }            
        }
        .btna11{
            height: auto;
            padding: 15px 0;
            margin: 20px 0;
            @include m(){
                font-size: $R-fontSize05;
                position: relative;
                top: -45px;
                left: -140px;
                width: 120px;
                padding: 10px 0;
            } 
            a{
                color:$focus01;
            }   
        }
    }
    
    .studenMainWrapperTitle_right{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        @include m(){
            justify-content: center;
            margin-top: -50px;
        }
        :nth-of-type(4){ //"近期履歷被查閱數"button
            h4{ //"近期履歷被查閱數"
                font-size: 18px; //因為多行，字體大小略小
                // margin-top: 8px;
            }
            h1{
                margin-top: 15px;
            }
        }
        h4{
            font-weight: bold;
        }
        h1{
            margin-top: 15px;
            // font-size: $fontSize01;
            font-size: 16px;
        }
        button{
            margin: 10px 10px;
            width: 130px;
            height: 100px;
            background-color: #FFFFFF;
            border-radius: 5px;
            &:hover{
                background-color: #B5B1A6;
            }
            @include m(){
                // width: 100px;
                // height: 90px;                
            }
        }
        a{
            font-size: $fontSize05 ;
            color: $secondary01;
        }
    }
    
    .resume{ //新增履歷 父層
        display: flex;
        flex-wrap:wrap;
        padding-left: 16px;
        padding-right: 16px;
        @include m(){
            width:352px;
            padding-left: 0;
            padding-right: 0;
            
        }
        .myResume{ //一張履歷
            width: 220px;
            margin-right: 35px;
            border-radius: 5px;
            box-shadow: 2px 2px 10px $secondary01;
            overflow: hidden;
            @include m(){
                width: 160px;
                margin-left: 4px;
                margin-right: 12px;
                margin-bottom: 22px;
            }
            img{
                display: block;
                width: 100%;
            }
            .resumeDetail{ //履歷詳細資料
                height: 48px;
                line-height: 48px;
                background-color: #FFFFFF;
                display: flex;
                justify-content: space-between;
                @include m(){
                    height: 40px;
                    line-height: 40px;
                }
                h3{ //建立日期
                    line-height: 48px;
                    padding-left: 16px;
                    @include m(){
                        line-height: 40px;
                        padding-left: 8px;
                        font-size: 14px;
                    }
                }
                .editicon{
                    display: flex;
                    justify-content: space-between;
                    margin-right: 16px;
                    .fa-solid{
                        font-size: 24px;
                        margin: auto 0;
                        margin-left: 16px;
                        &:hover{
                            cursor: pointer;
                        }
                        @include m(){
                            font-size: 20px;
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
        .studenMainWrapper_resumebottom{ //新增履歷
            button{
                width: 220px;
                height: 352px;
                border-radius: 5px;
                border: 3px dashed #313131;
                @include m(){
                    width: 160px;
                    height: 261px;  
                 }    
            }
            .fa-file-circle-plus{
                font-size: 40px;
                @include m(){
                    font-size: 30px;             
                 }
            }
        } 
    }
    

    //彈窗：加值點數
    .studentaddmoneywrapper{
        .contactUSInner{
            display: block;
        }   
        .cardUl li a{
            color: #ffff;
        }
        .cardInner{
            .studentaddmoney_applyTitle{ //加值方案 父層
                display: flex;
                flex-direction: column;
                align-items: center;
                .applyTitle_main{ //每種加值方案
                    width: 350px; //每筆方案最大寬度
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: $space04;
                    @include m(){
                        width: 260px; //每筆方案最大寬度
                    }
                    .left{ //左半部
                        display: flex;
                        justify-content: start;
                    }
                    .right{
                        display: flex;
                        justify-content: start;
                    }
                    img{ //金幣圖案
                        width: 30px;
                        height: 30px;
                        margin-right: 0px;
                        @include m(){
                            width: 24px;
                            height: 24px;
                            margin-right: 12px;
                        }
                    }
                    input{ //單選radio
                        width: 20px;
                        height: 20px;
                        margin-top: 5px;
                        margin-right: 10px;
                        @include m(){
                            margin-top: 3px;
                        }
                    }
                    h2{
                        font-size: $fontSize02;
                        color: $secondary01;
                        margin-top: 0; //消除student_main原本設定  
                        margin-bottom: 0; //消除student_main原本設定    
                        @include m(){
                            font-size: $R-fontSize03;
                        }                   
                    }
                    .nt{                        
                        @include m(){
                            margin-right: 0;
                        }
                    }                    
                }  
                .a1{ //方案一
                    .nt{
                        padding-right: 28px;
                    }
                    .right img{
                        // margin-right: 34px;
                        @include m(){
                            margin-right: 24px;
                        }
                    }
                }                    
                .a2{ //方案二
                    .nt{
                        padding-right: 28px;
                    }  
                    .right img{
                        // margin-right: 34px;
                        @include m(){
                            margin-right: 24px;
                        }
                    }
                }
            }
            //確認鍵
            .btna3{
                margin: 0 auto;
            }
        }
    }
}



