
.applyfor{
    max-width: 405px;
    width: 100%;
    margin: 0 auto;
  

}

.studentaddmoney_applyTitle .applyTitle_main{
    display: flex;
    justify-content: center;
    img{
        width: 30px;
        height: 30px;
        margin: 0 30px;
    }
}
.applyTitle_main h2{
    font-size: $fontSize02;
    color: $secondary01;
    // padding:$space04;
    margin-bottom: $space04;

}

.fa-circle-check{
    color: #D25541;
}
