.student_main{
    max-width: 1280px;
    width: 100%;
    margin: 32px auto 0px;
    @include m(){
        max-width: 350px;
        margin: 0px auto 0px;
    }
    h2{ //"我的履歷"
        font-size: $fontSize01;
        font-weight: bold;
        margin: 40px 0;
        @include m(){
            font-size: $R-fontSize01;
            text-align: center;
            margin: 20px 0;
        }
    }
    a{
        color: $secondary01;
    }
    .studenMainWrapperTitle{
        position: relative;
        background-color: $primary02;
        height: 300px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 26px 70px;
        @include m(){
            flex-wrap: wrap;
            height: 475px;
            padding: 0;           
        }
        img{
            width: 230px;
            border-radius: 11px;
            @include m(){
                width: 120px;
                margin-right: 10px;
            }          
        }
        ul{
            margin-left: 40px;
            @include m(){
                width: 180px;
                margin-left:10px;
                margin-right: 10px;
            }        
        }
        h3{
            font-size: $fontSize03;
            color: white;
            line-height: 1.8;
            @include m(){
                font-size: $R-fontSize05;
            }        
        }
    }
    
    .studenMainWrapperTitle_left{        
        display: flex;
        @include m(){
          padding: 10px 0 0 0;
        }
        .student_photo{
                .upload{
                    width: 230px;
                    // outline: 1px solid red;
                    position: relative;
                    cursor: pointer;
                    @include m(){
                        width: 120px;
                    } 

                    input {
                        display: none;

                    }

                }





        }

        
        //點數
        .coin{
            button{
                padding-right: 16px;
                color: $secondary02;
                background-color: $primary02;
                @include m(){
                    margin-right: 87px; //讓"歷史加值紀錄"換行
                }
            }            
            a{ //歷史加值紀錄
                color:$secondary02;
                margin-right: 16px;
                &:hover{
                    color:#202020;
                }
            }
            @include m(){
                h3{
                    a:first-child{
                        margin-right: 77px;
                    }
                }
            }            
        }
        .btna11{
            height: auto;
            padding: 15px 0;
            margin: 20px 0;
            @include m(){
                font-size: $R-fontSize05;
                position: relative;
                top: -64px;
                left: -140px;
                width: 120px;
                padding: 10px 0;
            } 
            a{
                color:$focus01;
            }   
        }
    }
    
    .studenMainWrapperTitle_right{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        @include m(){
            justify-content: center;
            margin-top: -50px;
        }
        h1{
            margin-top: 15px;
            font-size: $fontSize01;
        }
        button{
            margin: 10px 10px;
            width: 130px;
            height: 100px;
            background-color: #FFFFFF;
            border-radius: 5px;
            &:hover{
                background-color: #B5B1A6;
            }
            @include m(){
                width: 100px;
                height: 90px;                
            }
        }
        a{
            font-size: $fontSize05 ;
            color: $secondary01;
        }
    }
    
    .studenMainWrapper_resumebottom{ //我的履歷
        display: flex;
        button{
            width: 200px;
            height: 300px;
            border: 3px dashed #313131;
            @include m(){
                width: 145px;
                height: 240px;    
                padding: 10px;
             }    
        }
        .fa-file-circle-plus{
            font-size: 60px;
            @include m(){
                font-size: 30px;             
             }
        }
    } 

    //彈窗：加值點數
    .studentaddmoneywrapper{
        .contactUSInner{
            display: block;
        }   
        .cardUl li a{
            color: #ffff;
        }
        .cardInner{
            .studentaddmoney_applyTitle{ //加值方案 父層
                display: flex;
                flex-direction: column;
                align-items: center;
                .applyTitle_main{ //每種加值方案
                    width: 350px; //每筆方案最大寬度
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: $space04;
                    @include m(){
                        width: 260px; //每筆方案最大寬度
                    }
                    .left{ //左半部
                        display: flex;
                        justify-content: start;
                    }
                    .right{
                        display: flex;
                        justify-content: start;
                    }
                    img{ //金幣圖案
                        width: 30px;
                        height: 30px;
                        margin-right: 20px;
                        @include m(){
                            width: 24px;
                            height: 24px;
                            margin-right: 12px;
                        }
                    }
                    input{ //單選radio
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                    h2{
                        font-size: $fontSize02;
                        color: $secondary01;
                        margin-top: 0; //消除student_main原本設定  
                        margin-bottom: 0; //消除student_main原本設定    
                        @include m(){
                            font-size: $R-fontSize03;
                        }                   
                    }
                    .nt{                        
                        @include m(){
                            margin-right: 0;
                        }
                    }                    
                }  
                .a1{ //方案一
                    .nt{
                        padding-right: 28px;
                    }
                    .right img{
                        margin-right: 34px;
                        @include m(){
                            margin-right: 24px;
                        }
                    }
                }                    
                .a2{ //方案二
                    .nt{
                        padding-right: 28px;
                    }  
                    .right img{
                        margin-right: 34px;
                        @include m(){
                            margin-right: 24px;
                        }
                    }
                }
            }
            //確認鍵
            .btna3{
                margin: 0 auto;
            }
        }
    }
}



