.interviewinviteWrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin: 32px auto 0px;
    @include m(){
        max-width: 375px;
       
        
    }

    h1{
        font-size:$fontSize01;
        font-weight: bold;
        margin-bottom: 32px;
        @include m(){
            text-align: center;
            font-size:$R-fontSize01;
            margin-bottom: 16px;
        }
    }
    .interviewinviteWrapper h1{
        font-size: $fontSize01;
        margin-bottom: 30px;
        @include m(){
            text-align: center;
        }
    }
    .interviewinviteWrapper_1{
        height: 100%;
        background-color: #ffffff;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    
    .interviewinviteWrapperTitle{
        padding: 20px;
        h3{
            font-size: $fontSize03;
            font-weight: bold;
            margin-bottom: 20px;
        }
        p{
            font-size: $fontSize05;
            line-height: 1.2;
        }
    }
    .btna1{
        margin: 0 auto;

        a{
            color: #ffffff;

        }

        
        
    
        @include m(){
            @include btn2(192px ,$fontSize03, $space01,$primary02, $secondary02,5px,$secondary02,$primary02);
        }
    
    }
  
}



