$primary01: #F4F1EC;  // 主色

$primary02: #EAA565; // 主色
$primary02H: #E58C39; // 主色HOVER

$secondary01: #313131; // 輔色
$secondary02: #FFFFFF; // 輔色
$secondary03: black; //字體色

$focus01: #D25541; // 強調色
$focus01H:  #B93520; // 強調色HOVER

$shadow01:#c1c1c1;

$maskcolor: rgba(49, 49, 49,0.8);

body{
    background-color: $primary01;
}







