$primary01: #F4F1EC;  // 主色
$primary01H:#ffeac9; //主色hover

$primary02: #EAA565; // 主色
$primary02H: #E58C39; // 主色HOVER

$primary03: #ffdfc1; // 後台table Hover色

$primary04: #f0b67f; //後台table 詳細資料欄位
$primary04H: #e8a363; //後台table 詳細資料

$secondary01: #313131; // 輔色
$secondary02: #FFFFFF; // 輔色
$secondary03: black; //字體色

$focus01: #D25541; // 強調色
$focus01H:  #B93520; // 強調色HOVER

$shadow01:#c1c1c1;

$maskcolor: rgba(49, 49, 49,0.8);

body{
    background-color: $primary01;
}







