//PC-space
$space01 : 8px;
$space02 : 16px;
$space03 : 24px;
$space04 : 32px;
$space05 : 40px;
$space06 : 48px;
$space07 : 56px;
$space08 : 64px;

//rwd-space
$R-space01 : 4px;
$R-space02 : 8px;
$R-space03 : 12px;
$R-space04 : 16px;
$R-space05 : 20px;
$R-space06 : 24px;
$R-space07 : 28px;
$R-space08 : 32px;
$R-space09 : 36px;
$R-space10 : 40px;


// $space : (
//     'space': 100px //最大數值
// );
// @each $title,$val in $space {
//     @for $i from 0 through 7 {
//         .#{$title}#{$i} {
//             padding-top: $val - ($i*8);
//             padding-bottom: $val - ($i*8);
//         }
//     }
// }