.btn1{
    @include btn1(144px ,$fontSize02, $space01, $primary02, $secondary02,5px,$primary02H,$secondary02);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $primary02H,$secondary02)
    }
}

.btn2{
    @include btn1(144px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,$secondary02);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $focus01H,$secondary02)
    }
}

.btn3{
    @include btn2(144px ,$fontSize02, $space01, $primary02, $secondary02, 5px,$primary02H,$secondary02);
    @include m(){
        @include btn2(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $primary02H,$secondary02)
    }
}

.btn4{
    @include btn2(144px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,$secondary02);
    @include m(){
        @include btn2(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $focus01H,$secondary02)
    }
}

.btn5{
    @include btn1(104px ,$fontSize05, $space01, $secondary02, $focus01,5px,null,null);
    border: 1.5px solid $focus01;
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $focus01, 5px,null,null);
        border: 1.5px solid $focus01;
    }
}

.btn6{
    @include btn1(104px ,$fontSize05, $space01, $focus01, $secondary02,5px,$focus01H,null);
    border: 1.5px solid $focus01;
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $focus01, $secondary02, 5px,$focus01H,null);
        border: 1.5px solid $focus01;
    }
}

.btn7{
    @include btn1(104px ,$fontSize03, $space01, $primary02, $secondary02,5px,$primary02H,null);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px,$primary02H,null);
    }
}

.btn8{
    @include btn1(144px ,$fontSize02, $space01, $secondary02, $primary02,5px,null,null);
    @include m(){
        @include btn1(144px ,$fontSize02, $space01, $secondary02, $primary02, 5px,null,null);
    }
}

.btn9{
    @include btn1(256px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,null);
    @include m(){
        @include btn1(256px ,$fontSize02, $space01, $focus01, $secondary02, 5px,$focus01H,null);
    }
}

.btn10{
    @include btn1(448px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,null);
    height: 60px;
    @include m(){
        @include btn1(256px ,$fontSize02, $space01, $focus01, $secondary02, 5px,$focus01H,null);
        height: 60px;
    }
}

.btn11{
    @include btn3(172px ,$fontSize02, $space01, $secondary02, $focus01,5px,null,null);
    height: 60px;
    @include m(){
        @include btn3(85px ,$fontSize05, $space01, $secondary02, $focus01, 5px,null,null);
        height: 37px;
    }
}

.btn12{
    @include btn1(144px ,$fontSize05, $space01, $secondary02, $focus01,5px,null,null);
    @include m(){
        @include btn1(144px ,$fontSize05, $space01, $secondary02, $focus01, 5px,null,null);
    }
}

.btn13{
    @include btn4(70px ,$fontSize02, $space01, rgba(255, 255, 255, 0), $secondary01,5px,null,$primary02);
    height: 40px;
    @include m(){
        @include btn4(36px ,$fontSize04, $space01, transparent, $secondary01, 5px,$secondary02,null);
        height: 22px;
    }
}


.btn14{
    @include btn2(288px ,$fontSize02, $space01, #DB361B, $secondary02,0px, $focus01H,$secondary02);
    @include m(){
        @include btn2(104px ,$fontSize02, $space01, #DB361B, $secondary02,0px, $focus01H,$secondary02);
       
    }
    margin: 0 auto;
    border: 4px solid black;
    display: block;
    
}

.btn15{
    @include btn2(540px ,$fontSize02, $space01, $secondary02, $primary02,5px,null,null);
    @include m(){
        @include btn2(144px ,$fontSize02, $space01, $secondary02, $primary02, 5px,null,null);
    }
}

.btn16{
    @include btn2(auto ,$fontSize05, $space01, transparent, $secondary02,5px,$primary02,null);
    @include m(){
        @include btn2(36px ,$fontSize05, $space01, transparent, $secondary02, 5px,$secondary02,null);
        height: 22px;
    }
}

