.btna1{
    @include btn1(144px ,$fontSize02, $space01, $primary02, $secondary02,5px,$primary02H,$secondary02);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $primary02H,$secondary02)
    }
}

.btna2{
    @include btn1(144px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,$secondary02);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $focus01H,$secondary02)
    }
}

.btna3{
    @include btn2(144px ,$fontSize02, $space01, $primary02, $secondary02, 5px,$primary02H,$secondary02);
    @include m(){
        @include btn2(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $primary02H,$secondary02)
    }
}

.btna4{
    @include btn2(144px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,$secondary02);
    @include m(){
        @include btn2(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px, $focus01H,$secondary02)
    }
}

.btna5{
    @include btn1(104px ,$fontSize05, $space01, $secondary02, $focus01,5px,null,null);
    border: 1.5px solid $focus01;
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $secondary02, $focus01, 5px,null,null);
        border: 1.5px solid $focus01;
    }
}

.btna6{
    @include btn1(104px ,$fontSize05, $space01, $focus01, $secondary02,5px,$focus01H,null);
    border: 1.5px solid $focus01;
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $focus01, $secondary02, 5px,$focus01H,null);
        border: 1.5px solid $focus01;
    }
}

.btna7{
    @include btn1(104px ,$fontSize03, $space01, $primary02, $secondary02,5px,$primary02H,null);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $secondary02, 5px,$primary02H,null);
    }
}

.btna8{
    @include btn1(144px ,$fontSize02, $space01, $secondary02, $primary02,5px,null,null);
    @include m(){
        @include btn1(350px ,$R-fontSize05, $space01, $primary02, $secondary02, 5px,$primary02H,$secondary02);
        box-shadow: 0px 0px 0px;
        
    }
}


.btna9{
    @include btn1(272px ,$fontSize02, $space02, $focus01, $secondary02,5px,$focus01H,null);
    @include m(){
        @include btn1(165px ,$R-fontSize04, $space02, $focus01, $secondary02, 5px,$focus01H,null);
    }
}

.btna10{
    @include btn1(520px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,null);
    height: 60px;
    @include m(){
        @include btn1(350px ,$fontSize02, $space01, $focus01, $secondary02, 5px,$focus01H,null);
        height: 60px;
    }
}
// 履歷製作
.btna11{
    @include btn3(172px ,$fontSize02, $space01, $secondary02, $focus01,5px,null,null);
    height: 60px;
    @include m(){
        @include btn3(85px ,$R-fontSize05, $R-space01, $secondary02, $focus01, 5px,null,null);
        height: 37px;
    }
}

.btna12{
    @include btn1(144px ,$fontSize05, $space01, $secondary02, $focus01,5px,null,null);
    @include m(){
        @include btn1(144px ,$fontSize05, $space01, $secondary02, $focus01, 5px,null,null);
    }
}
// 履歷範本分類
.btna13{
    @include btn4(70px ,$fontSize02, $space01, rgba(255, 255, 255, 0), $secondary01,5px,null,$primary02);
    height: 40px;
    @include m(){
        @include btn4(46px ,$R-fontSize04, $R-space01, transparent, $secondary01, 5px,$secondary02,null);
        height: 32px;
    }
}


.btna14{
    @include btn2(440px ,$fontSize02, $space01, #DB361B, $secondary02,0px, $focus01H,$secondary02);
    @include m(){
        @include btn2(264px ,$R-fontSize03, $space01, #DB361B, $secondary02,0px, $focus01H,$secondary02);
    }
    margin: 0 auto;
    border: 4px solid black;
    display: block;
    
}

.btna15{
    @include btn2(540px ,$fontSize02, $space01, $secondary02, $primary02,5px,null,null);
    @include m(){
        @include btn2(144px ,$fontSize02, $space01, $secondary02, $primary02, 5px,null,null);
    }
}

.btna16{
    @include btn2(auto ,$fontSize05, $space01, transparent, $secondary02,5px,$primary02,null);
    @include m(){
        @include btn2(36px ,$fontSize05, $space01, transparent, $secondary02, 5px,$secondary02,null);
        height: 22px;
    }
}

.btna17{
    @include btn1(456px ,$fontSize02, $primary02, $primary02, $secondary02,5px,$primary02,null);
    border-width: 0px;
    height: 56px;
    @include m(){
        @include btn1(224px ,$R-fontSize05, $primary02, $primary02, $secondary02, 5px,$secondary02,null);
        height: 32px;
    }
}




.btna18{
    @include btn2(440px ,$fontSize02, $space01, #FFA800, $secondary02,0px, $primary02H,$secondary02);
    @include m(){
        @include btn2(264px ,$R-fontSize03, $space01, #FFA800, $secondary02,0px, $primary02H,$secondary02);
    }
    margin: 0 auto;
    border: 4px solid black;
    display: block;
    font-weight: bold;
    
}



.btna19{
    @include btn1(288px ,$fontSize05, $space01, $secondary02, $focus01,5px,null,null);
    border: 1.5px solid $focus01;
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $primary02, $focus01, 5px,null,null);
        border: 1.5px solid $focus01;
    }
}

.btna20{
    @include btn1(144px ,$fontSize02, $space01, $focus01, $secondary02,5px,$focus01H,$secondary02);
    @include m(){
        @include btn1(104px ,$fontSize05, $space01, $focus01, $secondary02, 5px, $focus01H,$secondary02)
    }
}

.btna21{
    @include btn2(192px ,$fontSize03, $space01,$primary02, $secondary02,5px,$secondary02,$primary02);
    @include m(){
        @include btn2(165px ,$fontSize05, $space01,$primary02, $secondary02, 5px,$secondary02,$primary02);
        
    }

    
   
    
}

.btna22{
    @include btn2(192px ,$fontSize03, $space02,$secondary02, $primary02,null,#dbdbdb,null);
    @include m(){
        @include btn2(165px ,$fontSize05, $space02,$secondary02, $primary02, null, #dbdbdb,null);
        
    }
    text-align: left;
    padding-left: 28px;
}
