//橘色彈窗1
.card{
    @include card(800px);
    .cardUl{ 
        @include cardUl();
        .cardH1{
            @include cardH1($fontSize01);
        }
        .cardXmark{ 
            @include cardXmark(16px);
        }
    }
    .cardInner{ 
        @include cardInner(800px);
    }
    // @include m(){
    //     @include btn1(144px, 4px, white,#EAA565, 5px, #E58C39)
    // }
}

//橘色彈窗2 (履歷健診)
.card2{
    @include card(800px);
    @include m(){
       width: 350px;
    }
    .card2Ul{ 
        @include cardUl();
        @include m(){
           padding: 16px 0;
        }
        .card2H1{
            @include cardH1($fontSize01);

            @include m(){
                font-size: $R-fontSize02;
            }
        }
        .card2Xmark{ 
            @include cardXmark(16px);
            @include m(){
                font-size: $R-fontSize05;
            }
        }
    }
    .card2Inner{ 
        @include cardInner(504px);
        @include m(){
            width: 310px;
            padding: 24px 0;
        }
    }
    // @include m(){
    //     @include btn1(144px, 4px, white,#EAA565, 5px, #E58C39)
    // }
}




//會員登入白色方框 
.logincard{    
    padding-top:$space06;
    padding-bottom:$space05;
    @include disflex(column, center, none);    
    @include logincard(800px);
    //標題文字
    .cardH1{ //主標題
        @include cardH1($fontSize01)
    };    
    @include m(){
        padding-top:$R-space06;
        // padding-bottom:$R-space05;
        @include logincard(352px);
        //標題文字
        .cardH1{
            @include cardH1($R-fontSize01)
        };
    }
    
}

// 職涯測驗白底黑框
.testbox{
    @include testbox();
}

//職涯測驗問題
.testboxQA{
   
    height: 592px;
    margin: 48px auto;
}


.testQA{
    margin-top: 56px;

    .testqusetion{
        margin-bottom: 96px;
    }
}

// 履歷診療室 搜尋欄
.searchbar{
    background-color: $primary02;
    border-radius: 5px;
    @include m(){
        background-color: transparent;
        border-radius: 0px;
    } 
}

//履歷診療室 顧問老師
.consultant{

    margin-top: 64px;

    @include m(){
        margin-top: 24px;
    } 

    a{
        transition: all 1s 0 ease;
        overflow: hidden;
        display: block;
        border-radius: 5px 5px 0 0;
    }

    img{
        width: 272px;
        display: block;
        border-radius: 5px 5px 0 0;

        @include m(){
            width: 165px;
        } 
    }

    .consultantSource{
        background: $secondary01;
        color: $secondary02;
        width: 272px;
        margin-bottom: 16px;
        border-radius: 0 0 5px 5px;
        padding-bottom: 16px;

        @include m(){
            width: 165px;
            margin-bottom: 12px;
        } 
        

        h3{
            font-size: $fontSize03;
            margin-left: 16px;
            margin-bottom: 8px;
            padding-top: 16px;
        }
    
        h4{
            font-size: $fontSize05;
            margin-left: 16px;
            margin-bottom: 8px;
        }
        
    }
    
   
   
    

    // hover

    img:hover{
        transform: scale(1.1);
        
        
    }
    
    
}