//橘色彈窗1
.card{
    @include card();    
    @include m(){
        max-width: 375px;
        width: 100%;
    }
    .cardUl{ 
        @include cardUl();
        @include m(){
            padding: 24px 0;
        }
        .cardH1{
            @include cardH1($fontSize01);
            @include m(){
                font-size: $R-fontSize01;
            }
        }
        .cardXmark{ 
            @include cardXmark(16px);
        }
    }
    .cardInner{ 
        @include cardInner(800px);
        @include m(){
            padding: 20px 0;
            max-width: 375px;
            width: 100%;
        }
    }    
}

//橘色彈窗2 (履歷健診)
.card2{
    @include card();
    @include m(){
       width: 350px;
    }
    display: none;
    .card2Ul{ 
        @include cardUl();
        @include m(){
           padding: 16px 0;
        }
        .card2H1{
            @include cardH1($fontSize01);

            @include m(){
                font-size: $R-fontSize02;
            }
        }
        .card2Xmark{ 
            @include cardXmark(16px);
            @include m(){
                font-size: $R-fontSize05;
            }
        }
    }
    .card2Inner{ 
        @include cardInner(504px);
        @include m(){
            width: 310px;
            padding: 24px 0;
        }
    }
    // @include m(){
    //     @include btn1(144px, 4px, white,#EAA565, 5px, #E58C39)
    // }
}

//橘色彈窗3 (資訊量少)
.card3{
    @include card();    
    max-width: 650px;
    z-index: 200;
    @include m(){
        max-width: 375px;
        width: 100%;
    }
    .cardUl{ 
        @include cardUl();
        @include m(){
            padding: 24px 0;
        }
        .cardH1{
            @include cardH1($fontSize01);
            @include m(){
                font-size: $R-fontSize01;
            }
        }
        .cardXmark{ 
            @include cardXmark(16px);
        }
    }
    .cardInner{ 
        @include cardInner(100%);
        @include m(){
            padding: 20px 0;
            max-width: 375px;
            width: 100%;
        }
    }    
}



//會員登入白色方框 
.logincard{    
    padding-top:$space06;
    padding-bottom:$space05;
    @include disflex(column, center, none);    
    @include logincard(800px);
    //標題文字
    .cardH1{ //主標題
        @include cardH1($fontSize01)
    };    
    @include m(){
        padding-top:$R-space06;
        // padding-bottom:$R-space05;
        @include logincard(352px);
        //標題文字
        .cardH1{
            @include cardH1($R-fontSize01)
        };
    }
    
}





