//橘色彈窗
.card{
    @include card(800px);
    .cardUl{ 
        @include cardUl();
        .cardH1{
            @include cardH1($fontSize01);
        }
        .cardXmark{
            @include cardXmark(16px);
        }
    }
    .cardInner{ 
        @include cardInner(800px);
    }
    // @include m(){
    //     @include btn1(144px, 4px, white,#EAA565, 5px, #E58C39)
    // }
}

//會員登入白色方框 未使用
.logincard{
    @include logincard(1152, 624);
    @include m(){
        @include logincard(352, 208);
    }
    padding: 20px 0;

}