.input01{
    @include input01();
    .inputText{ //表單欄位
        @include inputText(448px);
    }
    @include m(){
        .inputText{
            @include inputText(224px);
        }
    }
}
.inputAlert{ //警告訊息
    @include inputAlert(block, -32px); //(display狀態, margin-top數值)
    @include m(){
        @include inputAlert(block, -20px);
    }        
}
.inputsearch{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    @include input01();    
    .fa-magnifying-glass{
        @include fa-magnifying-glass();
    }
    .inputText{ 
        @include inputText(220px);
        padding-left: 36px;
        margin-bottom: 0; //消除原設
    }
}