//有陰影按鈕
@mixin btn1($w ,$f, $p, $bgc, $c, $r:null,$bgch:null,$ch:null){
    width:$w ;
    font-size: $f;
    font-family: $fontFamily;
    padding:$p 0;
    background-color: $bgc;
    color: $c;
    box-shadow:4px 4px 4px $shadow01;
    border-radius: $r;
    text-align: center;
    cursor: pointer;
    
    &:hover {
        background-color: $bgch;
        color: $ch;
        box-shadow: 0px 0px 0px;
        transform: translateX(4px);
    }
}


//無陰影按鈕
@mixin btn2($w ,$f, $p, $bgc, $c, $r:null,$bgch,$ch){
    width:$w ;
    font-size: $f;
    font-family: $fontFamily;
    padding:$p 0;
    background-color: $bgc;
    color: $c;
    border-radius: $r;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $bgch;
        color: $ch;
    }
}

// 履歷製作
@mixin btn3($w ,$f, $p, $bgc, $c, $r:null,$bgch,$ch){
    width:$w ;
    font-size: $f;
    padding:$p 0;
    background-color: $bgc;
    color: $c;
    box-shadow:4px 4px 4px $shadow01;
    border: 0;
    // box-shadow:4px 4px 4px rgba($color: #313131, $alpha: 0.3);
    border-radius: $r;
    text-align: center;
    cursor: pointer;
    
    &:hover {
        box-shadow: 0px 0px 0px;
        transform: translateX(4px);
    }
}

// 履歷範本分類
@mixin btn4($w ,$f, $p, $bgc, $c, $r:null,$bgch,$ch){
    width:$w ;
    font-size: $f;
    padding:$p;
    background-color: $bgc;
    color: $c;
    // box-shadow:4px 4px 4px $shadow01;
    border: 0;
    // box-shadow:4px 4px 4px rgba($color: #313131, $alpha: 0.3);
    border-radius: $r;
    text-align: center;
    cursor: pointer;
    
    &:hover {
        background-color: $bgch;
        color: $ch;
        // box-shadow: 0px 0px 0px;
        // transform: translateX(4px);
    }
}

//橘色彈窗
@mixin card ($w){
    width:$w ;
    background-color: #F4F1EC;
    margin: 100px auto 0;
    border-radius: 5px;
}

@mixin cardInner($w){
    width: $w;
    margin: 0 auto;
    padding: 40px 0;
    color: #313131;
}

@mixin cardUl(){
    background-color: #EAA565;
    color: white;
    padding: 32px 0;
    border-radius: 5px 5px 0 0;
    position: relative;
}

@mixin cardH1($fz){
    font-size: $fz;
    text-align: center;
}

@mixin cardXmark($r){
    font-size: 24px;
    text-align: center;
    position: absolute;
    right: $r;
    top: 8px;
}




@mixin indexBgc01($bgc1){
    background-color:$bgc1;
}

@mixin section1($dis){
    display: $dis;
    justify-content: center;
    align-items: center;
}

//會員登入白色方框
@mixin logincard($w){    
    width: $w;
    background-color:$secondary02;
    border-radius: 5px;
    margin: 0 auto;
}

//表單input01
@mixin input01(){
    position: relative; //alert定位用

}
@mixin inputText($w){ 
    height:$space06;
    width:$w;    
    font-size:$fontSize04;
    background-color:$secondary02;
    border-radius: 5px;
    border-width:0.5px;
    padding-left: $space01;
    margin-bottom: $space05;
    @include m(){
        height:$R-space09;
        font-size:$R-fontSize05;
        padding-left: $R-space01;        
        margin-bottom: $R_space07;
    }
}
@mixin inputAlert($dis, $margint){ 
    display:$dis;
    margin-top:$margint; //到input的距離
    color:$primary02;
    font-size: $fontSize04;
    position: absolute;    
    z-index: 2;  
}

//排版display:flex
@mixin disflex($direction, $align, $justify){
    display: flex;
    flex-direction:$direction;
    align-items:$align;
    justify-content:$justify;
}


// 職涯測驗白底黑框
@mixin testbox {
    margin: 16px auto;
    background-color: $secondary02;
    border: 6px solid $secondary01;
    width: 800px;
    padding: 32px 0;

}





//手機板

@mixin m(){
    @media screen and (max-width: 428px) {
        @content;    
    }
}
